<?php  
  $templates = $this->TemplateDB();
  $tempPath =  $templates->getPath(3);
  $temp_id = $templates->getTemId();
?><!DOCTYPE html>
<html <?=($this->checkLangSite($this->siteLang))?'dir="rtl"':''?> lang="<?=$this->siteLangCode['language_code']?>>

<head>
    <meta charset="utf-8">
    <title><?php echo $templates->getMeta('title','Professional Translation Online | Smartlation.com') ?></title>
    <meta name="description" content="<?php echo $templates->getMeta('meta_desc') ?>">
    <meta name="keywords" content="<?php echo $templates->getMeta('meta_key') ?>">
    <meta name="author" content="Kompyle Technologies">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Color Pickr -->
   
    <!-- Bootstrap -->
    <link href="<?=$tempPath?>/includes/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- WOW JS Animation -->
    <link rel="stylesheet" href="<?=$tempPath?>/includes/wow-js/animations.css" />
    <!-- Litebox  -->
    <link rel="stylesheet" href="<?=$tempPath?>/includes/litebox/litebox.css" />
    <!-- Owl Carousel -->
    <link rel="stylesheet" href="<?=$tempPath?>/includes/owl-carousel/owl.carousel.css" />
    <!-- custom css -->
    <link href="<?=$tempPath?>/css/style.css" rel="stylesheet" type="text/css" media="screen">
    <link href="<?=$tempPath?>/css/media.css" rel="stylesheet" type="text/css" media="screen">
    <link href="<?=$tempPath?>/css/fileinput.css" rel="stylesheet" type="text/css" media="screen">
    <link href="<?=$tempPath?>/css/fileinput.min.css" rel="stylesheet" type="text/css" media="screen">
    <!-- font awesome for icons -->
    <link href="<?=$tempPath?>/includes/font-awesome-4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- Web Fonts -->
    <link href='https://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
    <?php $ico = $this->getFavicontempl(); ?>
    <?php if(!is_null($ico)){ ?>
    <!-- Favicons -->
    <link rel="icon" href="<?=$ico?>">
    <?php } ?>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="<?=$tempPath?>/js/fileinput.js" type="text/javascript"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js" type="text/javascript"></script>

    <!--[if lte IE 8]>
			<link rel="stylesheet" type="text/css" href="css/fucking-ie-8-and-lower.css" />
		<![endif]-->



    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
</head>

<body id="body" class="<?=($this->checkLangSite($this->siteLang))?'site-right':''?>">

    

    <nav id="navigation">
        <div id="bg2nav" class="navbar navbar-default navbar-static-top change_bg" role="navigation" style="<?=$templates->getData('bg2nav')?>">
            <div class="container">
                <div class="<?=($this->checkLangSite($this->siteLang))?'siteright':''?> navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/"><img class="cnange_img" id="logo" src="<?=$templates->getData('logo')?>" height="30px;"" style="margin-top:-10px;" /></a>
                </div>
                <div class="navbar-collapse collapse">

                    <ul class="nav navbar-nav <?=($this->checkLangSite($this->siteLang))?'navbar-left':'navbar-right'?>">
                    
                        <?php if($templates->chekData('link1_block')) { ?>
                        <li class="link1_block"><a href="/" style="<?=$templates->getData('link1_style')?>" id="link1" data-id="link1" class="edit_link"><?=$templates->getData('link1')?></a></li>
                        <?php } ?>
                        <?php if($templates->chekData('link11_block')) { ?>
                        <li class="link11_block">
                          <a href="/#about-us" style="<?=$templates->getData('link11_style')?>" id="link11" data-id="link11" class="edit_link" ><?=$templates->getData('link11')?></a>
                        </li>
                        <?php } ?>
                        <?php if($templates->chekData('link13_block')) { ?>
                        <li class="link13_block">
                          <a href="/#services" id="link13" style="<?=$templates->getData('link13_style')?>" data-id="link13" class="edit_link" ><?=$templates->getData('link13')?></a>
                        </li>
                        <?php } ?>
                        <?php if($templates->chekData('link10_block')) { ?>
                        <li class="link10">
                          <a href="/#contact" id="link10" style="<?=$templates->getData('link10_style')?>" data-id="link10" class="edit_link"><?=$templates->getData('link10')?></a>
                        </li>
                        <?php } ?>
                    </ul>

                </div>
                <!--/.nav-collapse -->
            </div>
            <!--/.container -->
        </div>
        <!--navbar-default-->
    </nav>
    <!--navigation section end here-->

    <section id="about" <?=$templates->getData('about')?> style="padding-top: 10px;">
        <div class="container">
            <center>
    <div class="tiitle-page">
    <h3><?=$this->checkData($this->data, 'text1', 'Order Details')?></h3>

  </div><!-- tiitle-page -->
      
      </center>
  <div class="revieworder-block">
      
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        
        <p><?=$this->error?></p>
        <table class="table form_payment  <?=(isset($this->pocesing))?'hide':''?>" style=" width: 70%; margin: auto; margin-bottom: 20px;">
          <tr>
            <th><?=$this->checkData($this->data, 'text2', 'File name:')?></th>
            <td style="color: #23af23;">
              <?php foreach($this->files as $file){ ?>
              <?=$file['last_name']?></br>
              <?php } ?>
            </td>
          </tr>
          <tr>
            <th><?=$this->checkData($this->data, 'text3', 'Source Language:')?></th>
            <td style="color: #23af23;">
              <?=$this->sourse?>
            </td>
          </tr> 
          <tr>
            <th><?=$this->checkData($this->data, 'text4', 'Destination Language:')?></th>
            <td style="color: #23af23;">
              <?=$this->dest?>
            </td>
          </tr> 
          <tr>
            <th><?=$this->checkData($this->data, 'text5', 'Final Price after Promotional Discount:')?></th>
            <td style="color: #23af23;">
              <span class="price_usd"><?=$this->price?></span> USD <?php if(isset($this->sek)) { ?>( <span class="price_sek"><?=$this->sek; ?></span> SEK) <?php } ?>
            </td>
          </tr> 
          <tr>
            <th><?=$this->checkData($this->data, 'text32', 'Due date:')?></th>
            <td style="color: #23af23;">
              <span class="deadlinedays"><?=$this->days?></span> 
              <span class="daytext <?=($this->days > 1)?'hide':''?>"><?=$this->checkData($this->data, 'text34', 'day')?></span>
              <span class="daystext <?=($this->days < 2)?'hide':''?>"><?=$this->checkData($this->data, 'text33', 'days')?></span>
            </td>
          </tr> 
        </table>
        <?php if(isset($this->pocesing)){ ?>
        <p class="wait"><img src="/images/loading.gif" ><?=$this->checkData($this->data, 'text36', 'Please wait')?></p>
        <input type="hidden" id="order_id" value="<?=$this->order_id?>" />
        <input type="hidden" id="process" value="1" />
        <?php } ?>

    </div><!-- col-md-8 -->
 
      </div><!-- row -->
    <form method="POST" action="/checkout?id=<?=$this->order_id?>">
  <div class="row ckut-box form_payment <?=(isset($this->pocesing))?'hide':''?>">
    <div class="col-md-12">
      <div class="pers-detals bgcg" style="padding-top: 5px;padding-bottom: 0px;margin-top: 5px;">
        <h4><?=$this->checkData($this->data, 'text6', 'Personal Details')?></h4>
        <div class="row">
          <div class="col-sm-3">
            <div class="form-group">
              <label class="label-input" for="ffirstname"><?=$this->checkData($this->data, 'text7', 'First Name')?></label>
              <input type="text" class="form-control" name="ffirstname" id="ffirstname" value="" required placeholder="<?=$this->checkData($this->data, 'text7', 'First Name')?>">
            </div><!-- form-group -->
          </div><!-- col-sm-3 -->
          <div class="col-sm-3">
            <div class="form-group">
              <label class="label-input" for="flastname"><?=$this->checkData($this->data, 'text8', 'Last Name')?></label>
              <input type="text" class="form-control" name="flastname" id="flastname" value="" required placeholder="<?=$this->checkData($this->data, 'text8', 'Last Name')?>">
            </div><!-- form-group -->
          </div><!-- col-sm-3 -->
          <div class="col-sm-3">
            <div class="form-group">
              <label class="label-input" for="femail"><?=$this->checkData($this->data, 'text9', 'Email Address')?></label>
              <input type="email" class="form-control" name="femail" id="femail" value=""  required placeholder="<?=$this->checkData($this->data, 'text9', 'Email Address')?>">
            </div><!-- form-group -->
          </div><!-- col-sm-3 -->
          <div class="col-sm-3">
            <div class="form-group">
              <label class="label-input" for="femail2"><?=$this->checkData($this->data, 'text10', 'E-mail Confirmation')?></label>
              <input type="email" class="form-control" name="femail2" id="femail2" value=""  autocomplete="off" required placeholder="<?=$this->checkData($this->data, 'text10', 'E-mail Confirmation')?>">
            </div><!-- form-group -->
          </div><!-- col-sm-3 -->
        </div><!-- row -->
      </div><!-- pers-detals -->
    </div><!-- col-md-6 -->
  </div><!-- row -->

    <div class="row ckut-box form_payment <?=(isset($this->pocesing))?'hide':''?>">
    <div class="col-lg-12">
      <div class="bgcg cart-pp">
        <div class="row">
          <div class="col-sm-6 bbr">
            <h4><?=$this->checkData($this->data, 'text11', 'Checkout With Credit Card')?></h4>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label class="label-input" for="ccno"><?=$this->checkData($this->data, 'text12', 'Card Number')?></label>
                  <input type="text" class="form-control" name="ccno" id="ccno" autocomplete="off" placeholder="XXXX-XXXX-XXXX-XXXX">
                </div><!-- form-group -->
              </div><!-- col-sm-6 -->
              <div class="col-sm-6">
                <div class="checkout-box">
                  <ul>
                    <li><a href="#"><img src="<?=$tempPath?>/img/visa.png" alt=""></a></li>
                    <li><a href="#"><img src="<?=$tempPath?>/img/ae.png" alt=""></a></li>
                    <li><a href="#"><img src="<?=$tempPath?>/img/master.png" alt=""></a></li>
                  </ul>
                </div><!-- checkout-box -->
              </div><!-- col-sm-6 -->
            </div><!-- row -->
            
            <input type="hidden" name="currency" value="1">
            <input type="hidden" name="sum" value="<?=$this->price?>">
            
            <div class="row">
              <div class="col-sm-6">
                <div class="row">    
                  <div class="col-xs-6">
                    <div class="form-group">
                      <label class="label-input" for="expmonth"><?=$this->checkData($this->data, 'text13', 'Expiration')?></label>
                      <input type="text" class="form-control" name="expmonth" id="expmonth" placeholder="MM" maxlength="2">
                    </div><!-- form-group -->
                  </div><!-- col-xs-6 -->
                  <div class="col-xs-6">
                    <div class="form-group">
                      <label class="label-input" for="expyear"> &nbsp;</label>
                      <input type="text" class="form-control" name="expyear" id="expyear" placeholder="YY" maxlength="2">
                    </div><!-- form-group -->
                  </div><!-- col-xs-6 -->
                </div><!-- row -->
              </div><!-- col-sm-6 -->
            </div><!-- row -->
            <div class="row">
              <div class="col-sm-6">
                <div class="row">
                  <div class="col-xs-6">
                    <div class="form-group">
                      <label class="label-input" for="mycvv"><?=$this->checkData($this->data, 'text14', 'CVV')?></label>
                      <input type="text" class="form-control"  name="mycvv" id="mycvv" maxlength="4"  placeholder="***">
                    </div><!-- form-group -->
                  </div><!-- col-xs-6 -->
                </div><!-- row -->
              </div><!-- col-sm-6 -->
            </div><!-- row -->
            <div class="row">
              <div class="col-sm-3"></div>
              <div class="col-sm-6">
                <button class="btn btn-success" style="margin-top:24px;<?=$templates->getData('btn1_style')?>"  id="submitbtn" name="submitbtn" onclick="ichecknrun(required,'cc');" ><?=$this->checkData($this->data, 'text15', 'Place Order')?></button>
              </div><!-- col-sm-6 -->
              <div class="col-sm-3"></div>
            </div><!-- row -->
          </div><!-- col-sm-6 -->
          </form>
          <div class="col-sm-6 bbl">
            <h4><?=$this->checkData($this->data, 'text16', 'Checkout With PayPal')?></h4>
            <div class="row">
              <div class="col-sm-3"></div>
              <div class="col-sm-6">
                <form method="post" action="https://www.sandbox.paypal.com/cgi-bin/webscr">
                  <input name="cmd" type="hidden" value="_xclick" />
                  <input name="business" type="hidden" value="gil@igmi.co.il" />
                  <input name="item_name" type="hidden" value="adw_<?=$this->order_id?>" />
                  <input name="item_number" type="hidden" value="<?=$this->order_id?>" />
                  <input name="invoice" type="hidden" value="<?=$this->order_id?>" />
                  <input name="amount" id="amout" type="hidden" value="<?=$this->price;?>" />
                  <input name="no_shipping" type="hidden" value="1" />
                  <input name="rm" type="hidden" value="2" />
                  <input name="lc" type="hidden" value="<?='USD'?>" />
                  <input name="charset" type="hidden" value="utf-8" />
                  <input name="return" type="hidden" value="https://<?=$this->domain?>/page/?InvId=<?=$this->order_id?>" />
                  <input name="cancel_return" type="hidden" value="https://<?=$this->domain?>/checkout/fail/?InvId=<?=$this->order_id?>" />
                  <input name="currency_code" type="hidden" value="<?='USD'?>" />
                  <input name="notify_url" type="hidden" value="https://<?=$this->domain?>/checkout/result/" />
                <input type="submit" class="checkout_button checkout_paypal_all" name="submitpaypal" alt="" value="">
                </form>
              </div><!-- col-sm-6 -->
              <div class="col-sm-3"></div>
            </div><!-- row -->
          </div><!-- col-sm-6 -->
        </div><!-- row -->
      </div><!-- bgcg -->
    </div><!-- col-lg-12 -->
  </div><!-- row -->


  <div class="row ckut-box">
    <div class="col-md-12">
      <div class="promo-box bgcg">
        <!--h4>If you have a promotional code please enter it in the field below</h4-->
        <div class="row">
          <div class="col-sm-12">
            <p class="green-txt">
            </p><!-- green-txt -->
          </div><!-- col-sm-12 -->
          <div class="col-sm-3"></div>
                    <form method="POST">
            <div class="col-sm-3">
              <div class="form-group">
                <label class="label-input" for="promocode"><?=$this->checkData($this->data, 'text17', 'Do you have a promotional code?')?></label>
                <input type="text" class="form-control" name="promocode" id="promocode" autocomplete="off" placeholder="">
                  
              </div><!-- form-group -->
            </div><!-- col-sm-3 -->
            <div class="col-sm-3">
              <input type="submit " style="margin-top:24px;<?=$templates->getData('btn1_style')?>" name="submitpromo" class="btn btn-success" value="<?=$this->checkData($this->data, 'text18', 'update price')?>" />
            </div><!-- col-sm-3-->
          </form>
                    <div class="col-sm-3"></div>
        </div><!-- row -->
      </div><!-- promo-box -->
    </div><!-- col-md-6 -->
  </div>

      
  
  </div><!-- revieworder-block -->
  </div><!-- container-fluid -->
</section><!-- content -->




     <section id="footer" class="change_bg" style="<?=$templates->getData('footer')?>">
        <div class="footer_top">
            <div class="container">
                <div class="row">
                   <?php if($this->checkLangSite($this->siteLang)){$widtjet = 'left';}else{$widtjet = 'right';}?>
                   <?php if($templates->chekData('1_blc1')) { ?>
                   <div id="1_blc1" class="col-lg-3 col-md-3 edit_block">
                        <!-- widgets column left -->
                        <ul class="list-unstyled clear-margins">
                            <!-- widgets -->

                            <li class="widget-container widget_nav_menu">
                                <!-- widgets list -->

                                <h1 style="<?=$templates->getData('1_txt37_style')?>" class="title-widget edit_text" id="1_txt37"><?=$templates->getData('1_txt37')?></h1>
                                <ul>
                                    <li><a href="/#services"><i class="fa fa-angle-double-<?=$widtjet?>"></i> <span style="<?=$templates->getData('1_txt22_style')?>" class="edit_text" id="1_txt22"><?=$templates->getData('1_txt22')?></span></a></li>
                                    <li><a href="#" data-toggle="modal" data-target="#mod_how"><i class="fa fa-angle-double-<?=$widtjet?>"></i> <span style="<?=$templates->getData('1_txt23_style')?>" class="edit_text" id="1_txt23"><?=$templates->getData('1_txt23')?></span></a></li>
                                </ul>
                            </li>
                        </ul>


                    </div>
                    <?php } ?>
                    <?php if($templates->chekData('1_blc2')) { ?>
                    <!-- widgets column left end -->
                     <div id="1_blc2" class="col-lg-3 col-md-3 edit_block">
                        <!-- widgets column left -->
                        <ul class="list-unstyled clear-margins">
                            <!-- widgets -->
                            <li class="widget-container widget_nav_menu">
                                <!-- widgets list -->
                                <h1 style="<?=$templates->getData('1_txt38_style')?>" class="title-widget edit_text" id="1_txt38"><?=$templates->getData('1_txt38')?></h1>
                                <ul>
                                    <li><a href="#"><i class="fa fa-angle-double-<?=$widtjet?>"></i> <span style="<?=$templates->getData('1_txt27_style')?>" class="edit_text" id="1_txt27"><?=$templates->getData('1_txt27')?></span></a></li>
                                    <li><a href="#" data-toggle="modal" data-target="#mod_projman"><i class="fa fa-angle-double-<?=$widtjet?>"></i> <span style="<?=$templates->getData('1_txt29_style')?>" class="edit_text" id="1_txt29"><?=$templates->getData('1_txt29')?></span></a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <?php } ?>
                    <?php if($templates->chekData('block3')) { ?>
                    <!-- widgets column left end -->
                     <div id="block3" class="col-lg-3 col-md-3 edit_block">
                        <!-- widgets column left -->
                        <ul class="list-unstyled clear-margins">
                            <!-- widgets -->

                            <li class="widget-container widget_nav_menu">
                                <!-- widgets list -->

                                <h1 style="<?=$templates->getData('1_txt39_style')?>" class="title-widget edit_text" id="1_txt39"><?=$templates->getData('1_txt39')?></h1>

                                <ul>
                                    
                                    <li><a href="#" data-toggle="modal" data-target="#mod_faq"><i class="fa fa-angle-double-<?=$widtjet?>"></i> <span style="<?=$templates->getData('1_txt31_style')?>" class="edit_text" id="1_txt31"><?=$templates->getData('1_txt31')?></span></a></li>
                                    <li><a href="/#contact"><i class="fa fa-angle-double-<?=$widtjet?>"></i> <span style="<?=$templates->getData('1_txt32_style')?>" class="edit_text" id="1_txt32"><?=$templates->getData('1_txt32')?></span></a></li>
                                </ul>

                            </li>

                        </ul>


                    </div>
                    <!-- widgets column left end -->
                    <?php } ?>
                    <?php if($templates->chekData('block4')) { ?>
                    <div id="block4" class="col-lg-3 col-md-3 edit_block">
                        <!-- widgets column left -->
                        <ul class="list-unstyled clear-margins">
                            <!-- widgets -->

                            <li class="widget-container widget_nav_menu">
                                <!-- widgets list -->

                                <h1 style="<?=$templates->getData('1_txt40_style')?>" class="title-widget edit_text" id="1_txt40"><?=$templates->getData('1_txt40')?></h1>

                                <ul>
                                    <li><a href="#"  data-toggle="modal" data-target="#myModal"><i class="fa fa-file"></i> <span style="<?=$templates->getData('1_txt33_style')?>" class="edit_text" id="1_txt33"><?=$templates->getData('1_txt33')?></span></a></li>
                                    
                   
                                </ul>

                            </li>

                        </ul>


                    </div>
                    <?php } ?>
                    <!-- widgets column left end -->
                    <!-- Modal -->
                    <div id="myModal" class="modal fade" role="dialog">
                      <div class="modal-dialog">
                    
                        <!-- Modal content-->
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Supported File Formats</h4>
                          </div>
                          <div class="modal-body">
                            <p><span style="color:#57bddb; font-weight:700;">Text Files:</span> *.txt, *.doc, *.docx, *.pdf, *.xls, *.xlsx, *.ppt, *.pptx</p>
                            <p><span style="color:#57bddb; font-weight:700;">Images Files:</span> *.jpg, *.png, *.gif, *.tif, *.tiff</p>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          </div>
                        </div>
                    
                      </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <footer id="3_bg23" class="change_bg" style="margin-top:10px;<?=$templates->getData('3_bg23')?>">
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-sm-9">
                    <div class="footer-copyright">
                        <p>
                            <a href=""><img src="<?=$templates->getData('logo')?>" height="17px;"></a> &copy; 2015 | <a href="">Terms & Conditions</a>                            | <a href="">Privacy Policy</a></p>
                    </div>
                </div>
                <!--copyright col end-->

                <div class="col-md-3 col-sm-3">
                    <div class="footer_mid pull-right">
                        <ul class="social-contact list-inline">
                            <?php if($templates->chekData('soc1')) { ?>
                            <li id="soc1"> 
                                <a id="soc1_link" data-id="soc1" href="<?=$templates->getData('soc1_link')?>" class="edit_soc"><i class="fa fa-facebook"></i></a>
                            </li>
                            <?php } ?>
                            <?php if($templates->chekData('soc2')) { ?>
                            <li id="soc2"> 
                                <a id="soc2_link" data-id="soc2" href="<?=$templates->getData('soc2_link')?>" class="edit_soc"><i class="fa fa-twitter"></i></a>
                            </li>
                            <?php } ?>
                            <?php if($templates->chekData('soc3')) { ?>
                            <li id="soc3"> 
                                <a id="soc3_link" data-id="soc3" href="<?=$templates->getData('soc3_link')?>" class="edit_soc"><i class="fa fa-google-plus"></i> </a>
                            </li>
                            <?php } ?>
                            <?php if($templates->chekData('soc4')) { ?>
                            <li id="soc4">
                                <a id="soc4_link" data-id="soc4" href="<?=$templates->getData('soc4_link')?>" class="edit_soc"> <i class="fa fa-linkedin"></i></a>
                            </li>
                            <?php } ?>
                            <?php if($templates->chekData('soc5')) { ?>
                            <li id="soc5">
                                <a id="soc5_link" data-id="soc5" href="<?=$templates->getData('soc5_link')?>" class="edit_soc"> <i class="fa fa-pinterest"></i></a>
                            </li>
                            <?php } ?>
                        </ul>
                    </div>
                </div>
                <!--blogname col end-->
            </div>
        </div>
    </footer>
    
    <?php echo $this->render("blocks/modal.phtml");?>

    <!--scripts and plugins -->
    <!--must need plugin jquery-->
    <script src="<?=$tempPath?>/js/jquery.min.js"></script>
    <!--bootstrap js plugin-->
    <script src="<?=$tempPath?>/includes/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <!-- Google Maps API -->
    <script src="https://maps.google.com/maps/api/js?sensor=false"></script>
    <!-- Custom Google Map -->
    <script type="text/javascript">
       /* var maps;
			var geocoder;

			function init() {
				maps = [];
				geocoder = new google.maps.Geocoder();

				var styles = {
				  'Red': [
					{
					  featureType: 'all',
					  stylers: [{saturation:-100},{gamma:0.50}]
					}
				  ]
				};

				for (var s in styles) {
				  var opt = {
					mapTypeControlOptions: {
					  mapTypeIds: [s]
					},
					disableDefaultUI: true,
					navigationControl: true,
					scrollwheel: false,
					center: new google.maps.LatLng(42.415109, -96.842471),
					zoom: 8,
					mapTypeId: s
				  };

				  var div = document.getElementById('map');
				  var map = new google.maps.Map(div, opt);
				  var styledMapType = new google.maps.StyledMapType(styles[s], {name: s});
				  map.mapTypes.set(s, styledMapType);
				  
				  var goldStar = '<?=$tempPath?>/img/marker.png';

				  var marker = new google.maps.Marker({
					position: map.getCenter(),
					icon: goldStar,
					map: map
				  });				  
				}
			}*/
    </script>
    <!--easying scroll effect-->
    <script src="<?=$tempPath?>/js/jquery.easing.1.3.min.js" type="text/javascript"></script>
    <script src="<?=$tempPath?>/js/jquery.sticky.js" type="text/javascript"></script>
    <script src="<?=$tempPath?>/js/jquery.nav.js" type="text/javascript"></script>
    <!--owl carousel-->
    <script src="<?=$tempPath?>/includes/owl-carousel/owl.carousel.min.js" type="text/javascript"></script>
    <!--wow animation-->
    <script src="<?=$tempPath?>/includes/wow-js/wow.min.js" type="text/javascript"></script>

    <!--Activating WOW Animation only for modern browser-->
    <!--[if !IE]><!-->
    <script type="text/javascript">
        new WOW().init();
    </script>
    <!--<![endif]-->

    <!--Oh Yes, IE 9+ Supports animation, lets activate for IE 9+-->
    <!--[if gte IE 9]>
			<script type="text/javascript">new WOW().init();</script>
		<![endif]-->

    <!--Opacity & Other IE fix for older browser-->
    <!--[if lte IE 8]>
			<script type="text/javascript" src="js/ie-opacity-polyfill.js"></script>
		<![endif]-->


    <!--parallax-->
    <script src="<?=$tempPath?>/js/jquery.scrolly.js" type="text/javascript"></script>
    <!--portfolio-filter-->
    <script src="<?=$tempPath?>/js/isotope.pkgd.min.js" type="text/javascript"></script>
    <!--lightbox-->
    <script src="<?=$tempPath?>/includes/litebox/images-loaded.min.js" type="text/javascript"></script>
    <script src="<?=$tempPath?>/includes/litebox/litebox.min.js" type="text/javascript"></script>
    <!--project count-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
    <script src="<?=$tempPath?>/js/jquery.counterup.min.js" type="text/javascript"></script>
    <!--custom scrollbar-->
    <script src="<?=$tempPath?>/js/jquery.nicescroll.min.js" type="text/javascript"></script>
    <!--Contact Form-->

    <!--customizable plugin edit according to your needs-->
    <script src="<?=$tempPath?>/js/custom.js" type="text/javascript"></script>
    
    <?php
    if($templates->edit())
    {
      $editColorTheme = false;
      $patch_edit = $path = $_SERVER['DOCUMENT_ROOT'] . '/templates/edit_temp/edit.php';
      include $patch_edit;
    }
  ?>
    
</body>

</html>