<?php  
  $templates = $this->TemplateDB();
  $tempPath =  '/templates/template_3';
  $temp_id = $templates->getTemId();
?><!DOCTYPE html>
<html <?=($this->checkLangSite($this->siteLang))?'dir="rtl"':''?> lang="<?=$this->siteLangCode['language_code']?>>

<head>
    <meta charset="utf-8">
    <title><?php echo $templates->getMeta('title','Professional Translation Online | Smartlation.com') ?></title>
    <meta name="description" content="<?php echo $templates->getMeta('meta_desc') ?>">
    <meta name="keywords" content="<?php echo $templates->getMeta('meta_key') ?>">
    <meta name="author" content="Kompyle Technologies">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Color Pickr -->
   
    <!-- Bootstrap -->
    <link href="<?=$tempPath?>/includes/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- WOW JS Animation -->
    <link rel="stylesheet" href="<?=$tempPath?>/includes/wow-js/animations.css" />
    <!-- Litebox  -->
    <link rel="stylesheet" href="<?=$tempPath?>/includes/litebox/litebox.css" />
    <!-- Owl Carousel -->
    <link rel="stylesheet" href="<?=$tempPath?>/includes/owl-carousel/owl.carousel.css" />
    <!-- custom css -->
    <link href="<?=$tempPath?>/css/style.css" rel="stylesheet" type="text/css" media="screen">
    <link href="<?=$tempPath?>/css/media.css" rel="stylesheet" type="text/css" media="screen">
    <link href="<?=$tempPath?>/css/fileinput.css" rel="stylesheet" type="text/css" media="screen">
    <link href="<?=$tempPath?>/css/fileinput.min.css" rel="stylesheet" type="text/css" media="screen">
    <!-- font awesome for icons -->
    <link href="<?=$tempPath?>/includes/font-awesome-4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- Web Fonts -->
    <link href='https://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
    <?php $ico = $this->getFavicontempl(); ?>
    <?php if(!is_null($ico)){ ?>
    <!-- Favicons -->
    <link rel="icon" href="<?=$ico?>">
    <?php } ?>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="<?=$tempPath?>/js/fileinput.js" type="text/javascript"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js" type="text/javascript"></script>

    <!--[if lte IE 8]>
			<link rel="stylesheet" type="text/css" href="css/fucking-ie-8-and-lower.css" />
		<![endif]-->



    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
</head>

<body id="body" class="<?=($this->checkLangSite($this->siteLang))?'site-right':''?>">

    

    <nav id="navigation">
        <div id="bg2nav" class="navbar navbar-default navbar-static-top change_bg" role="navigation" style="<?=$templates->getData('bg2nav')?>">
            <div class="container">
                <div class="<?=($this->checkLangSite($this->siteLang))?'siteright':''?> navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/"><img class="cnange_img" id="logo" src="<?=$templates->getData('logo')?>" height="30px;"" style="margin-top:-10px;" /></a>
                </div>
                <div class="navbar-collapse collapse">

                    <ul class="nav navbar-nav <?=($this->checkLangSite($this->siteLang))?'navbar-left':'navbar-right'?>">
                    
                        <?php if($templates->chekData('link1_block')) { ?>
                        <li class="link1_block"><a href="/" style="<?=$templates->getData('link1_style')?>" id="link1" data-id="link1" class="edit_link"><?=$templates->getData('link1')?></a></li>
                        <?php } ?>
                        <?php if($templates->chekData('link11_block')) { ?>
                        <li class="link11_block">
                          <a href="/#about-us" style="<?=$templates->getData('link11_style')?>" id="link11" data-id="link11" class="edit_link" ><?=$templates->getData('link11')?></a>
                        </li>
                        <?php } ?>
                        <?php if($templates->chekData('link13_block')) { ?>
                        <li class="link13_block">
                          <a href="/#services" id="link13" style="<?=$templates->getData('link13_style')?>" data-id="link13" class="edit_link" ><?=$templates->getData('link13')?></a>
                        </li>
                        <?php } ?>
                        <?php if($templates->chekData('link10_block')) { ?>
                        <li class="link10">
                          <a href="/#contact" id="link10" style="<?=$templates->getData('link10_style')?>" data-id="link10" class="edit_link"><?=$templates->getData('link10')?></a>
                        </li>
                        <?php } ?>
                    </ul>

                </div>
                <!--/.nav-collapse -->
            </div>
            <!--/.container -->
        </div>
        <!--navbar-default-->
    </nav>
    <!--navigation section end here-->

    <section id="about" <?=$templates->getData('about')?>>
        <div class="container">
            
  <div class="revieworder-block">
      
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <center>
              <p class="min-tittle">
              <?php if(isset($this->error)){ ?>
              <?=$this->error?>
              <?php } else { ?>
                Thank you <?=$this->custData['name_cus']?>, your Order <?=$this->orderData['id']?> was received and is already being processed by our language professionals.
                <br> 
                We will mail you your project immediately after finished.
                <br><br>
                Thank you very much for using <?=$this->transData['name_agen'];?> Services.   
              <?php } ?>    
      <br>
      <br>
      <br>    </p>
        </center>

    </div><!-- col-md-8 -->
 
      </div><!-- row -->
  
  </div><!-- revieworder-block -->
  </div><!-- container-fluid -->
</section><!-- content -->




    <section id="footer" class="change_bg" style="<?=$templates->getData('footer')?>">
        <div class="footer_top">
            <div class="container">
                <div class="row">
                   <?php if($this->checkLangSite($this->siteLang)){$widtjet = 'left';}else{$widtjet = 'right';}?>
                   <?php if($templates->chekData('1_blc1')) { ?>
                   <div id="1_blc1" class="col-lg-3 col-md-3 edit_block">
                        <!-- widgets column left -->
                        <ul class="list-unstyled clear-margins">
                            <!-- widgets -->

                            <li class="widget-container widget_nav_menu">
                                <!-- widgets list -->

                                <h1 style="<?=$templates->getData('1_txt37_style')?>" class="title-widget edit_text" id="1_txt37"><?=$templates->getData('1_txt37')?></h1>
                                <ul>
                                    <li><a href="/#services"><i class="fa fa-angle-double-<?=$widtjet?>"></i> <span style="<?=$templates->getData('1_txt22_style')?>" class="edit_text" id="1_txt22"><?=$templates->getData('1_txt22')?></span></a></li>
                                    <li><a href="#" data-toggle="modal" data-target="#mod_how"><i class="fa fa-angle-double-<?=$widtjet?>"></i> <span style="<?=$templates->getData('1_txt23_style')?>" class="edit_text" id="1_txt23"><?=$templates->getData('1_txt23')?></span></a></li>
                                </ul>
                            </li>
                        </ul>


                    </div>
                    <?php } ?>
                    <?php if($templates->chekData('1_blc2')) { ?>
                    <!-- widgets column left end -->
                     <div id="1_blc2" class="col-lg-3 col-md-3 edit_block">
                        <!-- widgets column left -->
                        <ul class="list-unstyled clear-margins">
                            <!-- widgets -->
                            <li class="widget-container widget_nav_menu">
                                <!-- widgets list -->
                                <h1 style="<?=$templates->getData('1_txt38_style')?>" class="title-widget edit_text" id="1_txt38"><?=$templates->getData('1_txt38')?></h1>
                                <ul>
                                    <li><a href="#"><i class="fa fa-angle-double-<?=$widtjet?>"></i> <span style="<?=$templates->getData('1_txt27_style')?>" class="edit_text" id="1_txt27"><?=$templates->getData('1_txt27')?></span></a></li>
                                    <li><a href="#" data-toggle="modal" data-target="#mod_projman"><i class="fa fa-angle-double-<?=$widtjet?>"></i> <span style="<?=$templates->getData('1_txt29_style')?>" class="edit_text" id="1_txt29"><?=$templates->getData('1_txt29')?></span></a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <?php } ?>
                    <?php if($templates->chekData('block3')) { ?>
                    <!-- widgets column left end -->
                     <div id="block3" class="col-lg-3 col-md-3 edit_block">
                        <!-- widgets column left -->
                        <ul class="list-unstyled clear-margins">
                            <!-- widgets -->

                            <li class="widget-container widget_nav_menu">
                                <!-- widgets list -->

                                <h1 style="<?=$templates->getData('1_txt39_style')?>" class="title-widget edit_text" id="1_txt39"><?=$templates->getData('1_txt39')?></h1>

                                <ul>
                                    
                                    <li><a href="#" data-toggle="modal" data-target="#mod_faq"><i class="fa fa-angle-double-<?=$widtjet?>"></i> <span style="<?=$templates->getData('1_txt31_style')?>" class="edit_text" id="1_txt31"><?=$templates->getData('1_txt31')?></span></a></li>
                                    <li><a href="/#contact"><i class="fa fa-angle-double-<?=$widtjet?>"></i> <span style="<?=$templates->getData('1_txt32_style')?>" class="edit_text" id="1_txt32"><?=$templates->getData('1_txt32')?></span></a></li>
                                </ul>

                            </li>

                        </ul>


                    </div>
                    <!-- widgets column left end -->
                    <?php } ?>
                    <?php if($templates->chekData('block4')) { ?>
                    <div id="block4" class="col-lg-3 col-md-3 edit_block">
                        <!-- widgets column left -->
                        <ul class="list-unstyled clear-margins">
                            <!-- widgets -->

                            <li class="widget-container widget_nav_menu">
                                <!-- widgets list -->

                                <h1 style="<?=$templates->getData('1_txt40_style')?>" class="title-widget edit_text" id="1_txt40"><?=$templates->getData('1_txt40')?></h1>

                                <ul>
                                    <li><a href="#"  data-toggle="modal" data-target="#myModal"><i class="fa fa-file"></i> <span style="<?=$templates->getData('1_txt33_style')?>" class="edit_text" id="1_txt33"><?=$templates->getData('1_txt33')?></span></a></li>
                                    
                   
                                </ul>

                            </li>

                        </ul>


                    </div>
                    <?php } ?>
                    <!-- widgets column left end -->
                    <!-- Modal -->
                    <div id="myModal" class="modal fade" role="dialog">
                      <div class="modal-dialog">
                    
                        <!-- Modal content-->
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Supported File Formats</h4>
                          </div>
                          <div class="modal-body">
                            <p><span style="color:#57bddb; font-weight:700;">Text Files:</span> *.txt, *.doc, *.docx, *.pdf, *.xls, *.xlsx, *.ppt, *.pptx</p>
                            <p><span style="color:#57bddb; font-weight:700;">Images Files:</span> *.jpg, *.png, *.gif, *.tif, *.tiff</p>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          </div>
                        </div>
                    
                      </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <footer id="3_bg23" class="change_bg" style="margin-top:10px;<?=$templates->getData('3_bg23')?>">
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-sm-9">
                    <div class="footer-copyright">
                        <p>
                            <a href=""><img src="<?=$templates->getData('logo')?>" height="17px;"></a> &copy; 2015 | <a href="">Terms & Conditions</a>                            | <a href="">Privacy Policy</a></p>
                    </div>
                </div>
                <!--copyright col end-->

                <div class="col-md-3 col-sm-3">
                    <div class="footer_mid pull-right">
                        <ul class="social-contact list-inline">
                            <?php if($templates->chekData('soc1')) { ?>
                            <li id="soc1"> 
                                <a id="soc1_link" data-id="soc1" href="<?=$templates->getData('soc1_link')?>" class="edit_soc"><i class="fa fa-facebook"></i></a>
                            </li>
                            <?php } ?>
                            <?php if($templates->chekData('soc2')) { ?>
                            <li id="soc2"> 
                                <a id="soc2_link" data-id="soc2" href="<?=$templates->getData('soc2_link')?>" class="edit_soc"><i class="fa fa-twitter"></i></a>
                            </li>
                            <?php } ?>
                            <?php if($templates->chekData('soc3')) { ?>
                            <li id="soc3"> 
                                <a id="soc3_link" data-id="soc3" href="<?=$templates->getData('soc3_link')?>" class="edit_soc"><i class="fa fa-google-plus"></i> </a>
                            </li>
                            <?php } ?>
                            <?php if($templates->chekData('soc4')) { ?>
                            <li id="soc4">
                                <a id="soc4_link" data-id="soc4" href="<?=$templates->getData('soc4_link')?>" class="edit_soc"> <i class="fa fa-linkedin"></i></a>
                            </li>
                            <?php } ?>
                            <?php if($templates->chekData('soc5')) { ?>
                            <li id="soc5">
                                <a id="soc5_link" data-id="soc5" href="<?=$templates->getData('soc5_link')?>" class="edit_soc"> <i class="fa fa-pinterest"></i></a>
                            </li>
                            <?php } ?>
                        </ul>
                    </div>
                </div>
                <!--blogname col end-->
            </div>
        </div>
    </footer>
    
    <?php echo $this->render("blocks/modal.phtml");?>

    <!--scripts and plugins -->
    <!--must need plugin jquery-->
    <script src="<?=$tempPath?>/js/jquery.min.js"></script>
    <!--bootstrap js plugin-->
    <script src="<?=$tempPath?>/includes/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <!-- Google Maps API -->
    <script src="https://maps.google.com/maps/api/js?sensor=false"></script>
    <!-- Custom Google Map -->
    <script type="text/javascript">
       /* var maps;
			var geocoder;

			function init() {
				maps = [];
				geocoder = new google.maps.Geocoder();

				var styles = {
				  'Red': [
					{
					  featureType: 'all',
					  stylers: [{saturation:-100},{gamma:0.50}]
					}
				  ]
				};

				for (var s in styles) {
				  var opt = {
					mapTypeControlOptions: {
					  mapTypeIds: [s]
					},
					disableDefaultUI: true,
					navigationControl: true,
					scrollwheel: false,
					center: new google.maps.LatLng(42.415109, -96.842471),
					zoom: 8,
					mapTypeId: s
				  };

				  var div = document.getElementById('map');
				  var map = new google.maps.Map(div, opt);
				  var styledMapType = new google.maps.StyledMapType(styles[s], {name: s});
				  map.mapTypes.set(s, styledMapType);
				  
				  var goldStar = '<?=$tempPath?>/img/marker.png';

				  var marker = new google.maps.Marker({
					position: map.getCenter(),
					icon: goldStar,
					map: map
				  });				  
				}
			}*/
    </script>
    <!--easying scroll effect-->
    <script src="<?=$tempPath?>/js/jquery.easing.1.3.min.js" type="text/javascript"></script>
    <script src="<?=$tempPath?>/js/jquery.sticky.js" type="text/javascript"></script>
    <script src="<?=$tempPath?>/js/jquery.nav.js" type="text/javascript"></script>
    <!--owl carousel-->
    <script src="<?=$tempPath?>/includes/owl-carousel/owl.carousel.min.js" type="text/javascript"></script>
    <!--wow animation-->
    <script src="<?=$tempPath?>/includes/wow-js/wow.min.js" type="text/javascript"></script>

    <!--Activating WOW Animation only for modern browser-->
    <!--[if !IE]><!-->
    <script type="text/javascript">
        new WOW().init();
    </script>
    <!--<![endif]-->

    <!--Oh Yes, IE 9+ Supports animation, lets activate for IE 9+-->
    <!--[if gte IE 9]>
			<script type="text/javascript">new WOW().init();</script>
		<![endif]-->

    <!--Opacity & Other IE fix for older browser-->
    <!--[if lte IE 8]>
			<script type="text/javascript" src="js/ie-opacity-polyfill.js"></script>
		<![endif]-->


    <!--parallax-->
    <script src="<?=$tempPath?>/js/jquery.scrolly.js" type="text/javascript"></script>
    <!--portfolio-filter-->
    <script src="<?=$tempPath?>/js/isotope.pkgd.min.js" type="text/javascript"></script>
    <!--lightbox-->
    <script src="<?=$tempPath?>/includes/litebox/images-loaded.min.js" type="text/javascript"></script>
    <script src="<?=$tempPath?>/includes/litebox/litebox.min.js" type="text/javascript"></script>
    <!--project count-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
    <script src="<?=$tempPath?>/js/jquery.counterup.min.js" type="text/javascript"></script>
    <!--custom scrollbar-->
    <script src="<?=$tempPath?>/js/jquery.nicescroll.min.js" type="text/javascript"></script>
    <!--Contact Form-->

    <!--customizable plugin edit according to your needs-->
    <script src="<?=$tempPath?>/js/custom.js" type="text/javascript"></script>
    
    <?php
    if($templates->edit())
    {
      $editColorTheme = false;
      $patch_edit = $path = $_SERVER['DOCUMENT_ROOT'] . '/templates/edit_temp/edit.php';
      include $patch_edit;
    }
  ?>
    
</body>

</html>