<?php  
  $templates = $this->TemplateDB();
  $tempPath =  $templates->getPath();
  $temp_id = 2;
?><!DOCTYPE html>
<html lang="<?=$this->siteLangCode['language_code']?>">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><?php echo $templates->getMeta('title','Singular Theme') ?></title>
  <meta name="description" content="<?php echo $templates->getMeta('meta_desc') ?>">
  <meta name="keywords" content="<?php echo $templates->getMeta('meta_key') ?>">
  <link href="<?=$tempPath?>/css/bootstrap.min.css" rel="stylesheet">
  <link href="<?=$tempPath?>/css/animate.min.css" rel="stylesheet">
  <link href="<?=$tempPath?>/css/font-awesome.min.css" rel="stylesheet">
  <link href="<?=$tempPath?>/css/lightbox.css" rel="stylesheet">
  <link href="<?=$tempPath?>/css/main.css" rel="stylesheet">
  <link href="<?=$tempPath?>/css/colors/<?=$templates->getData('css-preset')?>.css" id="css-preset" rel="stylesheet">
  <link href="<?=$tempPath?>/css/responsive.css" rel="stylesheet">
  
  <?php $ico = $this->getFavicontempl(); ?>
    <?php if(!is_null($ico)){ ?>
    <!-- Favicons -->
    <link rel="icon" href="<?=$ico?>">
    <?php } ?>
  
  <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
  <![endif]-->

  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
</head>
<!--/head-->

<body>



  <header id="home">
    <div id="home-slider" class="carousel slide carousel-fade" data-ride="carousel">
      <div class="carousel-inner">
        <div id="bg_1" class="item active change_bg" style='<?=$templates->getData('bg_1')?>'>
          <div class="caption" style="width: 734px; margin: auto;  margin-top: -104px;">
            <h1 class="animated fadeInLeftBig edit_text" id="id_h1" style="<?=$templates->getData('id_h1_color')?>"><?=$templates->getData('id_h1')?></h1>
            <p class="animated fadeInRightBig edit_text" id="slogan_p" style="<?=$templates->getData('slogan_p_color')?>"><?=$templates->getData('slogan_p')?></p>
            
            <a id="hireus" data-id="hireus" class="btn btn-start animated fadeInUpBig drop_object edit_link" href="/upload"><?=$templates->getData('hireus','Order now')?></a>
          </div>
        </div>
      </div>

      <a id="tohash" href="#services"><i class="fa fa-angle-down"></i></a>

    </div>
    <!--/#home-slider-->
    
    <div class="main-nav change_bg" id="nav" style='<?=$templates->getData('nav')?>'>
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html">
            <h1 class="drop_object"><img class="img-responsive cnange_img" id="logo" src="<?=$templates->getData('logo')?>" width="148" alt="logo"></h1>
          </a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="scroll active"><a id="link1" data-id="link1" class="edit_link" style="<?=$templates->getData('link1_color')?>" href="#home"><?=$templates->getData('link1','Home')?></a></li>

            <li class="scroll"><a id="link3" data-id="link3" class="edit_link" style="<?=$templates->getData('link3_color')?>" href="#about-us"><?=$templates->getData('link3','About Us')?></a></li>
            <li class="scroll"><a id="link4" data-id="link4" class="edit_link" style="<?=$templates->getData('link4_color')?>" href="#team"><?=$templates->getData('link4','Experience')?></a></li>


            <li class="scroll"><a id="link7" data-id="link7" class="edit_link" style="<?=$templates->getData('link7_color')?>" href="#contact"><?=$templates->getData('link7','Contact')?></a></li>
          </ul>
        </div>
      </div>
    </div>
    <!--/#main-nav-->
  </header>
  <!--/#home-->
  <section id="services" class="change_bg" style='<?=$templates->getData('services')?>'>
    <div class="container">
      <div class="heading wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
        <div class="row">
          <div class="text-center col-sm-8 col-sm-offset-2">
            <h2 class="edit_text" id="text_h2_1" style="<?=$templates->getData('text_h2_1_color')?>"><?=$templates->getData('text_h2_1')?></h2>
            <p class="edit_text" id="text_p_1" style="<?=$templates->getData('text_p_1_color')?>"><?=$templates->getData('text_p_1')?></p>
          </div>
        </div>
      </div>
      <div class="text-center our-services">
        <div class="row">
          <div class="col-sm-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
            <div class="service-icon">
              <i class="fa fa-flask"></i>
            </div>
            <div class="service-info">
              <h3 class="edit_text" id="text_h3_1" style="<?=$templates->getData('text_h3_1_color')?>"><?=$templates->getData('text_h3_1')?></h3>
              <p class="edit_text" id="text_p_2" style="<?=$templates->getData('text_p_2_color')?>"><?=$templates->getData('text_p_2')?></p>
            </div>
          </div>
          <div class="col-sm-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
            <div class="service-icon">
              <i class="fa fa-umbrella"></i>
            </div>
            <div class="service-info">
              <h3 class="edit_text" id="text_h3_2" style="<?=$templates->getData('text_h3_2_color')?>"><?=$templates->getData('text_h3_2')?></h3>
              <p class="edit_text" id="text_p_3" style="<?=$templates->getData('text_p_3_color')?>"><?=$templates->getData('text_p_3')?></p>
            </div>
          </div>
          <div class="col-sm-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="550ms">
            <div class="service-icon">
              <i class="fa fa-cloud"></i>
            </div>
            <div class="service-info">
              <h3 class="edit_text" id="text_h3_3" style="<?=$templates->getData('text_h3_3_color')?>"><?=$templates->getData('text_h3_3')?></h3>
              <p class="edit_text" id="text_p_4" style="<?=$templates->getData('text_p_4_color')?>"><?=$templates->getData('text_p_4')?></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/#services-->
  <section id="about-us" class="parallax change_bg" style='<?=$templates->getData('about-us')?>'>
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="about-info wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
            <h2 class="edit_text" id="text_h2_2" style="<?=$templates->getData('text_h2_2_color')?>"><?=$templates->getData('text_h2_2')?></h2>
            <p class="edit_text" id="text_p_5" style="<?=$templates->getData('text_p_5_color')?>"><?=$templates->getData('text_p_5')?></p>
            <p class="edit_text" id="text_p_6" style="<?=$templates->getData('text_p_6_color')?>"><?=$templates->getData('text_p_6')?></p>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="our-skills wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
            <?php if($templates->chekData('block1')) { ?>
            <div id="block1" class="single-skill wow fadeInDown edit_block" data-wow-duration="1000ms" data-wow-delay="300ms">
              <p class="lead edit_text" id="lang1" style="<?=$templates->getData('lang1_color')?>"><?=$templates->getData('lang1')?></p>
              <div class="progress">
                <div class="progress-bar progress-bar-primary six-sec-ease-in-out change_lang_percent" role="progressbar" id="langp1" style="<?=$templates->getData('langp1_color')?>" aria-valuetransitiongoal="<?=$templates->getData('langp1')?>"><?=$templates->getData('langp1')?>%</div>
              </div>
            </div>
            <?php } ?>
            <?php if($templates->chekData('block2')) { ?>
            <div id="block2" class="single-skill wow fadeInDown edit_block" data-wow-duration="1000ms" data-wow-delay="400ms">
              <p class="lead edit_text" id="lang2" style="<?=$templates->getData('lang2_color')?>"><?=$templates->getData('lang2')?></p>
              <div class="progress">
                <div class="progress-bar progress-bar-primary six-sec-ease-in-out change_lang_percent" role="progressbar" id="langp2" style="<?=$templates->getData('langp2_color')?>" aria-valuetransitiongoal="<?=$templates->getData('langp2')?>"><?=$templates->getData('langp2')?>%</div>
              </div>
            </div>
            <?php } ?>
            <?php if($templates->chekData('block3')) { ?>
            <div id="block3" class="single-skill wow fadeInDown edit_block" data-wow-duration="1000ms" data-wow-delay="500ms">
              <p class="lead edit_text" id="lang3" style="<?=$templates->getData('lang3_color')?>"><?=$templates->getData('lang3')?></p>
              <div class="progress">
                <div class="progress-bar progress-bar-primary six-sec-ease-in-out change_lang_percent" role="progressbar" id="langp3" style="<?=$templates->getData('langp3_color')?>" aria-valuetransitiongoal="<?=$templates->getData('langp3')?>"><?=$templates->getData('langp3')?>%</div>
              </div>
            </div>
            <?php } ?>
            <?php if($templates->chekData('block4')) { ?>
            <div id="block4" class="single-skill wow fadeInDown edit_block" data-wow-duration="1000ms" data-wow-delay="600ms">
              <p class="lead edit_text" id="lang4" style="<?=$templates->getData('lang4_color')?>"><?=$templates->getData('lang4')?></p>
              <div class="progress">
                <div class="progress-bar progress-bar-primary six-sec-ease-in-out change_lang_percent" role="progressbar" id="langp4" style="<?=$templates->getData('langp4_color')?>" aria-valuetransitiongoal="<?=$templates->getData('langp4')?>"><?=$templates->getData('langp4')?>%</div>
              </div>
            </div>
            <?php } ?>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/#about-us-->



  <section id="team" class="change_bg" style='<?=$templates->getData('team')?>'>
    <div class="container" class="content_2">
      <div class="row">
        <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1200ms" data-wow-delay="300ms">
          <br><br/>
          <h2 class="edit_text" id="text_h2_3" style="<?=$templates->getData('text_h2_3_color')?>"><?=$templates->getData('text_h2_3')?></h2>
          <p class="edit_text" id="text_p_7" style="<?=$templates->getData('text_p_7_color')?>"><?=$templates->getData('text_p_7')?></p>
        </div>
      </div>
      <div class="row" style="padding-bottom:70px;">
        <div class="col-md-12 resume-left">
         

          <!-- .attributes -->
          <ul class="attributes">
            <li class="first">
              <h5><span class="edit_text" id="text_p_8" style="<?=$templates->getData('text_p_8_color')?>"><?=$templates->getData('text_p_8')?></span><span class="duration"><i class="fa fa-calendar color"></i><span class="edit_text" id="text_p_9"> <?=$templates->getData('text_p_9')?></span></span></h5>
              <h6><span class="fa fa-briefcase"></span><span class="edit_text" style="<?=$templates->getData('text_p_10_color')?>" id="text_p_10"> <?=$templates->getData('text_p_10')?></span></h6>
              <p class="edit_text" id="text_p_11" style="<?=$templates->getData('text_p_11_color')?>"><?=$templates->getData('text_p_11')?></p>
            </li>
            <li class="first">
              <h5><span class="edit_text" id="text_p_12" style="<?=$templates->getData('text_p_12_color')?>"><?=$templates->getData('text_p_12')?></span><span class="duration"><i class="fa fa-calendar color"></i><span class="edit_text" id="text_p_13"> <?=$templates->getData('text_p_13')?></span></span></h5>
              <h6><span class="fa fa-briefcase"></span><span class="edit_text" style="<?=$templates->getData('text_p_14_color')?>" id="text_p_14"> <?=$templates->getData('text_p_14')?></span></h6>
              <p class="edit_text" id="text_p_15" style="<?=$templates->getData('text_p_15_color')?>"><?=$templates->getData('text_p_15')?></p>
            </li>

          </ul>
        </div>
      </div>
      <div class="team-members">
        <div class="row">
          <div class="col-sm-3">
            <div class="team-member wow flipInY" data-wow-duration="1000ms" data-wow-delay="300ms">
              <div class="member-image">
                <img class="img-responsive cnange_img" id="img4" src="<?=$templates->getData('img4')?>" alt="">
              </div>
              <div class="member-info">
                <h3 class="edit_text" id="text_h3_4" style="<?=$templates->getData('text_h3_4_color')?>"><?=$templates->getData('text_h3_4')?></h3>
                <h4 class="edit_text" id="text_h4_1" style="<?=$templates->getData('text_h4_1_color')?>"><?=$templates->getData('text_h4_1')?></h4>
                <p class="edit_text" id="text_p_16" style="<?=$templates->getData('text_p_16_color')?>"><?=$templates->getData('text_p_16')?></p>
              </div>

            </div>
          </div>
          <div class="col-sm-3">
            <div class="team-member wow flipInY" data-wow-duration="1000ms" data-wow-delay="300ms">
              <div class="member-image">
                <img class="img-responsive cnange_img" id="img5" src="<?=$templates->getData('img5')?>" alt="">
              </div>
              <div class="member-info">
                <h3 class="edit_text" id="text_h3_5"><?=$templates->getData('text_h3_5')?></h3>
                <h4 class="edit_text" id="text_h4_2"><?=$templates->getData('text_h4_2')?></h4>
                <p class="edit_text" id="text_p_17"><?=$templates->getData('text_p_17')?></p>
              </div>

            </div>
          </div>
          <div class="col-sm-3">
            <div class="team-member wow flipInY" data-wow-duration="1000ms" data-wow-delay="800ms">
              <div class="member-image">
                <img class="img-responsive cnange_img" id="img6" src="<?=$templates->getData('img6')?>" alt="">
              </div>
              <div class="member-info">
                <h3 class="edit_text" id="text_h3_6"><?=$templates->getData('text_h3_6')?></h3>
                <h4 class="edit_text" id="text_h4_3"><?=$templates->getData('text_h4_3')?></h4>
                <p class="edit_text" id="text_p_18"><?=$templates->getData('text_p_18')?></p>
              </div>

            </div>
          </div>
          <div class="col-sm-3">
            <div class="team-member wow flipInY" data-wow-duration="1000ms" data-wow-delay="1100ms">
              <div class="member-image">
                <img class="img-responsive cnange_img" id="img7" src="<?=$templates->getData('img7')?>" alt="">
              </div>
              <div class="member-info">
                <h3 class="edit_text" id="text_h3_7"><?=$templates->getData('text_h3_7')?></h3>
                <h4 class="edit_text" id="text_h4_4"><?=$templates->getData('text_h4_4')?></h4>
                <p class="edit_text" id="text_p_19"><?=$templates->getData('text_p_19')?></p>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/#team-->

  <section id="features" class="parallax change_bg" style='<?=$templates->getData('features')?>'>
    <div class="container">
      <div class="row count">
        <div class="col-sm-3 col-xs-6 wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="300ms">
          <i class="fa fa-shopping-cart"></i>
          <h3 class="timer edit_text" id="text_h3_8"><?=$templates->getData('text_h3_8')?></h3>
          <p class="edit_text" id="text_p_20"><?=$templates->getData('text_p_20')?></p>
        </div>
        <div class="col-sm-3 col-xs-6 wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="500ms">
          <i class="fa fa-language"></i>
          <h3 class="timer edit_text" id="text_h3_9"><?=$templates->getData('text_h3_9')?></h3>
          <p class="edit_text" id="text_p_21"><?=$templates->getData('text_p_21')?></p>
        </div>
        <div class="col-sm-3 col-xs-6 wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="700ms">
          <i class="fa fa-thumbs-up"></i>
          <h3 class="timer edit_text" id="text_h3_10"><?=$templates->getData('text_h3_10')?></h3>
          <p class="edit_text" id="text_p_22"><?=$templates->getData('text_p_22')?></p>
        </div>
        <div class="col-sm-3 col-xs-6 wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="900ms">
          <i class="fa fa-user"></i>
          <h3 class="timer edit_text" id="text_h3_11"><?=$templates->getData('text_h3_11')?></h3>
          <p class="edit_text" id="text_p_23"><?=$templates->getData('text_p_23')?></p>
        </div>
      </div>
    </div>
  </section>
  <!--/#features-->

  <section id="hire" class="change_bg" style='<?=$templates->getData('hire')?>'>
    <div class="container">
      <div class="row">
        <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1200ms" data-wow-delay="300ms">
          <h2 class="edit_text" id="text_h2_4"><?=$templates->getData('text_h2_4')?></h2>
          <p class="edit_text" id="text_p_24"><?=$templates->getData('text_p_24')?></p>
        </div>
      </div>
      <div class="col-md-12" style="text-align: center;"><a href="#" class="btn btn-lg btn-primary edit_button" id="butt2"><?=$templates->getData('butt2','START TRANSLATING TODAY')?></a></div>
    </div>
  </section>
  <!--/#pricing-->

  <section id="twitter" class="parallax change_bg" style='<?=$templates->getData('twitter')?>'>
    <div>
      <a class="twitter-left-control" href="#twitter-carousel" role="button" data-slide="prev"><i class="fa fa-angle-left"></i></a>
      <a class="twitter-right-control" href="#twitter-carousel" role="button" data-slide="next"><i class="fa fa-angle-right"></i></a>
      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <div class="twitter-icon text-center">
              <i class="fa fa-comments"></i>
              <h4 class="edit_text" id="text_h4_5"><?=$templates->getData('text_h4_5')?></h4>
            </div>
            <div id="twitter-carousel" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <div id="comt1" class="edit_block item active wow fadeIn" data-wow-duration="1000ms" data-wow-delay="300ms">
                  <p class="edit_text" id="text_p_25">"<?=$templates->getData('text_p_25')?>"</p>
                  <h4 class="edit_text" id="text_h4_6"><?=$templates->getData('text_h4_6')?></h4>
                </div>
                <div id="comt2" class="edit_block item">
                  <p class="edit_text" id="text_p_26">"<?=$templates->getData('text_p_26')?>"</p>
                  <h4 class="edit_text" id="text_h4_7"><?=$templates->getData('text_h4_7')?></h4>
                </div>
                <div id="comt3" class="edit_block item">
                  <p class="edit_text" id="text_p_27">"<?=$templates->getData('text_p_27')?>"</p>
                  <h4 class="edit_text" id="text_h4_8"><?=$templates->getData('text_h4_8')?></h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/#twitter-->

  <section id="blog" class="change_bg" style='<?=$templates->getData('blog')?>'>
    <div class="container">
      <div class="row">
        <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1200ms" data-wow-delay="300ms">
          <h2 class="edit_text" id="text_h2_5"><?=$templates->getData('text_h2_5')?></h2>
          <p class="edit_text" id="text_p_28"><?=$templates->getData('text_p_28')?></p>
        </div>
      </div>
      <div class="blog-posts">
        <div class="row">
          <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="400ms">
            <div class="post-thumb">
              <img class="img-responsive cnange_img" id="img1" src="<?=$templates->getData('img1')?>" alt="">
            </div>
            <div class="entry-header">
              <h3 class="edit_text" id="text_h3_12"><?=$templates->getData('text_h3_12')?></h3>
              <span class="date edit_text" id="text_p_32"><?=$templates->getData('text_p_32')?></span>
            </div>
            <div class="entry-content">
              <p class="edit_text" id="text_p_29"><?=$templates->getData('text_p_29')?> </p>
            </div>
          </div>
          <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="600ms">
            <div class="post-thumb">
              <img class="img-responsive cnange_img" id="img2" src="<?=$templates->getData('img2')?>" alt="">
            </div>
            <div class="entry-header">
              <h3 class="edit_text" id="text_h3_13"><?=$templates->getData('text_h3_13')?></h3>
              <span class="date edit_text" id="text_p_33"><?=$templates->getData('text_p_33')?></span>
            </div>
            <div class="entry-content">
              <p class="edit_text" id="text_p_30"><?=$templates->getData('text_p_30')?> </p>
            </div>
          </div>
          <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="800ms">
            <div class="post-thumb">
              <img class="img-responsive cnange_img" id="img3" src="<?=$templates->getData('img3')?>" alt="">
            </div>
            <div class="entry-header">
              <h3 class="edit_text" id="text_h3_14"><?=$templates->getData('text_h3_14')?></h3>
              <span class="date edit_text" id="text_p_34"><?=$templates->getData('text_p_34')?></span>
            </div>
            <div class="entry-content">
              <p class="edit_text" id="text_p_31"><?=$templates->getData('text_p_31')?> </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/#blog-->

  <section id="contact">

    <div id="contact-us" class="parallax change_bg" style='<?=$templates->getData('contact-us')?>'>
      <div class="container">
        <div class="row">
          <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
            <h2 class="edit_text" id="text_h2_6"><?=$templates->getData('text_h2_6')?></h2>
            <p class="edit_text" id="text_p_35"><?=$templates->getData('text_p_35')?></p>
          </div>
        </div>
        <div class="contact-form wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
          <div class="row">
            <div class="col-sm-6">
              <form id="main-contact-form" name="contact-form" method="post" action="#">
                <div class="row  wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <input type="text" name="name" class="form-control" placeholder="Name" required="required">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <input type="email" name="email" class="form-control" placeholder="Email Address" required="required">
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <input type="text" name="subject" class="form-control" placeholder="Subject" required="required">
                </div>
                <div class="form-group">
                  <textarea name="message" id="message" class="form-control" rows="4" placeholder="Enter your message" required="required"></textarea>
                </div>
                <div class="form-group">
                  <button type="submit" style="<?=$templates->getData('butt1_style','Send Now')?>" class="btn-submit edit_button" id="butt1"><?=$templates->getData('butt1','Send Now')?></button>
                </div>
              </form>
            </div>
            <div class="col-sm-6">
              <div class="contact-info wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                <p class="edit_text" id="text_p_36"><?=$templates->getData('text_p_36')?></p>
                <ul class="address">
                  <li><i class="fa fa-map-marker"></i> 
                    <span class="edit_text" id="text3"> <?=$templates->getData('text3')?></span> 
                    <span class="edit_text" id="text_p_37"><?=$templates->getData('text_p_37')?></span> 
                  </li>
                  <li><i class="fa fa-phone"></i> 
                    <span class="edit_text" id="text4"> <?=$templates->getData('text4')?></span> 
                    <span class="edit_text" id="text_p_38"><?=$templates->getData('text_p_38')?></span> 
                  </li>
                  <li><i class="fa fa-mobile"></i> 
                    <span class="edit_text" id="text5"> <?=$templates->getData('text5')?></span> 
                    <span class="edit_text" id="text_p_39"><?=$templates->getData('text_p_39')?></span> 
                  </li>
                  <li><i class="fa fa-envelope"></i> 
                    <span class="edit_text" id="text6"> <?=$templates->getData('text6')?></span>
                    <a class="edit_text" id="text1" href="mailto:<?=$templates->getData('text1')?>"> <?=$templates->getData('text1')?></a>
                  </li>
                  <li><i class="fa fa-globe"></i> 
                    <span class="edit_text" id="text7"> <?=$templates->getData('text7')?></span> 
                    <a class="edit_text" id="text2" href="http://<?=$templates->getData('text2')?>"><?=$templates->getData('text2')?></a>
                  </li>
                  <li><i class="fa fa-skype"></i> 
                    <span class="edit_text" id="text8"> <?=$templates->getData('text8')?></span> 
                    <span class="edit_text" id="text_p_40"><?=$templates->getData('text_p_40')?></span> 
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/#contact-->
  <footer id="footer" class="change_bg" style='<?=$templates->getData('footer')?>'>
    <div class="footer-top wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms" style="width: 290px;margin: auto;">
      <div class="container text-center" style="width: inherit;">
        <div class="footer-logo">
          <a href="index.html"><img class="img-responsive cnange_img" id="logobot" src="<?=$templates->getData('logobot')?>" alt=""></a>
        </div>
        <div class="social-icons">
          <ul>
            <li id="soc1"><a id="soc1_link" data-id="soc1" class="twitter edit_soc" href="#"><i class="fa fa-twitter"></i></a></li>
            <li id="soc2"><a id="soc2_link" data-id="soc2" class="facebook edit_soc" href="#"><i class="fa fa-facebook"></i></a></li>
            <li id="soc3"><a id="soc3_link" data-id="soc3" class="google edit_soc" href="#"><i class="fa fa-google-plus"></i></a></li>
            <li id="soc4"><a id="soc4_link" data-id="soc4" class="linkedin edit_soc" href="#"><i class="fa fa-linkedin"></i></a></li>
            <li id="soc5"><a id="soc5_link" data-id="soc5" class="dribbble edit_soc" href="#"><i class="fa fa-dribbble"></i></a></li>
            <li id="soc6"><a id="soc6_link" data-id="soc6" class="envelope edit_soc" href="#"><i class="fa fa-behance"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div id="footer_bot" class="footer-bottom change_bg" style='<?=$templates->getData('footer_bot')?>'>
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <p class="edit_text" id="text_p_41"><?=$templates->getData('text_p_41')?></p>
          </div>
          <div class="col-sm-6">
            <p class="pull-right edit_text" id="text_p_42"><?=$templates->getData('text_p_42')?></p>
          </div>
        </div>
      </div>
    </div>
  </footer>


  <script type="text/javascript" src="<?=$tempPath?>/js/jquery.js"></script>
  <script type="text/javascript" src="<?=$tempPath?>/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="<?=$tempPath?>/js/jquery.inview.min.js"></script>
  <script type="text/javascript" src="<?=$tempPath?>/js/wow.min.js"></script>
  <script type="text/javascript" src="<?=$tempPath?>/js/mousescroll.js"></script>
  <script type="text/javascript" src="<?=$tempPath?>/js/smoothscroll.js"></script>
  <script type="text/javascript" src="<?=$tempPath?>/js/jquery.countTo.js"></script>
  <script type="text/javascript" src="<?=$tempPath?>/js/lightbox.min.js"></script>
  <script type="text/javascript" src="<?=$tempPath?>/js/main.js"></script>
  
  <?php
    if($templates->edit())
    {
      $editColorTheme = true;
      $patch_edit = $path = $_SERVER['DOCUMENT_ROOT'] . '/templates/edit_temp/edit.php';
      include $patch_edit;
    }
  ?>

</body>

</html>