 <?php  
  $templates = $this->TemplateDB();
  $tempPath =  $templates->getPath();
  $temp_id = 1;
?><!DOCTYPE html>
<html <?=($this->checkLangSite($this->siteLang))?'dir="rtl"':''?> lang="<?=$this->siteLangCode['language_code']?>">

<head>
    <meta charset="utf-8">
    <title><?php echo $templates->getMeta('title','Professional Translation Online | Smartlation.com') ?></title>
    <meta name="description" content="<?php echo $templates->getMeta('meta_desc') ?>">
    <meta name="keywords" content="<?php echo $templates->getMeta('meta_key') ?>">
    <meta name="author" content="Kompyle Technologies">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap -->
    <link href="<?=$tempPath?>/includes/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- WOW JS Animation -->
    <link rel="stylesheet" href="<?=$tempPath?>/includes/wow-js/animations.css" />
    <!-- Litebox  -->
    <link rel="stylesheet" href="<?=$tempPath?>/includes/litebox/litebox.css" />
    <!-- Owl Carousel -->
    <link rel="stylesheet" href="<?=$tempPath?>/includes/owl-carousel/owl.carousel.css" />
    <!-- custom css -->
    <link href="<?=$tempPath?>/css/style.css" rel="stylesheet" type="text/css" media="screen">
    <link href="<?=$tempPath?>/css/media.css" rel="stylesheet" type="text/css" media="screen">
    <!-- font awesome for icons -->
    <link href="<?=$tempPath?>/includes/font-awesome-4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- Web Fonts -->
    <link href='https://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
    <?php $ico = $this->getFavicontempl(); ?>
    <?php if(!is_null($ico)){ ?>
    <!-- Favicons -->
    <link rel="icon" href="<?=$ico?>">
    <?php } ?>

    <!--[if lte IE 8]>
			<link rel="stylesheet" type="text/css" href="css/fucking-ie-8-and-lower.css" />
		<![endif]-->



    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
</head>

<body onload="init()" id="body" class="<?=($this->checkLangSite($this->siteLang))?'site-right':''?>">

    <section id="home">
        <div data-velocity="-.3" class="home-parallax"></div>
        <div class="home-overlay"></div>
        <div id="1_bg1" class="welcome-text change_bg" style='<?=$templates->getData('1_bg1')?>'>
            <div class="container">
                <h2 class="wow animated fadeInDown">
                <span style="<?=$templates->getData('1_txt1_style')?>" class="edit_text" id="1_txt1" ><?=$templates->getData('1_txt1')?></span>
                <span class="edit_text" id="1_txt2" style="<?=$templates->getData('1_txt2_style')?>"> <?=$templates->getData('1_txt2')?></span></h2>
                <p class="wow animated fadeInUp edit_text" style="<?=$templates->getData('1_txt333_style')?>" id="1_txt333"><?=$templates->getData('1_txt333')?></p>
                <br/>
                <a href="/upload" class="translate edit_button" style="<?=$templates->getData('1_btn1_style')?>" id="1_btn1"><?=$templates->getData('1_btn1')?></a>
                <br/>
                <br/>
                <br/>

                <br/>
            </div>
        </div>
    </section>
    <!--home section end-->

    <nav id="navigation">
        <div id="1_bg2" class="navbar navbar-default navbar-static-top change_bg" role="navigation" style="<?=$templates->getData('1_bg2')?>">
            <div class="container">
                <div class="<?=($this->checkLangSite($this->siteLang))?'siteright':''?>  navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/"><img class="cnange_img" id="logo" src="<?=$templates->getData('logo')?>" height="30px;" style="margin-top:-10px;" /></a>
                </div>
                <div class="navbar-collapse collapse">

                    <ul class="nav navbar-nav <?=($this->checkLangSite($this->siteLang))?'navbar-left':'navbar-right'?>">
                    
                        <?php if($templates->chekData('link1_block')) { ?>
                        <li class="link1_block"><a href="/" style="<?=$templates->getData('link1_style')?>" id="link1" data-id="link1" class="edit_link"><?=$templates->getData('link1')?></a></li>
                        <?php } ?>
                        <?php if($templates->chekData('link11_block')) { ?>
                        <li class="link11_block">
                          <a href="#" data-toggle="modal" data-target="#mod_about" style="<?=$templates->getData('link11_style')?>" id="link11" data-id="link11" class="edit_link" ><?=$templates->getData('link11')?></a>
                        </li>
                        <?php } ?>
                        <?php if($templates->chekData('link13_block')) { ?>
                        <li class="link13_block">
                          <a href="#services" id="link13" style="<?=$templates->getData('link13_style')?>" data-id="link13" class="edit_link" ><?=$templates->getData('link13')?></a>
                        </li>
                        <?php } ?>
                        <?php if($templates->chekData('link10_block')) { ?>
                        <li class="link10"><a href="#contact" id="link10" style="<?=$templates->getData('link10_style')?>" data-id="link10" class="edit_link"><?=$templates->getData('link10')?></a></li>
                        <?php } ?>
                    </ul>

                </div>
                <!--/.nav-collapse -->
            </div>
            <!--/.container -->
        </div>
        <!--navbar-default-->
    </nav>
    <!--navigation section end here-->

    <section id="about-us" class="change_bg">
        <div class="container">
            <div class="row">
                <div class="col-md-6 wow animated fadeInUp">
                    <h2 class="page-title edit_text" id="1_txt3" style="<?=$templates->getData('1_txt3_style')?>"><?=$templates->getData('1_txt3')?></h2>
                    <p class="edit_text" style="<?=$templates->getData('1_txt4_style')?>" id="1_txt4"><?=$templates->getData('1_txt4')?></p>

                    <p>
                      <a href="/upload" style="<?=$templates->getData('1_btnnn2_style')?>" class="btn btn-filled edit_button" id="1_btnnn2"><?=$templates->getData('1_btnnn2')?></a> 
                      <a href="" style="<?=$templates->getData('1_btnnn3_style')?>" class="btn btn-bordered edit_button" id="1_btnnn3"><?=$templates->getData('1_btnnn3')?></a>
                    </p>
                </div>

                <div class="col-md-6 wow animated fadeInUp">
                    <img class="img-responsive cnange_img" id="1_img2" src="<?=$templates->getData('1_img2')?>" alt="" />
                </div>
            </div>
        </div>
    </section>

    <section id="services" class="section-padding">
        <div id="bg3" data-velocity="-.1" class="features-bg change_bg" style="<?=$templates->getData('bg3')?>"> </div>
        <div class="container">
            <div class="row wow animated fadeInDown">
                <div class="col-md-12 text-center hero-title">
                    <i style="margin-top:-30px; background-color:white; color:#57bddb" class="fa <?=$templates->getData('1_icon1','fa-list')?> edit_icon" id="1_icon1" ></i>
                    <h1 style="<?=$templates->getData('1_txt5_style')?>" class="edit_text" id="1_txt5"><?=$templates->getData('1_txt5')?></h1>
                </div>
                <!--hero title end-->
            </div>
            <div class="row">
                <?php if($templates->chekData('block5')) { ?>
                <div id="block5" class="edit_block col-md-4 col-sm-6 wow animated fadeInLeft" data-wow-duration="700ms" data-wow-delay="100ms">
                    <div class="features-item">
                        <i class="fa <?=$templates->getData('1_icon2','fa-user-md')?> edit_icon" id="1_icon2"></i>
                        <h2 class="edit_text" style="<?=$templates->getData('1_txt6_style')?>" id="1_txt6"><?=$templates->getData('1_txt6')?></h2>
                        <p class="edit_text" style="<?=$templates->getData('1_txt7_style')?>" id="1_txt7"><?=$templates->getData('1_txt7')?></p>
                    </div>
                </div>
                <?php } ?>
                <?php if($templates->chekData('block6')) { ?>
                <!--feature col end-->
                <div id="block6" class="edit_block col-md-4 col-sm-6 wow animated fadeInLeft" data-wow-duration="700ms" data-wow-delay="200ms">
                    <div class="features-item">
                        <i class="fa <?=$templates->getData('1_icon3','fa-thumbs-up')?> edit_icon" id="1_icon3"></i>
                        <h2 class="edit_text" style="<?=$templates->getData('1_txt8_style')?>" id="1_txt8"><?=$templates->getData('1_txt8')?></h2>
                        <p class="edit_text" style="<?=$templates->getData('1_txt9_style')?>" id="1_txt9"><?=$templates->getData('1_txt9')?></p>
                    </div>
                </div>
                <?php } ?>
                <?php if($templates->chekData('block7')) { ?>
                <!--feature col end-->
                <div id="block7" class="edit_block col-md-4 col-sm-6 wow animated fadeInLeft" data-wow-duration="700ms" data-wow-delay="300ms">
                    <div class="features-item">
                        <i class="fa <?=$templates->getData('1_icon4','fa-clipboard')?> edit_icon" id="1_icon4"></i>
                        <h2 class="edit_text" style="<?=$templates->getData('1_txt10_style')?>" id="1_txt10"><?=$templates->getData('1_txt10')?></h2>
                        <p class="edit_text" style="<?=$templates->getData('1_txt11_style')?>" id="1_txt11"><?=$templates->getData('1_txt11')?></p>
                    </div>
                </div>
                <?php } ?>
                <?php if($templates->chekData('block8')) { ?>
                <!--feature col end-->
                <div id="block8" class="edit_block col-md-4 col-sm-6 wow animated fadeInLeft" data-wow-duration="700ms" data-wow-delay="400ms">
                    <div class="features-item">
                        <i class="fa <?=$templates->getData('1_icon5','fa-usd')?> edit_icon" id="1_icon5"></i>
                        <h2 class="edit_text" style="<?=$templates->getData('1_txt12_style')?>" id="1_txt12"><?=$templates->getData('1_txt12')?></h2>
                        <p class="edit_text" style="<?=$templates->getData('1_txt13_style')?>" id="1_txt13"><?=$templates->getData('1_txt13')?></p>
                    </div>
                </div>
                <?php } ?>
                <?php if($templates->chekData('block9')) { ?>
                <!--feature col end-->
                <div id="block9" class="edit_block col-md-4 col-sm-6 wow animated fadeInLeft" data-wow-duration="700ms" data-wow-delay="500ms">
                    <div class="features-item">
                        <i class="fa <?=$templates->getData('1_icon6','fa-flash')?> edit_icon" id="1_icon6"></i>
                        <h2 class="edit_text" id="1_txt14" style="<?=$templates->getData('1_txt14_style')?>"><?=$templates->getData('1_txt14')?></h2>
                        <p class="edit_text" id="1_txt15" style="<?=$templates->getData('1_txt15_style')?>"><?=$templates->getData('1_txt15')?></p>
                    </div>
                </div>
                <?php } ?>
                <?php if($templates->chekData('block10')) { ?>
                <!--feature col end-->
                <div id="block10" class="edit_block col-md-4 col-sm-6 wow animated fadeInLeft" data-wow-duration="700ms" data-wow-delay="600ms">
                    <div class="features-item">
                        <i class="fa <?=$templates->getData('1_icon7','fa-check')?> edit_icon" id="1_icon7"></i>
                        <h2 class="edit_text" id="1_txt16" style="<?=$templates->getData('1_txt16_style')?>"><?=$templates->getData('1_txt16')?></h2>
                        <p class="edit_text" id="1_txt17" style="<?=$templates->getData('1_txt17_style')?>"><?=$templates->getData('1_txt17')?></p>
                    </div>

                </div>
                <?php } ?>
                <!--feature col end-->
            </div>
            <div class="row wow animated fadeInDown">
                <div class="col-md-12 text-center hero-title">
                    <h4  class="edit_text" id="1_txt18" style="<?=$templates->getData('1_txt18_style')?>"><?=$templates->getData('1_txt18')?></h4>
                </div>
                <!--hero title end-->
            </div>

        </div>
    </section>
    <section id="call-to-action" class="change_bg">
        <div class="container">
            <div class="row wow animated fadeInDown">
                <div class="col-md-12">
                    <div class="cta-content">
                        
                        <a style="<?=$templates->getData('1_txt20_style')?>" href="/upload"  class="edit_text" id="1_txt20"><?php echo $templates->getData('1_txt20', 'Translate Now');?></a>
                        <a style="<?=$templates->getData('1_txt21_style')?>" href="/#contact" class="edit_text" id="1_txt21"><?php echo $templates->getData('1_txt21', 'Contact');?></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section id="contact" class="call-to-action">
        <div class="container">
            <div class="row wow animated fadeInDown">
                <div class="col-md-12">

 <section class="contact-me">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4"></div>

            <div class="col-md-4"></div>
    </div>
      
    <div class="row">
        <center>
              <div class="col-md-2"></div>
      <div class="col-md-8">
        <h4 class="edit_text" id="1_txt41" style="<?=$templates->getData('1_txt41_style')?>"><?=$templates->getData('1_txt41')?></h4>
          <br>
        <div class="form-box clfx">
        <form method="post" action="/en/contact/sending" id="contact-form" class="clfx">

                    <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" class="form-control" id="full_name" name="full_name" value="" placeholder="<?=$this->checkData($this->data, 'text20', 'Full name')?>">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" class="form-control " id="email_or_phone" name="email_or_phone" value="" placeholder="<?=$this->checkData($this->data, 'text21', 'Email')?>">
              </div>
            </div>
          </div>
            
              <div class="row">

            <div class="col-md-6">
              <div class="form-group">
                <input type="text" class="form-control " id="email_or_phone" name="email_or_phone" value="" placeholder="<?=$this->checkData($this->data, 'text22', 'Phone')?>">
              </div>
            </div>
                  
            <div class="col-md-6">
              <div class="form-group">
                <label for="file_form" id="l_sf"  class="form-control add-file"><?=$this->checkData($this->data, 'text23', 'Add attachment')?></label>
                <p id="text_sf" class="ds-n"><?=$this->checkData($this->data, 'text23', 'Add attachment')?></p>
                <input type="file" id="file_form" class="ds-n" name="file_form">
              </div>
            </div>
          </div>
          
          <div class="row">
            <div class="col-md-12">
              <textarea name="message" id="message" class=" textarea-form form-control " placeholder="<?=$this->checkData($this->data, 'text24', 'MESSAGE')?>" rows="3"></textarea>
            </div>
          </div>
          <button type="submit" class="btn btn-filled edit_button" style="<?=$templates->getData('1_btn4_style')?>" id="1_btn4"><?=$templates->getData('1_btn4')?></button>
          <div class="input-group">
            <div class="loader_progress_cus mg-n hide"></div>
          </div>
        </form>
          </div>
      </div>
      <div class="col-md-2"></div>
    </div>
        
        </center>

  </div>
</section>
                    
                    
                    
                </div>
            </div>
        </div>
    </section>


    <section id="footer" class="change_bg" style="<?=$templates->getData('footer')?>">
        <div class="footer_top">
            <div class="container">
                <div class="row">
                   <?php if($this->checkLangSite($this->siteLang)){$widtjet = 'left';}else{$widtjet = 'right';}?>
                   <?php if($templates->chekData('1_blc1')) { ?>
                   <div id="1_blc1" class="col-lg-3 col-md-3 edit_block">
                        <!-- widgets column left -->
                        <ul class="list-unstyled clear-margins">
                            <!-- widgets -->

                            <li class="widget-container widget_nav_menu">
                                <!-- widgets list -->

                                <h1 style="<?=$templates->getData('1_txt37_style')?>" class="title-widget edit_text" id="1_txt37"><?=$templates->getData('1_txt37')?></h1>

                                <ul>
                                    <li><a href="/#services"><i class="fa fa-angle-double-<?=$widtjet?>"></i> <span style="<?=$templates->getData('1_txt22_style')?>" class="edit_text" id="1_txt22"><?=$templates->getData('1_txt22')?></span></a></li>
                                    <li><a href="#" data-toggle="modal" data-target="#mod_how"><i class="fa fa-angle-double-<?=$widtjet?>"></i> <span style="<?=$templates->getData('1_txt23_style')?>" class="edit_text" id="1_txt23"><?=$templates->getData('1_txt23')?></span></a></li>
                                    
                                </ul>

                            </li>

                        </ul>


                    </div>
                    <?php } ?>
                    <?php if($templates->chekData('1_blc2')) { ?>
                    <!-- widgets column left end -->
                     <div id="1_blc2" class="col-lg-3 col-md-3 edit_block">
                        <!-- widgets column left -->
                        <ul class="list-unstyled clear-margins">
                            <!-- widgets -->

                            <li class="widget-container widget_nav_menu">
                                <!-- widgets list -->

                                <h1 style="<?=$templates->getData('1_txt38_style')?>" class="title-widget edit_text" id="1_txt38"><?=$templates->getData('1_txt38')?></h1>

                                <ul>
                                    
                                    <li><a href="#"><i class="fa fa-angle-double-<?=$widtjet?>"></i> <span style="<?=$templates->getData('1_txt27_style')?>" class="edit_text" id="1_txt27"><?=$templates->getData('1_txt27')?></span></a></li>
                                    
                                    <li><a href="#" data-toggle="modal" data-target="#mod_projman"><i class="fa fa-angle-double-<?=$widtjet?>"></i> <span style="<?=$templates->getData('1_txt29_style')?>" class="edit_text" id="1_txt29"><?=$templates->getData('1_txt29')?></span></a></li>
                                </ul>

                            </li>

                        </ul>


                    </div>
                    <?php } ?>
                    <?php if($templates->chekData('block3')) { ?>
                    <!-- widgets column left end -->
                     <div id="block3" class="col-lg-3 col-md-3 edit_block">
                        <!-- widgets column left -->
                        <ul class="list-unstyled clear-margins">
                            <!-- widgets -->

                            <li class="widget-container widget_nav_menu">
                                <!-- widgets list -->

                                <h1 style="<?=$templates->getData('1_txt39_style')?>" class="title-widget edit_text" id="1_txt39"><?=$templates->getData('1_txt39')?></h1>

                                <ul>
                                    
                                    <li><a href="#" data-toggle="modal" data-target="#mod_faq"><i class="fa fa-angle-double-<?=$widtjet?>"></i> <span style="<?=$templates->getData('1_txt31_style')?>" class="edit_text" id="1_txt31"><?=$templates->getData('1_txt31')?></span></a></li>
                                    <li><a href="#contact"><i class="fa fa-angle-double-<?=$widtjet?>"></i> <span style="<?=$templates->getData('1_txt32_style')?>" class="edit_text" id="1_txt32"><?=$templates->getData('1_txt32')?></span></a></li>
                                </ul>

                            </li>

                        </ul>


                    </div>
                    <!-- widgets column left end -->
                    <?php } ?>
                    <?php if($templates->chekData('block4')) { ?>
                    <div id="block4" class="col-lg-3 col-md-3 edit_block">
                        <!-- widgets column left -->
                        <ul class="list-unstyled clear-margins">
                            <!-- widgets -->

                            <li class="widget-container widget_nav_menu">
                                <!-- widgets list -->

                                <h1 style="<?=$templates->getData('1_txt40_style')?>" class="title-widget edit_text" id="1_txt40"><?=$templates->getData('1_txt40')?></h1>

                                <ul>
                                    <li><a href="#"  data-toggle="modal" data-target="#myModal"><i class="fa fa-file"></i> <span style="<?=$templates->getData('1_txt33_style')?>" class="edit_text" id="1_txt33"><?=$templates->getData('1_txt33')?></span></a></li>
                                    
                   
                                </ul>

                            </li>

                        </ul>


                    </div>
                    <?php } ?>
                    <!-- widgets column left end -->
                    <!-- Modal -->
                    <div id="myModal" class="modal fade" role="dialog">
                      <div class="modal-dialog">
                    
                        <!-- Modal content-->
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Supported File Formats</h4>
                          </div>
                          <div class="modal-body">
                            <p><span style="color:#57bddb; font-weight:700;">Text Files:</span> *.txt, *.doc, *.docx, *.pdf, *.xls, *.xlsx, *.ppt, *.pptx</p>
                            <p><span style="color:#57bddb; font-weight:700;">Images Files:</span> *.jpg, *.png, *.gif, *.tif, *.tiff</p>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          </div>
                        </div>
                    
                      </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <footer style="margin-top:10px;">
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-sm-9">
                    <div class="footer-copyright">
                        <p>
                            <a href=""><img src="<?=$templates->getData('logo')?>" height="17px;"></a> &copy; 2015 | <a href="" >Terms & Conditions</a> | <a href="">Privacy Policy</a></p>
                    </div>
                </div>
                <!--copyright col end-->

                <div class="col-md-3 col-sm-3">
                    <div class="footer_mid pull-right">
                        <ul class="social-contact list-inline">
                            <?php if($templates->chekData('1_soc1')) { ?>
                            <li id="1_soc1"> 
                                <a id="1_soc1_link" data-id="1_soc1" href="<?=$templates->getData('1_soc1_link')?>" class="edit_soc"><i class="fa fa-facebook"></i></a>
                            </li>
                            <?php } ?>
                            <?php if($templates->chekData('1_soc2')) { ?>
                            <li id="1_soc2"> 
                                <a id="1_soc2_link" data-id="1_soc2" href="<?=$templates->getData('1_soc2_link')?>" class="edit_soc"><i class="fa fa-twitter"></i></a>
                            </li>
                            <?php } ?>
                            <?php if($templates->chekData('1_soc3')) { ?>
                            <li id="1_soc3"> 
                                <a id="1_soc3_link" data-id="1_soc3" href="<?=$templates->getData('1_soc3_link')?>" class="edit_soc"><i class="fa fa-google-plus"></i> </a>
                            </li>
                            <?php } ?>
                            <?php if($templates->chekData('1_soc4')) { ?>
                            <li id="1_soc4">
                                <a id="1_soc4_link" data-id="1_soc4" href="<?=$templates->getData('1_soc4_link')?>" class="edit_soc"> <i class="fa fa-linkedin"></i></a>
                            </li>
                            <?php } ?>
                            <?php if($templates->chekData('1_soc5')) { ?>
                            <li id="1_soc5">
                                <a id="1_soc5_link" data-id="1_soc5" href="<?=$templates->getData('1_soc5_link')?>" class="edit_soc"> <i class="fa fa-pinterest"></i></a>
                            </li>
                            <?php } ?>
                        </ul>
                    </div>
                </div>
                <!--blogname col end-->
            </div>
        </div>
    </footer>

<?php echo $this->render("blocks/modal.phtml");?>

    <!--scripts and plugins -->
    <!--must need plugin jquery-->
    <script src="<?=$tempPath?>/js/jquery.min.js"></script>
    <!--bootstrap js plugin-->
    <script src="<?=$tempPath?>/includes/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <!-- Google Maps API -->
    <script src="https://maps.google.com/maps/api/js?sensor=false"></script>
    <!-- Custom Google Map -->
    <script type="text/javascript">
        var maps;
			var geocoder;

			function init() {
				maps = [];
				geocoder = new google.maps.Geocoder();

				var styles = {
				  'Red': [
					{
					  featureType: 'all',
					  stylers: [{saturation:-100},{gamma:0.50}]
					}
				  ]
				};

				for (var s in styles) {
				  var opt = {
					mapTypeControlOptions: {
					  mapTypeIds: [s]
					},
					disableDefaultUI: true,
					navigationControl: true,
					scrollwheel: false,
					center: new google.maps.LatLng(42.415109, -96.842471),
					zoom: 8,
					mapTypeId: s
				  };

				  var div = document.getElementById('map');
				  var map = new google.maps.Map(div, opt);
				  var styledMapType = new google.maps.StyledMapType(styles[s], {name: s});
				  map.mapTypes.set(s, styledMapType);
				  
				  var goldStar = 'templates/template_1/img/marker.png';

				  var marker = new google.maps.Marker({
					position: map.getCenter(),
					icon: goldStar,
					map: map
				  });				  
				}
			}
    </script>
    <!--easying scroll effect-->
    <script src="<?=$tempPath?>/js/jquery.easing.1.3.min.js" type="text/javascript"></script>
    <script src="<?=$tempPath?>/js/jquery.sticky.js" type="text/javascript"></script>
    <script src="<?=$tempPath?>/js/jquery.nav.js" type="text/javascript"></script>
    <!--owl carousel-->
    <script src="<?=$tempPath?>/includes/owl-carousel/owl.carousel.min.js" type="text/javascript"></script>
    <!--wow animation-->
    <script src="<?=$tempPath?>/includes/wow-js/wow.min.js" type="text/javascript"></script>

    <!--Activating WOW Animation only for modern browser-->
    <!--[if !IE]><!-->
    <script type="text/javascript">
        new WOW().init();
    </script>
    <!--<![endif]-->

    <!--Oh Yes, IE 9+ Supports animation, lets activate for IE 9+-->
    <!--[if gte IE 9]>
			<script type="text/javascript">new WOW().init();</script>
		<![endif]-->

    <!--Opacity & Other IE fix for older browser-->
    <!--[if lte IE 8]>
			<script type="text/javascript" src="js/ie-opacity-polyfill.js"></script>
		<![endif]-->


    <!--parallax-->
    <script src="<?=$tempPath?>/js/jquery.scrolly.js" type="text/javascript"></script>
    <!--portfolio-filter-->
    <script src="<?=$tempPath?>/js/isotope.pkgd.min.js" type="text/javascript"></script>
    <!--lightbox-->
    <script src="<?=$tempPath?>/includes/litebox/images-loaded.min.js" type="text/javascript"></script>
    <script src="<?=$tempPath?>/includes/litebox/litebox.min.js" type="text/javascript"></script>
    <!--project count-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
    <script src="<?=$tempPath?>/js/jquery.counterup.min.js" type="text/javascript"></script>
    <!--custom scrollbar-->
    <script src="<?=$tempPath?>/js/jquery.nicescroll.min.js" type="text/javascript"></script>

    <!--customizable plugin edit according to your needs-->
    <script src="<?=$tempPath?>/js/custom.js" type="text/javascript"></script>
    
    <?php
    if($templates->edit())
    {
      $editColorTheme = false;
      $patch_edit = $path = 'templates/edit_temp/edit.php';
      include $patch_edit;
    }
  ?>
    
</body>
</html>
