<div class="wrapper-in">
				<section class="top-info">
              
                   <video width="100%" preload="auto" autoplay="autoplay" loop="loop">
			      <source src="/video/3.mov" type="video/mp4"></source>
				  </video>
                 
					<div class="bg-top"></div>
					<div class="container-fluid">
						<div class="for-abs-box">
							<div class="row">
								<div class="col-md-2"></div>
								<div class="col-md-1">
									<div class="for-bord-l"></div>
								</div><!-- col-md-1 -->
								<div class="col-md-6">
									<h1>Become Owner Of The Most Powerful</h1>
									<h2>  Translation Agency</h2>
								</div><!-- col-md-6 -->
								<div class="col-md-1">
									<div class="for-bord-r"></div>
								</div><!-- col-md-1 -->
								<div class="col-md-2"></div>
							</div><!-- row -->
							<div class="row">
								<h3>Compare the best offers for you.<br> Save time and money.</h3>
								<div class="col-sm-4"></div>
								<div class="col-sm-4">
									<!-- <a href="#" class="link-in-video">Watch How it works</a> -->
								</div>
								<div class="col-sm-4"></div>
							</div><!-- row -->
							<div class="row">
								<div class="col-md-12">
									<a href="/#register-table" class="btn-all btn-green fadeInUp animated register">JOIN NOW!</a>
								</div><!-- col-md-12 -->
							</div><!-- row -->
						</div><!-- for-abs-box -->
					</div><!-- container-fluid -->
				</section><!-- top-info -->
            <br>
            <br>
            <br>
            <br>
           
            
				<section class="our-services">
                    
                    <h3 class="can-enjoy">Now You Can Enjoy The Latest <br> Technology To Provide Your Customers</h3>
                    <p></p>
                    
					<div class="container-fluid">
						<div class="row bounceInRight animated animated1">
							<div class="col-sm-4">
								<div class="one-service">
									<div class="service-img">
										<img src="images/content/our-services/1.png" alt="">
									</div><!-- service-img -->
									<div class="service-txt">
										<h4>Translation</h4>
									</div><!-- service-txt -->
								</div><!-- one-service -->
							</div><!-- col-lg-4 -->
							<div class="col-sm-4">
								<div class="one-service">
									<div class="service-img">
										<img src="images/content/our-services/2.png" alt="">
									</div><!-- service-img -->
									<div class="service-txt">
										<h4>Translate your Android<br> and iOS App!</h4>
									</div><!-- service-txt -->
								</div><!-- one-service -->
							</div><!-- col-lg-4 -->
							<div class="col-sm-4">
								<div class="one-service">
									<div class="service-img">
										<img src="images/content/our-services/3.png" alt="">
									</div><!-- service-img -->
									<div class="service-txt">
										<h4>Web Localization</h4>
									</div><!-- service-txt -->
								</div><!-- one-service -->
							</div><!-- col-lg-4 -->
						</div><!-- row -->
						<div class="row bounceInLeft animated animated1">
							<div class="col-sm-4">
								<div class="one-service">
									<div class="service-img">
										<img src="images/content/our-services/4.png" alt="">
									</div><!-- service-img -->
									<div class="service-txt">
										<h4>Ads and Adwords Localization</h4>
									</div><!-- service-txt -->
								</div><!-- one-service -->
							</div><!-- col-lg-4 -->
							<div class="col-sm-4">
								<div class="one-service">
									<div class="service-img">
										<img src="images/content/our-services/5.png" alt="">
									</div><!-- service-img -->
									<div class="service-txt">
										<h4>Proofreading</h4>
									</div><!-- service-txt -->
								</div><!-- one-service -->
							</div><!-- col-lg-4 -->
							<div class="col-sm-4">
								<div class="one-service">
									<div class="service-img">
										<img src="images/content/our-services/6.png" alt="">
									</div><!-- service-img -->
									<div class="service-txt">
										<h4>Editing</h4>
									</div><!-- service-txt -->
								</div><!-- one-service -->
							</div><!-- col-lg-4 -->
						</div><!-- row -->
					</div><!-- container-fluid -->
				</section><!-- our-services -->
				<section class="our-advant">
					<h3 class="our-advant-tittle">Offer Your Customers</h3>
					<div class="advant-box clfx">
						<div class="no-skew">
							<div class="one-advant one-advant1">
								<img src="images/content/oad1.png" alt="">
								<h3 class="animated fadeInRight ">QUALITY<br> GUARANTEE</h3>
							</div><!-- one-advant -->
						</div>
						<div class="skew">
						<div class="one-advant one-advant2">
							<img src="images/content/oad2.png" alt="">
							<h3 class="animated fadeInDown">QUICK<br> TRANSLATION</h3>
						</div><!-- one-advant -->
						</div>
						<div class="no-skew">
						<div class="one-advant one-advant3">
							<img src="images/content/oad3.png" alt="">
							<h3 class="animated fadeInLeft ">PROFESSIONAL<br> TRANSLATORS</h3>
						</div><!-- one-advant -->
						</div>
					</div><!-- advant-box -->
					<div class="blue-line">
						<div class="container-fluid">
							<div class="row">
								<div class="col-md-12">
									<a href="#" class="btn-all btn-wihte">JOIN NOW!</a>
								</div><!-- col-md-12 -->
							</div><!-- row -->
						</div><!-- container-fluid -->
					</div><!-- blue-line -->
				</section><!-- our-advant -->
				<section class="how-does">
					<div class="container-fluid">
						<h3>How Does It Work?</h3>
						<div class="row">
						<div class="col-md-4">
							<div class="one-ipad pulse animated">
								<img src="images/content/ipad1.png" alt="">
								<h4>1. Upload your files</h4>
							</div><!-- one-ipad -->
						</div><!-- col-md-4 -->
						<div class="col-md-4">
							<div class="one-ipad one-ipad-cntr pulse animated pulse1">
								<img src="images/content/ipad2.png" alt="">
								<h4>2. Select your translators</h4>
							</div><!-- one-ipad -->
						</div><!-- col-md-4 -->
						<div class="col-md-4">
							<div class="one-ipad pulse animated pulse2">
								<img src="images/content/ipad3.png" alt="">
								<h4>3. Your translation is DONE!</h4>
							</div><!-- one-ipad -->
						</div><!-- col-md-4 -->
						</div><!-- row -->
					</div><!-- container-fluid -->
					<div class="green-line">
						<div class="container-fluid">
							<div class="row">
								<div class="col-md-12">               
							     <div class="form-login text-center">
                    
                    <form id="login-form" action="/#login-table" method="post" role="form" style="display: block;">
                      <a name="login-table"></a>
                      
                      <table class="login-table"  style="display:<?=(isset($this->login))?'table':'none'?>;margin:auto">
                        <tr>
                          <td>
                          <?php if(isset($this->error)){ ?>
                          <b style="color: #821313;font-weight: bold; text-transform: uppercase;">Email and/or password is invalid.</b>
                          <?php } ?>
                          </td>
                        </tr>
                        <tr>
                          <td>
                          <p>Email</p>
                          <input type="email" placeholder="" name="email" required>
                          <br><br>
                          </td>
                        </tr>
                        <tr>
                          <td>
                          <p>Password</p>
                          <input type="password" name="pass" required>
                          <br>
                          <br>
                          </td>    
                        </tr>  
                        <tr>
                          <td>
                            <a href="/forgont-password" style="color: #fff;">Forgot password?</a>
                            <br />
                            <br />
                          </td>    
                        </tr>
  
                        <tr>
                          <td>
                            <button class=" btn-blue login" name="login" type="submit">Sign In</button>
                            <br>
                            <br>
                          </td>
                        </tr>
                      
                      </table>
                    </form>
                    
                    <form id="register-form" action="/#register-table" method="post" role="form">
                      <a name="register-table"></a>        
                      <table class="register-table" width="50%" style="display:<?=(isset($this->registration))?'table':'none'?>;    margin: auto;">
                        <tbody>
                          <?php if(!empty($this->nameError) ){ ?>
                          <tr>
                            <td colspan="2" style="color: #821313;font-weight: bold; text-transform: uppercase;">
                              <?php foreach($this->nameError as $k=>$v) { ?>
                                <?=$v?></br>
                              <?php } ?>
                            </td>
                          </tr>
                          <?php } ?>
                          
                          <?php if(isset($this->success) ){ ?>
                          <tr>
                            <td colspan="2" style="color:#fff;font-weight: bold;">
                              <span style="text-transform: uppercase;color:#fff">You have registered successfully!</span>
                              </br>
                                You can login to your agency panel now
                            </td>
                          </tr>
                          <?php } ?>
                          
                          <tr>
                            <td>
                              <p>Email Address</p>
                              <input type="email" name="email" value="<?=(isset($this->data['email']))?$this->data['email']:''?>" required >
                              <br><br>
                            </td>
                            
                            <td>
                              <p>First Name</p>
                              <input type="text" name="name_tran" value="<?=(isset($this->data['email']))?$this->data['name_tran']:''?>" required>
                              <br><br>
                            </td>
                          </tr>
                          
                          <tr>
                            <td>
                              <p>Last Name</p>
                              <input type="text" name="last_tran" value="<?=(isset($this->data['email']))?$this->data['last_tran']:''?>" required>
                              <br><br>
                            </td> 
                            
                            <td>
                              <p>Phone Number</p>
                              <input type="text" name="phon_tran" value="<?=(isset($this->data['email']))?$this->data['phon_tran']:''?>" required>
                              <br><br>
                            </td>
                          </tr>
                          
                          <tr>
                            <td>
                              <p>Password</p>
                              <input type="password" name="pass_tran" required>
                              <br>
                              <br>
                            </td>    
                            <td>
                              <p>Confirm Password</p>
                              <input type="password" name="confpass" required>
                              <br>
                              <br>
                            </td>    
                          </tr>
                          <tr>
                            <td colspan="2" style="text-align: center;">
                              <p style="text-align: center;">Code</p>
                              <input type="text" name="code" required>
                              <br>
                              <br>
                            </td>    
                             
                          </tr>
                          <tr>
                            <td colspan="2"> 
                              <p style="text-align:center;">I accept the Privacy <b><a href="/terms" target="_blank" style="color:#fff;">terms & Conditions.</a></b>
                              <input type="checkbox" class="" id="terminaos" required></p>
                              <br>
                              <button type="submit" name="registration" id="register-submit" tabindex="4" class="form-control btn btn-blue">SIGN UP</button>
                              <br>
                            </td>
                          </tr>    
                        </tbody>
                      </table>
                    </form>
                                        
                    <table style="margin:auto">
                      <tr>
                        <td>
                        <button href="#login-table" class=" btn-green login">Login</button>
                        <button type="" class=" btn-blue register">Regsiter Now</button> <br><br>
                        </td>    
                      </tr>
                    </table>

                  </div>
								</div><!-- col-md-12 -->
							</div><!-- row -->
						</div><!-- container-fluid -->
					</div><!-- green-line -->
				</section><!-- how-does -->
			</div><!-- wrapper-in -->