.cont-minisite{
 margin: auto;
 margin-top: 80px;
 width: 100%;
 background: ;
 font-size: 97%; 
 font-family: 'Lato', sans-serif;
    
}

header {
    
    position: fixed;
}

.min-sub-page{   
     font-family: 'Lato', sans-serif;

    font-size: 89%;
    width:108%;
    margin-left: -9%;
    height: auto;
    margin-top: 1.1%;
    background:#ffffff;
   
}


.sideNav{
    font-size: 93%;
    font-family: 'Lato', sans-serif;
    width:100%;
    max-width: 300px;
    min-width: 200px;
    margin-bottom: 0px;
    height: 100%;
    background: #f8f8f8;
    padding: 30px 10px 10px 20px;
    -webkit-transition:all 500ms ease;
    -o-transition:all 500ms ease;
     transition:all 500ms ease; 
    z-index: 9000;

    
   
}

.bar-form .close-form {
 margin: -3% 0% 0% 90%;
position: relative;
}


.sideNav a {
padding: 0px 0px 0px 0px;
 color:#9d9d9d;
}

.item-sideNav{
    color:#7e7e7e;
    width: 100%;
    padding-top: 7.3%;
    padding-bottom: 2.3%;
    padding-left: 2.3%;
    border-left: solid 5px rgba(255, 255, 255, 0);
     font-family: 'Lato', sans-serif;

    
    
}

.item-sideNav i {
    padding-right: 5%;
    color:#7c7c7c;
    font-size: 22px;
}

.item-sideNav:hover{
    width: 100%;
    border-left: solid 5px rgba(55, 130, 196, 0.82);
     color:;
    background: rgba(193, 193, 193, 0.38);
        -webkit-transition:all 500ms ease;
    -o-transition:all 500ms ease;
     transition:all 500ms ease;  
}



.search {
   width: 96%;
   padding: 1% 1% 1% 1%; 
   background: rgba(255, 255, 255, 0.25); 
}

.search  div{
    color:#b9b5b5;
   padding-left: 2%; 
}


.page-bar{
      width: 100%;
      height: 20px;
      border-bottom: solid 1px #e7ecf1;
      padding: 5px 5px 25px 15px;
}
 .page-bar a i{
    color: rgba(204, 204, 204, 0.92);
    font-size: 9px;
    
}

.cont-form {
    font-family: 'Lato', sans-serif;
    width:98%;
    background: #fff;
    max-width: 1500px;
    height: auto;
    margin: 2% 0% 2% 7%;
    position: absolute;
    border: solid 2px rgb(110, 158, 199);
    border-radius: 2px;
    padding: 0% 0% 2% 0%;
    z-index: 1;
} 

.welcome {
   font-family: 'Lato', sans-serif;
    width:98%;
    max-width: 1500px;
    margin: 12% 0% 2% 7%;
    position: absolute;
    padding: 0% 0% 2% 0%;
    z-index: 1;
} 

.welcome p {
font-size: 120%;
margin-top: 4%;
text-align: center;
color: rgba(89, 92, 93, 0.87);

}
.welcome h1 {
    
    font-size: 360%;
}


.cont-form i {
    margin: 5px 15px 5px 15px;
}.cont-form .form-margin {
    margin: 0px 10% 0% 10%;
}


.cont-form input,.cont-form textarea,.cont-form select{
      font-family: 'Lato', sans-serif;
      height: 35px;
      width: 100%;
      background: #fff;
      border: solid 1px #ccc;
      padding: 2% 2% 2% 2%;
      border-radius:2px;
      margin: 10px 0px 0px 0px;
   }

  .cont-form label{
  font-family: 'Lato', sans-serif;
  color:#6f6d6d;
  font-size: 94%;
   }

.cont-form .bar-form{
    color:#fff;
    font-size:16px;
    background:  rgb(79, 127, 168);
    padding: 5px;
}

.cont-form .send {
     font-family: 'Lato', sans-serif;

    width: auto;
    min-width: 30%;
    margin: auto;
    margin-top: 4%;
    padding: 0% 0% 0% 0%;
    background:  #0f6186;
    color:#fff;
    border-radius: 4px;
     -webkit-transition:all 500ms ease;
    -o-transition:all 500ms ease;
     transition:all 500ms ease; 
}

.cont-form .send:hover {
        background: rgb(50, 117, 175);

}

.col{
  margin-top: 15px;
}


.my-agency, .my-website , .my-plan , .order-plan,   .basic-plan, .account
{
    display: none;
    }

.cont-form table {
    margin: 1% 1% 1% 1%;
    width: 79%;
}

.my-website label img, .my-website label iframe {
    
    width: 200px;   height: 100px;  
    padding: 5px;;
    margin: 20% 0% 0% 2%;
    position: absolute;
}


.cont-form h1 {
    font-size: 24px;
    font-weight: 300;
    color:#6f6f6f;
}



.section-visit a div {
    width:216px;
    height:100px ;
    -webkit-transition:all 500ms ease;
    -o-transition:all 500ms ease;
     transition:all 500ms ease; 
    
} 

.section-visit {margin-left: 2%;}


.section-visit div {

    margin-left: 5%;
} 

.section-visit a div i:hover {
color:#fff;
} 


.section-visit div  a  div .detall{
        color: rgba(255, 255, 255, 0.88);
        font-size: 14px;
        text-align: right;
        padding-right:35px;
        font-weight: 300;
}


.section-visit div  a  div i {
    position: relative;
    color: rgba(255, 255, 255, 0.54);
    font-size:64px;
    text-align: right;
     -webkit-transition:all 500ms ease;
    -o-transition:all 500ms ease;
     transition:all 500ms ease; 
}



.blue {
    
    background-color: #3598dc;
}

.red {
    
    background-color: #e7505a;
}
.green {
    
    background-color: #32c5d2;
}

.template-item{
    margin-left: 0%;

}

.template-item label{
    display: inline-block;
    margin-right: 0%;
}
/*style checkmark*/

.control-group {
  display: inline-block;

  width: 100%;
  height: auto;
  margin: auto;
}
.control {
      text-align: left;

  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 18px;
}
.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.control__indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background: #e6e6e6;
}
.control--radio .control__indicator {
  border-radius: 50%;
}
.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
  background: #ccc;
}
.control input:checked ~ .control__indicator {
  background: #465fc4;
}
.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
  background: #0f6186;
}
.control input:disabled ~ .control__indicator {
  background: #0f6186;
  opacity: 0.6;
  pointer-events: none;
}
.control__indicator:after {
  content: '';
  position: absolute;
  display: none;
}
.control input:checked ~ .control__indicator:after {
  display: block;
}
.control--checkbox .control__indicator:after {
  left: 8px;
  top: 4px;
  width: 3px;
  height: 8px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.control--checkbox input:disabled ~ .control__indicator:after {
  border-color: #7b7b7b;
}
.control--radio .control__indicator:after {
  left: 7px;
  top: 7px;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: #fff;
}
.control--radio input:disabled ~ .control__indicator:after {
  background: #7b7b7b;
}
.select {
  position: relative;
  display: inline-block;
  margin-bottom: 15px;
  width: 100%;
}
.select select {
  display: inline-block;
  width: 100%;
  cursor: pointer;
  padding: 10px 15px;
  outline: 0;
  border: 0;
  border-radius: 0;
  background: #e6e6e6;
  color: #7b7b7b;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.select select::-ms-expand {
  display: none;
}
.select select:hover,
.select select:focus {
  color: #000;
  background: #ccc;
}
.select select:disabled {
  opacity: 0.5;
  pointer-events: none;
}
.select__arrow {
  position: absolute;
  top: 16px;
  right: 15px;
  width: 0;
  height: 0;
  pointer-events: none;
  border-style: solid;
  border-width: 8px 5px 0 5px;
  border-color: #7b7b7b transparent transparent transparent;
}
.select select:hover ~ .select__arrow,
.select select:focus ~ .select__arrow {
  border-top-color: #000;
}
.select select:disabled ~ .select__arrow {
  border-top-color: #ccc;
}

/*upload-logo*/

#imagePreview {
  width: 180px;
  height: 180px;
  background-image: url(../images/content/LOGO_ILLUSTARTOR_Edit.png);
  background-position: center center;
  background-size: 180px;
  background-repeat: no-repeat;
  display: inline-block;
  content: "click Here";
  color: black;
  z-index: 20;
    border: solid 1px #ccc;
    border-radius: 14px;
}

#imagePreview .preview i {
    margin-top: 30%;
    font-size: 80px;
    color: rgba(75, 75, 75, 0.7);
}


#imagePreview .preview {
   -webkit-transition:all 500ms ease;
    -o-transition:all 500ms ease;
     transition:all 500ms ease; 

}


#imagePreview .preview:hover{
    
     width: 178px;
  height: 178px;     
 background: rgba(0, 0, 0, 0.21);
    display: block;
     border-radius: 14px;

    
}

#imagePreview img{
  width: 100%;  
}

input[type="file"] {
    display: none;
}




/*msj de ayuda*/

.help-tip{
	text-align: center;
	background-color: #BCDBEA;
	border-radius: 50%;
	width: 24px;
	height: 24px;
	font-size: 14px;
	line-height: 26px;
	cursor: default;
    -webkit-transition:all 500ms ease;
    -o-transition:all 500ms ease;
     transition:all 500ms ease;

}

.help-tip:hover{
   	background-color: #0f6186;
 
    
}

.help-tip:before{
	content:'?';
	font-weight: bold;
	color:#fff;
        z-index: 9000;

}

.help-tip:hover p{
	display:block;
	transform-origin:   100% 0% ;

	-webkit-animation: fadeIn 0.3s ease-in-out;
	animation: fadeIn 0.3s ease-in-out;
        z-index: 9000;


}

.help-tip p{	/* The tooltip */
	display: none;
	text-align: center;
	background-color: #1E2021;
	padding: 20px;
	width: 300px;
	position: relative;
	border-radius: 3px;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	left: 200px;
	color: #FFF;
	font-size: 13px;
	line-height: 1.4;
    z-index: 9000;
    position: absolute;
   
}

/*

.help-tip p:before{ /* The pointer of the tooltip
	position: absolute;
	content: '';
	width:;
	height:;
	border:6px solid transparent;
	border-bottom-color:#1E2021;
	right:288px;
	top:-11px;
    z-index: 9000;       
    
} */

.help-tip p:after{ /* Prevents the tooltip from being hidden */
	width:100%;
	height:40px;
	content:'';
	position: absolute;
	top:-40px;
	left:100px;
    z-index: 9000;

}

.material-icons{display: inline-block;}

/* CSS animation */

@-webkit-keyframes fadeIn {
	0% { 
		opacity:0; 
		transform: scale(0.6);
	}

	100% {
		opacity:100%;
		transform: scale(1);
	}
}

@keyframes fadeIn {
	0% { opacity:0; }
	100% { opacity:100%; }
}



