@import url(https://fonts.googleapis.com/css?family=Lato:400,100,300,700,900);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6,  blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,p,
dl, dt, dd, ol, ul, li
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, textarea,
input, button {
margin: 0;
padding: 0;
border: 0;
outline: 0;
vertical-align: baseline;
}
html{
overflow-x: hidden;
}
body, html {
width: 100%;
height: 100%;
font-weight: 300;
}
input, textarea {
font-family: 'Lato', sans-serif;
resize: none;
}
body {
font-size: 16px;
font-family: 'Lato', sans-serif;
font-weight: 400;
padding: 0;
}
p, span, .label{
  color: #727272;
}
h1, h2, h3, h4, p{
font-weight: normal;
  
}
h1{
  font-size: 112px;
  font-weight: 300;
  text-align: center;
}
h2{
  font-size: 45px;
  font-weight: 400;
  text-align: center;
}
h3{
  font-size: 34px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
}
h4{
  font-size: 24px;
  text-align: center;
}
ol, ul {
list-style: none;
}
a{
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
a:hover{
    text-decoration: none;
}
a:focus{
  outline: none;
}
blockquote, q {
quotes: none;
}
:focus {/* remember to define focus styles! */
outline: 0;
}
ins {
text-decoration: none;
}
del {
text-decoration: line-through;
}
table {
border-collapse: collapse;
border-spacing: 0;
}
/*----------------Preloader----------------*/
#page-preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #363635;
    z-index: 100500;
}

#page-preloader .spinner {
    width: 64px;
    height: 64px;
    position: absolute;
    left: 50%;
    top: 50%;
    background: url(../images/350b.gif) no-repeat 50% 50%;
    margin: -32px 0 0 -32px;
}
/*----------------Preloader END----------------*/
/*For clearfix*/
.clfx:before,
.clfx:after {
    content:"";
    display:table;
}
.clfx:after {
    clear:both;
}
.clfx {
    zoom:1; /* РҐР°Рє РґР»СЏ IE 6 Рё 7 */
}
.clear{
    clear: both;
    font-size: 0;
    line-height: 0;
    height: 0;
    overflow: hidden;
}
/* /For clearfix*/
/*For wrap*/
.container-fluid{
  position: relative;
  height: 100%;
  max-width: 1200px;
}
/* /For wrap*/
/*For pull*/
/*----------------@media--------------------*/
@media (max-width: 1155px){
  .news-block span{
    margin-top: 15px!important;
  }
  .btn-blue-wihte{
    font-size: 12px!important;
  }
}
@media (max-width: 991px){
   .navbar-toggle {
    display: block;
  }
  .navbar-collapse.collapse {
    display: none!important;
  }
  .navbar-nav {
    margin-top: 7.5px;
  }
  .navbar-header{
    float: none!important;
  }
  .navbar-nav > li{
    float: none;
  }
  .for-bord-l,
  .for-bord-r{
    display: none;  
  }
  .one-ipad-cntr:before,
  .one-ipad-cntr:after{
    display: none;  
  }
  .one-advant,
  .no-skew,
  .skew{
    float: none!important;
    width: 300px!important; 
    margin: 0 auto!important; 
  }
  .advant-box .skew{
    border: none!important;
  }
  .one-advant h3{
    position: relative!important;
    margin-top: -100px!important;
    left: inherit!important;
    margin-left: 0!important;    
  }
  footer ul{
    float: none!important;
    margin-top: 20px;  
  }
  .navbar .btn-all{
    margin-bottom: 10px;  
  }
  .navbar-offcanvas{
    padding-left: 0!important;  
    padding-right: 40px!important;  
  }
  .nav-tabs > li{
    float: none !important;
  }
  .nav-tabs > li > a{
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 889px){
  .news-block span{
    margin-left: 0px!important;
  }
}
@media (max-width: 768px){
  h1{
    font-size:  60px;
  }
  h2{
    font-size:  35px;
  }
  h3{
    font-size:  25px;
  }
  video{
    display: none;  
  }
  .top-info{
    background: rgba(0,0,0,0.7) url("../images/content/pattern.png"); 
  }
  .bg-top{
    display: none!important;  
  }
  .news-block span{
    margin-top: 35px!important;
  }
  .result-block .btn-all{
    margin-bottom: 20px;
  }
  .bbr{
    border-right: 0!important;
    border-bottom: 1px solid rgba(0,0,0,0.06);
    padding-bottom: 30px!important;
    margin-bottom: 30px!important;
  }
  .total-box .bbr{
    border-bottom: 0!important;
    border-right: 1px solid rgba(0,0,0,0.06)!important;
  }
  .revieworder-block .btn-blue-wihte{
    margin-top: 30px!important;
  }
}
@media (max-width: 546px){
  .news-block span{
    margin-top: 15px!important;
  }
}
@media (max-width: 415px){
  .top-info .btn-green:before,
  .blue-line .btn-wihte:before,
  .green-line .btn-wihte:before{
    display: none!important;  
  }
  .top-info .btn-green,
  .blue-line .btn-wihte,
  .green-line .btn-wihte{
    padding-left: 0!important;  
  }
  h1{
    font-size:  35px;
  }
  .one-advant,
  .no-skew,
  .skew{
    width: 100%!important; 
  }
  .one-ipad img{
    width: 100%;  
  }
  .priv-policy{
    width: 100%!important;  
  }
  .priv-policy p, .priv-policy a{
    display: block!important; 
  }
  .btn-all{
    width: 100%!important;
  }
  .content-txt p{
    text-align: left!important;
  }
  .news-block span,
  .news-block img{
    display: block;
    float: none!important;
    margin: 0 auto;
  }
  .dz-message{
    font-size: 16px!important;
  }
}
/*----------------@media END---------------*/
/*----------------BTN All------------------*/
.btn-all{
  display: block;
  position: relative;
  width: 100%;
  height: 55px;
  margin: 0 auto;
  text-transform: uppercase;
  line-height: 55px;
  border-radius: 28px;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
@-webkit-keyframes push {
  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes push {
  50% {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
  }

  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

.btn-all {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.btn-all:hover {
  -webkit-animation-name: push;
  animation-name: push;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
  .btn-blue{
    background-color: #1976d2;
  }
    .btn-blue:hover{
      color: #fff;
      background-color: #1e8dfc;
    }
  .btn-green{
    background-color: #4caf50;
  }
    .btn-green:hover{
      color: #fff;
      background-color: #57c95a;
    }
  .btn-wihte{
    background-color: #fff;
    color: #2196f3;
  }
    .btn-wihte:hover{
      background-color: #cccccc;
      color: #2196f3;
    }
  .btn-blue-wihte{
    color: #1976d2;
    border: 1px solid #1976d2;
    font-size: 14px;
  }
    .btn-blue-wihte:hover{
      color: #1976d2;
      background-color: rgba(25,118,210,.1);
    }
  .btn-pluse{
    display: block;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
  }
    .btn-pluse .glyphicon-plus{
      color: #fff;
      font-size: 12px;
      font-weight: lighter;
      margin-left: 3px;
      margin-bottom: 2px;
    }
/*----------------BTN All END--------------*/
/*----------------Index--------------------*/
header{
  position: absolute;
  top: 0;
  height: 86px;
  width: 100%;
  border-bottom: 1px solid rgba(0,0,0,0.05);
 background: #f8f8f8;
  z-index: 999;
    -webkit-transition:all 500ms ease;
-o-transition:all 500ms ease;
transition:all 500ms ease; 
}

header:hover {
    border-bottom: 1px solid rgba(0,0,0,0.05);
 background: #f8f8f8;
}
.navbar-default{
  border: 0;
  border-radius: 0;
}
.navbar{
  margin-bottom: 0;
  padding:  0;
}
.navbar-nav{
  float: right; 
}
.navbar-brand{
  padding: 0;
  margin-top: 25px;
}
.navbar-default .navbar-nav > li > a{
  font-size: 16px;
  font-weight: bold;
  padding: 18px 20px 0 20px;
  line-height: 35px;
  color: #1976d2;
  border-top: 2px solid transparent;
}
  .navbar-default .navbar-nav > li > a:hover{
    border-top: 2px solid #1976d2;
  }
.navbar-default .navbar-nav > li{
  margin-left: 10px;
}
.navbar-default .navbar-offcanvas{
  /*background-color: #fff;*/
}
  .navbar-default .navbar-nav > li .btn-all{
    line-height: 40px;
    font-size: 14px!important;
    height: 40px;
    padding: 0 20px!important;
    margin-top: 20px;
    -webkit-animation-name: none;
    animation-name: none;
    color: #fff;
    width: 100%;
  }
  .navbar-default .navbar-nav > li > .btn-blue{
    background-color: transparent;
    border: 1px solid #1976d2;
    color: #1976d2;
  }
    .navbar-default .navbar-nav > li > .btn-blue:hover{
      color: #fff;
      border: 1px solid #1976d2;
      background-color: #1976d2;
    }
  .navbar-default .navbar-nav > li > .btn-green{
    background-color: transparent;
    border: 1px solid #4caf50;
    color: #4caf50;
  }
    .navbar-default .navbar-nav > li > .btn-green:hover{
      color: #fff;
      border: 1px solid #4caf50;
      background-color: #4caf50;
    }
    .navbar-right{
      margin-right: 0;
    }
.top-info{
  position: relative;
  padding: 150px 0 167px 0;
  margin-top: 0px;
  margin-bottom:1%;
  width: 100%;  
  margin: 0 auto;
}
  .top-info video {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    margin: center center center center;
     z-index: 0;
    }
  .bg-top{
    position: fixed;
    z-index: 1;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    min-height: 712px;
    max-height: 1000px;
   -webkit-background-size: cover;
    background-size: cover;
   background: rgba(0, 0, 0, 0.26) url("../images/content/pattern.png");
    z-index: 2;
 }
 .for-abs-box{
  position: relative;
  z-index: 3;
 }
  .for-abs-box .btn-green{
    max-width: 500px;
  }
 .top-info h1{
  margin-top: 80px;
  font-size: 33px;
 }
  .top-info h1,
  .top-info h2{
    color: #fff;
  }
  .for-bord-l,
  .for-bord-r{
    width: 100%;
    height: 205px;
    border-top: 1px solid #fff; 
    border-bottom: 1px solid #fff; 
  }
    .for-bord-l{
      border-left: 1px solid #fff; 
    }
    .for-bord-r{
      border-right: 1px solid #fff; 
    }
    .top-info h3{
      margin: 30px 0 30px 0;
      font-size: 29px ;
      color: #51cc56;
      text-transform: none;
      font-weight: 400;
    }
    .link-in-video{
      position: relative;
      display: block;
      width: 230px;
      text-align: center;
      padding-left: 20px;
      text-transform: uppercase;
      margin:0 auto 60px auto;
      color: #fff;
    }
      .link-in-video:hover{
        color: #fff;
        text-decoration: underline;
      }
      .link-in-video:before{
        content: "";
        position: absolute;
        width: 24px;
        height: 24px;
        background: url(../images/content/play-icon.png) no-repeat;
        top: 0px;
        left: 0px;
      }
        .top-info .btn-green:before{
          content: "";
          position: absolute;
          width: 24px;
          height: 24px;
          background: url(../images/content/btn-icon.png) 0% 0% no-repeat;
          top: 17px;
          left: 25px;
        }
.our-services{
  position: relative;
  margin-top:4%;
  padding-top: 2%;
  text-align: center;
  background: #fff;
  z-index: 999;  
 
}
  .our-services .one-service{
    margin-bottom: 60px;
  }
    .our-services h4{
      font-size: 24px;
      font-weight: 400;
      color: #727272;
      margin-top: 30px;
    }

  .our-advant{
       position: relative;
       background: #fff;
       z-index: 999;
      
}

  .our-advant h3{
    color: #1976d2;
  }
  .our-advant .our-advant-tittle{
    display: block;
    padding: 30px 0;
    color: #fff;
    background-color: #1b7eda;
    border-bottom: 1px solid #7b9dca;
  }
.advant-box{
  width: 100%;
  background-color: #1976d2;
  margin-bottom: 2px;
}
  .skew .one-advant{
    position: relative;
    text-align: center;
    height: 292px;
    width: 100%;
  }
  .skew, 
  .no-skew{
    overflow: hidden;
    width: 33.33%;
    float: left;
    height: 292px;
   }
  .no-skew{
    position: relative;
    z-index: 2;
  }
  .one-advant h3{
    position: absolute;
    z-index: 15;
    bottom: 15px;
    color: #fff;
    left: 50%;
    margin-left: -100px;
  }
    .advant-box .skew{
      border-left: 2px solid #fff;
      border-right: 2px solid #fff;
      position: relative;
      z-index: 10;
    }
      .one-advant img{
        min-width: 100%;
        height: 100%;
      }
  .blue-line{
    padding: 15px 0;
    background-color: #1f8de9;
  }
    .blue-line .btn-wihte{
      max-width: 500px;
    }
      .blue-line .btn-wihte:before{
        content: "";
        position: absolute;
        width: 24px;
        height: 24px;
        background: url(../images/content/btn-icon.png) 50% 0% no-repeat;
        top: 17px;
        left: 25px;
      }
.how-does{
position: relative;
  padding-top: 60px;
  background-color: #fff;
  margin-bottom: 2px;
  z-index: 4;
}
  .how-does h3{
    color: #727272;
    margin-bottom: 30px;
  }
    .how-does .one-ipad{
      text-align: center;
      margin-bottom: 30px;
    }
      .how-does h4{
        margin-top: 30px;
        color: #4caf50;
      }
      .one-ipad-cntr{
        position: relative;
      }
        .one-ipad-cntr:before,
        .one-ipad-cntr:after{
          content: "";
          position: absolute;
          width: 19px;
          height: 31px;
          background: url(../images/content/arrow.png) no-repeat;
          top: 50%;
          margin-top: -55px;
        }
          .one-ipad-cntr:before{
            left: -25px;
          }
          .one-ipad-cntr:after{
            right: -25px;
          }
    .green-line{
      padding: 15px 0;
      background-color: #46a54a;
    }
      .green-line .btn-wihte{
        color: #46a54a;
        max-width: 500px;
      }
        .green-line .btn-wihte:before{
          content: "";
          position: absolute;
          width: 24px;
          height: 24px;
          background: url(../images/content/btn-icon.png) 100% 0% no-repeat;
          top: 17px;
          left: 25px;
        }
        .wrapper {
          display: flex;
          flex-direction: column;
          height: 100%;
        }
        .wrapper-in {
          flex: 1 0 auto;
        }
footer{
    z-index: 999;  
    margin-top: -1px;
  position: relative;
  flex: 0 0 auto;
  padding: 30px;
  background-color: #212121;
  text-align: center; 
}
  .logo-footer{
    float: left;
  }
  .priv-policy{
    width: 305px;
    margin: 0 auto;
  }
  .priv-policy p,
  .priv-policy a{
    display: inline-block;
    text-align: center;
    font-size: 15px;
    color: #727272;
  }
  footer ul{
    float: right;
  }
    footer ul li{
      display: inline-block;
    }
      footer ul li+li{
        margin-left: 5px;
      }
/*----------------Index END----------------*/
/*----------------Content------------------*/
.content{
  padding: 20px 0;
}
  .content h3{
    color: #727272;
    text-transform: none;
  }
  .content h4{
    color: #4caf50;
    font-weight: 300;
    font-size: 20px;
    margin-top: 10px;
  }
  .tiitle-page{
    margin-bottom: 30px;
  }
  .green-txt{
    color: #4caf50;
    font-weight: bold;
  }
  .green-txt img{
    width: 30px;
  }
  .blue-txt{
    color: #1976d2;
    font-weight: bold;
  }
  .content-txt p+p{
    border-top: 1px dashed rgba(0,0,0,0.1);
    padding: 15px 0;
  }
    .content-txt p{
      padding-bottom: 15px;
    }
    .content p{
      font-weight: 300;
      line-height: 24px;
    }
.news-block img{
  float: left;
  text-align: center;
  width: 133px;
  height: 92px;
}
.news-block span{
  float: left;
  margin-left: 20px;
  text-align: center;
  margin-top: 35px;
}
.news-block .row+.row{
  margin-top: 30px;
}
.faq-block h4{
  color: #1976d2;
  text-align: left;
  margin-bottom: 0;
}
a:focus{
  text-decoration: none;
}
.panel-heading,
.panel-group .panel{
  border-radius: 0;
}
.panel-heading{
  padding: 15px;
}
.panel-default,
.panel-default > .panel-heading{
  border-color: rgba(0,0,0,0.1);
}
.panel-default > .panel-heading{
  background-color: rgba(0,0,0,0.03);
}
.panel-title a{
  display: block;
  position: relative;
  padding-right: 20px;
}
.panel-title .glyphicon{
  position: absolute;
  right: 0px;
  top: 0px;
  color: #1976d2;
  transition: 0.3s;
}
.panel-title a[aria-expanded="true"] .glyphicon{
  -ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
  transform: rotate(180deg);
}
.dz-message {
  text-align: center;
  line-height: 230px;
  font-weight: 300;
  font-size: 20px;
}
.dz-default{
  height: 200px;
  border: 1px dashed #ccc;
  background-color: rgba(0,0,0,0.05);
}
  .dz-default:hover{
    cursor: pointer;
    background-color: rgba(25,118,210,.1);
    border: 1px dashed #1976d2;
  }
  .dz-message:hover span{
    color: #1976d2;
  }
  .dropzone{
    position: relative;
    height: 200px;
    margin: 30px 0 10px 0; 
  }
  .dropzone .glyphicon{
    opacity: .4;
  }

  .bl-dropzone:hover .for-file-upin{
      color: #7dc343;
      opacity: 1;
    }
  .dz-message span{
    display: block;
    height: 200px;
  }
  .form-group{
    margin-bottom: 0;
  }
    .form-group .label{
      padding-left: 0;
      padding-bottom: 5px;
      font-size: 12px;
    }
  .form-control{
    border-radius: 0;
    height: 40px;
    margin-bottom: 10px;
  }
.file-types {
    text-align: center;
    line-height: 2;
    margin-bottom: 30px;
}
.file-types span {
    font-weight: bold!important;
    font-size: 10px!important;
    text-transform: uppercase;
    border-radius: 3px;
    padding: 3px 7px;
    margin: 0 3px;
    color: #fff;
    cursor: default;
}
.file-types .png {
    background-color: #df5df5;
}
.file-types .jpg {
    background-color: #bbb;
}
.file-types .jpeg {
    background-color: #094EA4;
}
.file-types .bmp {
    background-color: #E8A7B5;
}
.file-types .gif {
    background-color: #125465;
}
.file-types .pdf {
    background-color: #67c2e3;
}
.file-types .doc {
    background-color: #d7593c;
}
.file-types .docx {
    background-color: #555;
}
.file-types .xls {
    background-color: #9dd3af;
}
.file-types .xlsx {
    background-color: #e7d16b;
}
.file-types .csv {
    background-color: #bb3434;
}
.file-types .ppt {
    background-color: #e68e82;
}
.file-types .pptx {
    background-color: #888;
}
.file-types .pps {
    background-color: #e7d16b;
}
.file-types .ppsx {
    background-color: #52AD70;
}
.file-types .rtf {
    background-color: #888;
}
.file-types .odt {
    background-color: #df5df5;
}
.file-types .ods {
    background-color: #d7593c;
}
.file-types .odp {
    background-color: #67c2e3;
}
.file-types .txt {
    background-color: #577cb1;
}
.file-types .tif {
    background-color: #bb3434;
}
.file-types .tiff {
    background-color: #c6c6c6;
}
textarea{
  resize: vertical;
}
.chbox input[type="checkbox"] {
  display:none;
}
.chbox input[type="checkbox"] + label span {
  display:inline-block;
  width: 24px;
  height: 24px;
  margin:0px 5px 0 0;
  vertical-align:middle;
  border-radius: 0;
  border: 1px solid #1976d2;
  background: transparent;
  cursor:pointer;
}
.chbox input[type="checkbox"]:checked + label span {
  background: #1976d2 url(../images/content/checked.png) center center no-repeat;
}
.chbox .checkbox{
  color: #727272;
  font-weight: 300;
  margin: 20px 0;
}
.btn-box{
  margin-bottom: 30px;
}
.result-block .btn-box .btn-all{
  width: 100%;
  border-radius: 0;
}
.result-block .btn-all{
  width: 100%;
}
.result-block p.green-txt{
  padding: 15px 0;
}
.content .result-txt{
  font-weight: bold;
  padding: 15px;
  color: #4caf50;
  background-color: rgba(0,0,0,0.04);
}
  .content .result-txt span{
    font-weight: 300;
    margin-right: 15px;
  }
  .result-block .mt{
    margin-top: 15px;
  }
  .btn-box .glyphicon{
    color: #fff;
    margin-left: 5px;
    margin-right: 5px;
  }
  .result-block .min-tittle{
    margin: 30px 0;
  }
  .min-tittle{
    text-align: center;
  }
    .min-tittle .glyphicon{
      opacity: .4;
      padding-right: 5px;
      top: 2px;
      margin-top: 2px;
    }
    .result-block .grey-line{
      margin-top: 30px;
    }
    .grey-line{
      width: 100%;
      height: 1px;
      background-color: rgba(0,0,0,0.1);
    }
.table{
  margin-bottom: 0px!important;
  border-bottom: 1px dashed rgba(0,0,0,0.2);
}
.table-responsive{
  margin-bottom: 30px!important;
  border: 0;
}
  .table thead{
    background-color: #ddd;
  }
    .table thead th{
      font-weight: 400;
      font-size: 16px;
      color: #727272;
    } 
    .table > tbody > tr > th,  
    .table > tbody > tr > td{
      vertical-align: middle;
      padding: 5px 8px;
      border-top: 1px solid rgba(0,0,0,0.1);
    }
    .table > tbody > tr > td > img{
      display: block;
      margin-top: 7px;
    }
    .price-tab:after{
      content: " USD";
    }
  .table .chbox .checkbox{
    margin: 0;
  }
.revieworder-block .btn-all{
  width: 100%;
}
.revieworder-block ul{
  margin-top: 25px;  
}
  .revieworder-block ul li{
        display: inline-block;
      }
        .revieworder-block ul li+li{
          margin-left: 5px;
        }
        .revieworder-block .table-responsive{
          margin-top: 30px;
          margin-bottom: 0!important;
        }
          .revieworder-block .table-responsive .table tr td{
            text-align: left;
          }
          .revieworder-block .table-responsive .chbox{
            display: inline-block;
          }
          .pad-r{
            padding-right: 20px!important;
          }
          .total-box{
            margin-bottom: 30px;
          }
          .total-box span{
            display: block;
            margin-top: 10px;
            text-align: right;
            padding-right: 38px;
          }
  .logo-pp-box{
    width: 152px;
    height: 152px;
    text-align: center;
    margin: 15px auto;
    border: 1px solid rgba(0,0,0,0.06);
  }
.ckut-box{
  /*margin-top: 30px;*/
}
  .ckut-box h4{
    margin-top: 0;
    margin-bottom: 15px;
  }
  .bgcg{
    background-color: rgba(0,0,0,0.04);
    padding: 30px 15px;
    height: 100%;
  }
  .promo-box .green-txt{
    color: #727272;
    margin-bottom: 14px;
    text-align: center;
  }
    .promo-box .green-txt span{
      font-weight: bold;
      color: #4caf50;
    }
    .promo-box .btn-all{
      border-radius: 0;
      width: 100%;
      height: 40px;
      line-height: 40px;
      margin-top: 22px;
    border-radius: 28px;
    }
    .ckut-box.bgcg{
      padding: 30px 0;
    }
    .cart-pp{
      margin-bottom: 30px;
    }
    .bbr{
      border-right: 1px solid rgba(0,0,0,0.06);
    }
    .day-check .checkbox{
      margin: 0;
    }
    .col-lg-6.mtb{
      height: 30px;
    }

.d-check .chbox .checkbox{
  font-size: 12px;
  margin: 20px 0 0 0;
}
  .d-check .chbox,
  .day-check .chbox{
    display: inline-block;
    margin-right: 15px;
  }
  .req-red,
  .required span{
    color: red;
    font-size: 20px;
  }
  .required span{

  }
  .required{
    margin-top: -15px;
    color: red;
    font-size: 12px;
  }
  .translator-block h4{
    margin-top: 0;
    margin-bottom: 15px;
  }
  fieldset{
    padding-bottom: 15px;
    border: 1px solid rgba(0,0,0,0.06);
  }
  legend{
    width: 170px;
    font-size: 12px;
    font-weight: bold;
    color: #727272;
    margin-bottom: 15px;
    text-align: center;
    padding: 0 10px;
  }
  .day-check .checkbox.all-cho{
    font-size: 14px;
    color: #1976d2;
    font-weight: bold;
  }
.translator-block .mt{
  margin-bottom: 30px;
}
  .translator-block .min-tittle{
    margin-bottom: 30px;
  }
  .translator-block .glyphicon-question-sign{
    opacity: .4;
    color: #4caf50;
  }
.translator-block .dropzone{
  margin: 5px 0 10px 0;
}
  .translator-block .dropzone,
  .translator-block .dz-default{
    height: 57px;
  }
    .translator-block .dz-message{
      line-height: 57px;
    }
      .translator-block .dropzone .glyphicon{
        top: 20px;
      }
      .translator-block .file-types{
        margin-bottom: 0;
      }
      .translator-block .dz-message span{
        height: 57px;
      }
      .plo{
        padding-left: 0;
      }
      .plr{
        padding-right: 0;
      }
      .glyphicon-ok{
        color: #fff;
        margin-right: 5px;
      }
      .translator-block .btn-all{
        width: 100%;
      }
.contacts-block textarea,
.local-block textarea{
  margin-top: 20px;
  margin-bottom: 30px;
  resize: none;
}
.contacts-block .btn-all,
.register-block .btn-all,
.local-block .btn-all,
.panel-block .btn-all,
.add-lang-block .btn-all,
.edit-block .btn-all{
  width: 100%;
}
.register-block .mt,
.local-block .mt,
.panel-block .mt,
.add-lang-block .mt,
.edit-block .mt{
  margin-top: 20px;
}
.mt{
  margin-top: 30px;
}
.forget-pass{
  display: block;
  font-size: 12px;
  margin: 5px 40px 0 40px;
  color: #727272;
}
.jon-now .btn-all{
  border-radius: 0;
  height: 40px;
  margin-top: 21px;
  margin-bottom: 11px;
  line-height: 40px;
}
.new-user-block .chbox input[type="checkbox"] + label span{
  float: left;
  margin: 0 20px 0 0;
}
.new-user-block .btn-all{
  width: 100%;
  font-size: 14px;
}
.pages-screen{
  width: 350px;
  height: 300px;
  overflow: hidden;
  margin: 0px auto;
  transition: 0.5s;
}
  .pages-screen:hover{
    width: 500px;
    height: 450px;
    cursor: pointer;
  }
  .pages-screen img{
    width: 350px;
    height: 300px;
    opacity: .9;
    transition: 0.5s;
  }
    .pages-screen:hover img{
      width: 500px;
      height: 450px;
      opacity: 1;
    }
.user-panel .nav{
  max-width: 560px;
  margin: 0 auto 30px auto;
}
.trans-panel .nav{
  max-width: 790px;
  margin: 0 auto 30px auto;
}

  .nav a{
    color: #1976d2; 
  }
  .nav-tabs > li.active > a, 
  .nav-tabs > li.active > a:hover, 
  .nav-tabs > li.active > a:focus{
    color: #727272;
    background: rgba(0,0,0,0.08);
    border-radius: 0;
    border: 0;
  }
  .nav-tabs > li > a{
    background: rgba(0,0,0,0.04);
    border-radius: 0;
    border: 0;
  }
  .panel-tittle{
    position: relative;
    margin-bottom: 30px;
  }
    .panel-block .btn-edit{
      position: absolute;
      width: 16px;
      height: 16px;
      top: 0;
      right: 0;
      line-height: normal;
      opacity: 0.6;
    }
      .panel-block .btn-edit:hover{
        opacity: 1;
      }
    .panel-txt p+p{
      margin-top: 10px;
    }
     .panel-txt p{
      color: #727272;
     }
      .panel-txt p span{
        color: #4caf50;
      }
      .panel-txt .trad-skils{
        margin-left: 20px;
        color: #4caf50;
      }
      .messages p{    padding-bottom: 20px;}
      .messages p span{color: #727272}
      .messages p .date{font-size: 14px;}
      .messages p .no_3_br{display:none;}
      
      .your_mess{
        width: 100%;
    text-align: left;
    font-size: 18px;
        color: #727272 !important;
      }
      .he_mess{
            width: 100%;
    text-align: right;
    font-size: 18px;
        color: #727272 !important;
      }
.tac,
.table tr th,
.table tr td{
  text-align: center;
}
.btn-all.btn-back{
  color: #1976d2;
  text-transform: none;
  text-align: left;
  margin-bottom: 0;
  -webkit-animation-name: none;
  animation-name: none;
}
.red-txt{
  color: red!important;
}
.btn-all.no-br{
  border-radius: 0;
  height: 40px;
  line-height: 40px;
  -webkit-animation-name: none;
  animation-name: none;
}
.btn-dwn{
  line-height: 40px;
}
.panel-txt .message-you{
  width: 100%;
  text-align: left;
  font-size: 18px;
}
.info-message-box{
  width: 100%;
}
.info-message-box span{
  display: inline-block;
  font-weight: lighter;
}
.info-message-box-r{
  text-align: right;
}
.info-message-box-l{
  text-align: left;
}
.panel-txt .user-n{
  display: block;
  width: 100%;
  text-align: right;
  font-weight: lighter;
}
.panel-txt .yon-n{
  display: block;
  width: 100%;
  text-align: left; 
  font-weight: lighter;
}
.panel-txt .message-user{
  width: 100%;
  text-align: right;
  font-size: 18px;
}
.bort{
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid rgba(0,0,0,0.06);
}
.right-lang-box {
  position: fixed;
  padding: 5px 10px;
  right: -20px;
  top: 30%;
  border-radius: 10px 0px 0px 10px;
  opacity: .8;
  background-color: #D5D4D4;
  z-index: 9999;
}
.right-lang-box li a{
  display: block;
  right: 0;
  position: relative;
  opacity: .6;
}
  .right-lang-box li a:hover{
    opacity: 1;
    right: 20px;
  }
  .smal-text{
    resize: none;
    height: 40px!important;
  }
  .edit-block .one-line-txt+.one-line-txt{
    margin-top: 30px;
  }
  .error{
    text-align: center;
    color: red;
    font-weight: 300;
  margin-bottom: 20px;
  }
  .success{
    text-align: center;
    color: green;
    font-weight: 300;
  margin-bottom: 20px;
  }
  .translator-block iframe{
    width: 100%;
    height: 40px;
    background-color: rgba(0,0,0,0.04);
    resize: none;
  }
    .translator-block iframe #main{
      background-color: rgba(0,0,0,0.04);
    }
    .pers-detals{
      margin-top: 30px;
    }
    .cont-proc-block .btn-wihte{
      border: 1px solid #1976d2;
    }
.table-responsive .glyphicon-ok{
  color: #4caf50;
}
.table-responsive .glyphicon-remove{
  color: red;
}
.add-trans .btn-pluse{
  margin-top: 21px;
}
.one-trans p,
.one-trans a{
  display: inline-block;
}
  .one-trans a span{
    margin-top: 5px;
    line-height: 24px;
    color: red;
  }
.pending,
.progress{
  display: block;
  width: 24px;
  height: 24px;
  border: 0;
  border-radius: 0;
  box-shadow: none;
}
.pending{
  background: url(../images/content/pending.png) center center no-repeat;
}
.progress{
  background: url(../images/content/progress.png) center center no-repeat;
}
.ttu{
  text-transform: uppercase;
}
.fwb{
  font-weight: bold;
}
.watch-block iframe{
  margin: 0 auto;
  display: block;
}
.local-block .bgcb{
  padding: 15px;
  background-color: rgba(76,175,80,.1);
  margin-bottom: 15px;
}
.local-block .bgcb .glyphicon {
  background-color: rgba(76,175,80,.5);
  line-height: 19px;
}
.conf-mob-box{
  background-color: #4caf50;
  text-align: center;
  padding: 10px 0;
  color: #fff;
}
  .conf-mob-box p{
    color: #fff;
    padding: 0 20px;
  }
  .conf-mob-box p a{
    font-weight: bold;
    color: #fff;
    text-decoration: underline;
  }
  .conf-mob-block .btn-wihte{
    border: 1px solid #2196f3;
  }
  .conf-mob-block .btn-all{
    margin-top: 15px;
  }
  .conf-mob-block .form-control{
    margin-bottom: 0px;
  }
.dwn-trans-block ol{
  list-style-type: decimal;
  list-style-position: outside;
  color: #1976d2;
  padding-left: 20px;
}
  .dwn-trans-block ol a{
    display: block;
    color: #1976d2;
    padding: 10px 20px 10px 0;
    border-bottom: 1px solid rgba(0,0,0,0.06);
  }
    .dwn-trans-block ol a:hover{
      text-decoration: underline;
    }
    .dwn-trans-block ol a span{
      float: right;
      display: block;
      color: #1976d2;
    }
/*----------------Content END--------------*/
/*----------------Animated-----------------*/
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.animated {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}
@-webkit-keyframes bounceInDown {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  to {
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes bounceInDown {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  to {
    -webkit-transform: none;
    transform: none;
  }
}

.inscreen.bounceInDown {
  -webkit-animation-name: bounceInDown;
  animation-name: bounceInDown;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
@-webkit-keyframes bounceInLeft {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }

  to {
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes bounceInLeft {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }

  to {
    -webkit-transform: none;
    transform: none;
  }
}

.inscreen.bounceInLeft {
  -webkit-animation-name: bounceInLeft;
  animation-name: bounceInLeft;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
@-webkit-keyframes bounceInRight {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  from {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
    transform: translate3d(3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }

  to {
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes bounceInRight {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  from {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
    transform: translate3d(3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }

  to {
    -webkit-transform: none;
    transform: none;
  }
}

.inscreen.bounceInRight {
  -webkit-animation-name: bounceInRight;
  animation-name: bounceInRight;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.inscreen.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
.inscreen.pulse1{
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
.inscreen.pulse2{
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
}
@-webkit-keyframes lightSpeedIn {
  from {
    -webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
    transform: translate3d(100%, 0, 0) skewX(-30deg);
    opacity: 0;
  }

  60% {
    -webkit-transform: skewX(20deg);
    transform: skewX(20deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: skewX(-5deg);
    transform: skewX(-5deg);
    opacity: 1;
  }

  to {
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}

@keyframes lightSpeedIn {
  from {
    -webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
    transform: translate3d(100%, 0, 0) skewX(-30deg);
    opacity: 0;
  }

  60% {
    -webkit-transform: skewX(20deg);
    transform: skewX(20deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: skewX(-5deg);
    transform: skewX(-5deg);
    opacity: 1;
  }

  to {
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}

.lightSpeedIn {
  -webkit-animation-name: lightSpeedIn;
  animation-name: lightSpeedIn;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
}
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.inscreen.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.inscreen.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
}
@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.inscreen.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.inscreen.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
/*----------------Animated END-------------*/
.for-file-up{
  height: 100px;
  border: 1px dashed #ccc;
  background-color: rgba(0,0,0,0.05);
}
#dropZone{
  margin-bottom: 30px;
}
#dropZone:hover{
  cursor: pointer;
}
  .for-file-up:hover{
    cursor: pointer;
    background-color: rgba(25,118,210,.1);
    border: 1px dashed #1976d2;
  }
  .for-file-up:hover .for-file-upin span{
    color: #1976d2;
  }
  .for-file-upin{
    line-height: 25px;
  }
.for-file-upin input[type="file"]{
  height: 100px!important;
  margin-top: -95px!important;
}
.dz-message p{
  font-size: 24px;
  opacity: .5;
}
.for-file-upin{
  color: #ccc;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  padding: 10px 0;
}
.for-file-upin input[type="file"]{
  height: 100px!important;
  margin-top: -95px!important;
}
.for-file-upin .glyphicon{font-size: 34px;}
.presencial .bl-dropzone:hover .for-file-upin{
  opacity: 1;
  color: #1976d2;
}
.long-fc{
  width: 387px!important;
}
.glyphicon-cloud-upload{
  margin-bottom: 15px;
}

.files{
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 20px;
}
.files .working {
  display: inline-block;
  float: left;
  margin-bottom: 30px;
  width: 150px;
  text-align: center;
  padding: 10px 0;
}
.files .working p {
  font-size: 12px;
  height: 60px;
  display: block;
}
.files .working .message {
  color:#f00;
}
.files .working p i {
  display: block;
}
.files .working .remove {
  display: block;
  width: 20px;
  height: 20px;
  background: url(../images/content/del.png) center center no-repeat;
  margin: 10px auto;
}
  .files .working .remove:hover{
    cursor: pointer;
  }
  .files .working .remove i{
    display: none;
  }
.processing-gif {
  width: 28px;
  height: 28px;
  margin: 10px auto;
  background: transparent url(../images/processing.gif) center center no-repeat;
}
.ckut-box .error{
  margin-top: 30px;
}
#modal{
  text-align: center;
}
#modal p{
  color: #fff;
}
.info-cont{
  margin: 30px 0 0 0;
}
.info-cont img{
  margin-bottom: 30px;
}

.view-files .view-doc .view-btn{
  display: block;
  float: left;
  border-radius: 0;
  height: 40px;
  line-height: 28px;
  -webkit-animation-name: none;
  animation-name: none;
  margin-bottom: 20px;
  margin-right: 20px;
  background-color: #1976d2;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
  font-size: 16px;

}
.view-files .view-doc .file-text{
  display: block;
  float: left;
  height: 40px;
  line-height: 40px;
  color: #428bca;
  text-decoration: none;
}

.decli-block textarea{
  resize: none;
  margin-top: 20px;
}
.job-details{
  width: 100%;
}
.job-details td:nth-child(2){
  color: #4caf50;
  padding-left: 20px;
}

.job-details td:nth-child(1){
  color: #727272;
}

.saved{
  color: green;
}

.dashed-line{
  margin-bottom: 10px;
  width: 100%;
  height: 2px;
  border-bottom: 1px dashed #999999;
}

/* -- sprites flags start */

.borderRadius{-moz-border-radius:0px; border-radius:0px; }
.borderRadiusTp{-moz-border-radius:0px; border-radius:0px;}
.borderRadiusBtm{-moz-border-radius:0 0 0px 0px ; border-radius:0 0 0px 0px;}

.ddcommon {position:relative;display:-moz-inline-stack; zoom:1; display:inline-block; *display:inline; cursor:default;}
.ddcommon ul{padding:0;margin:0;}
.ddcommon ul li{list-style-type:none;display: block;}
.borderRadiusTp ul li:last-child{-moz-border-radius:0 0 5px 5px ; border-radius:0 0 5px 5px;border-bottom:0 none #c3c3c3; }
.borderRadiusBtm ul li:first-child{-moz-border-radius:5px 5px 0 0; border-radius:5px 5px 0 0 ;border-bottom:1 solid #c3c3c3; }

.ddcommon .disabled img, .ddcommon .disabled span, .ddcommon.disabledAll{
  opacity: .5; /* standard: ff gt 1.5, opera, safari */
  -ms-filter:"alpha(opacity=50)"; /* ie 8 */
  filter:alpha(opacity=50); /* ie lt 7 */
  -khtml-opacity:.5; /* safari 1.x */
  -moz-opacity:.5; /* ff lt 1.5, netscape */
  color:#999999;
}
.ddcommon .clear{clear:both}
.ddcommon .shadow{-moz-box-shadow:5px 5px 5px -5px #888888;-webkit-box-shadow:5px 5px 5px -5px #888888;box-shadow: 5px 5px 5px -5px #888888;}
.ddcommon input.text{color:#7e7e7e;padding:0 0 0 0; position:absolute; background:#fff; display:block; width:98%; height:98%; left:2px; top:0; border:none;}
.ddOutOfVision{position:relative; display:-moz-inline-stack; display:inline-block; zoom:1; *display:inline;}
.borderRadius .shadow{-moz-box-shadow:5px 5px 5px -5px #888888;-webkit-box-shadow:5px 5px 5px -5px #888888;box-shadow: 5px 5px 5px -5px #888888;}
.borderRadiusBtm .shadow{-moz-box-shadow:-5px -5px 5px -5px #888888;-webkit-box-shadow:-5px -5px 5px -5px #888888;box-shadow: -5px -5px 5px -5px #888888}
.borderRadiusTp .border, .borderRadius .border{-moz-border-radius:0 0 5px 5px ; border-radius:0 0 5px 5px;}
.borderRadiusBtm .border{-moz-border-radius:5px 5px 0 0; border-radius:5px 5px 0 0;}
img.fnone{float:none !important}
.ddcommon .divider{width:0; height:100%; position:absolute;}
.ddcommon .ddArrow{display:inline-block; position:absolute; top:50%; right:4px;}
.ddcommon .ddArrow:hover{background-position:0 100%;}
.ddcommon .ddTitle{padding:0; position:relative; display:inline-block; width:100%; height: 38px;}
.ddcommon .ddTitle .ddTitleText{display:block;}
.ddcommon .ddTitle .ddTitleText .ddTitleText{padding:0;}
.ddcommon .ddTitle .description{display:block;}
.ddcommon .ddTitle .ddTitleText img{position:relative; vertical-align:middle; float:left}
.ddcommon .ddChild{position:absolute;display:none;width:100%;   overflow-y:auto; overflow-x:hidden; zoom:1; z-index:9999}
.ddcommon .ddChild li{clear:both;}
.ddcommon .ddChild li .description{display:block;}
.ddcommon .ddChild li img{border:0 none; position:relative;vertical-align:middle;float:left}
.ddcommon .ddChild li.optgroup{padding:0;}
.ddcommon .ddChild li.optgroup .optgroupTitle{padding:0 5px; font-weight:bold; font-style:italic}
.ddcommon .ddChild li.optgroup ul li{padding:5px 5px 5px 15px}
.ddcommon .noBorderTop{border-top:none 0  !important; padding:0; margin:0;}
.ddlabel {font-size: 14px;}

/*************** default theme **********************/
.dd{border: 1px solid #cccccc; padding-left: 10px; position: relative;}
.dd:after{
  content: "\e092";
}
.dd .divider{ right:24px;}
.dd .ddArrow{width:16px;height:16px; margin-top:-8px; background:url(../images/dd_arrow.gif) no-repeat;}
.dd .ddArrow:hover{background-position:0 100%;}
.dd .ddTitle{color:#808080;background:#fff;}
.dd .ddTitle .ddTitleText{height: 38px; padding-top: 7px;}
.dd .ddTitle .ddTitleText .ddTitleText{padding:0;}
.dd .ddTitle .description{font-size:12px; color:#666}
.dd .ddTitle .ddTitleText img{padding-right:5px;    height: 18px;}
.dd .ddChild{border:1px solid #c3c3c3; background-color:#fff; left:-1px;}
.dd .ddChild li{padding:5px; background-color:#fff; /*border-bottom:1px solid #c3c3c3;*/}
.dd .ddChild li .description{color:#666;}
.dd .ddChild li .ddlabel{color:#333;}
.dd .ddChild li.hover{background-color:#f2f2f2}
.dd .ddChild li img{padding:0 6px 0 0;}
.dd .ddChild li.optgroup{padding:0;}
.dd .ddChild li.optgroup .optgroupTitle{    padding: 0 5px;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  display: block;
  font-size: 18px;}
.dd .ddChild li.optgroup ul li{padding:5px 5px 5px 15px}
.dd .ddChild li.selected{background-color:#d5d5d5; color:#000;}

/*---- Sptites flags ----*/
.flag {
  background-image: url(../images/sprites_flags.png);
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  margin-right: 10px;
}

.flag1  {background-position: -5px -5px;}
.flag10 {background-position: -47px -5px;}
.flag100{background-position: -89px -5px;}
.flag101{background-position: -131px -5px;}
.flag102{background-position: -173px -5px;}
.flag103{background-position: -215px -5px;}
.flag104{background-position: -257px -5px;}
.flag105{background-position: -299px -5px;}
.flag106{background-position: -341px -5px;}
.flag107{background-position: -383px -5px;}
.flag108{background-position: -425px -5px;}
.flag109{background-position: -467px -5px;}
.flag11 {background-position: -509px -5px;}
.flag110{background-position: -551px -5px;}
.flag111{background-position: -593px -5px;}
.flag112{background-position: -635px -5px;}
.flag113{background-position: -677px -5px;}
.flag114{background-position: -719px -5px;}
.flag115{background-position: -761px -5px;}
.flag116{background-position: -803px -5px;}
.flag117{background-position: -845px -5px;}
.flag118{background-position: -887px -5px;}
.flag119{background-position: -929px -5px;}
.flag12 {background-position: -971px -5px;}
.flag120{background-position: -1013px -5px;}
.flag121{background-position: -1055px -5px;}
.flag122{background-position: -1097px -5px;}
.flag123{background-position: -1139px -5px;}
.flag124{background-position: -1181px -5px;}
.flag125{background-position: -1223px -5px;}
.flag126{background-position: -1265px -5px;}
.flag127{background-position: -1307px -5px;}
.flag128{background-position: -1349px -5px;}
.flag129{background-position: -1391px -5px;}
.flag13 {background-position: -1433px -5px;}
.flag130{background-position: -1475px -5px;}
.flag131{background-position: -1517px -5px;}
.flag132{background-position: -1559px -5px;}
.flag133{background-position: -1601px -5px;}
.flag134{background-position: -1643px -5px;}
.flag135{background-position: -1685px -5px;}
.flag136{background-position: -1727px -5px;}
.flag137{background-position: -1769px -5px;}
.flag138{background-position: -1811px -5px;}
.flag139{background-position: -1853px -5px;}
.flag14 {background-position: -1895px -5px;}
.flag140{background-position: -1937px -5px;}
.flag141{background-position: -1979px -5px;}
.flag142{background-position: -2021px -5px;}
.flag143{background-position: -2063px -5px;}
.flag144{background-position: -2105px -5px;}
.flag145{background-position: -2147px -5px;}
.flag146{background-position: -2189px -5px;}
.flag147{background-position: -2231px -5px;}
.flag148{background-position: -2273px -5px;}
.flag149{background-position: -2315px -5px;}
.flag15 {background-position: -2357px -5px;}
.flag150{background-position: -2399px -5px;}
.flag151{background-position: -2441px -5px;}
.flag152{background-position: -2483px -5px;}
.flag153{background-position: -2525px -5px;}
.flag154{background-position: -2567px -5px;}
.flag155{background-position: -2609px -5px;}
.flag156{background-position: -2651px -5px;}
.flag157{background-position: -2693px -5px;}
.flag158{background-position: -2735px -5px;}
.flag159{background-position: -2777px -5px;}
.flag16 {background-position: -2819px -5px;}
.flag169{background-position: -2861px -5px;}
.flag17 {background-position: -2903px -5px;}
.flag170{background-position: -2945px -5px;}
.flag171{background-position: -2987px -5px;}
.flag172{background-position: -3029px -5px;}
.flag173{background-position: -3071px -5px;}
.flag18 {background-position: -3113px -5px;}
.flag19 {background-position: -3155px -5px;}
.flag2  {background-position: -3197px -5px;}
.flag20 {background-position: -3239px -5px;}
.flag21 {background-position: -3281px -5px;}
.flag22 {background-position: -3323px -5px;}
.flag23 {background-position: -3365px -5px;}
.flag24 {background-position: -3407px -5px;}
.flag25 {background-position: -3449px -5px;}
.flag26 {background-position: -3491px -5px;}
.flag27 {background-position: -3533px -5px;}
.flag28 {background-position: -3575px -5px;}
.flag29 {background-position: -3617px -5px;}
.flag3  {background-position: -3659px -5px;}
.flag30 {background-position: -3701px -5px;}
.flag31 {background-position: -3743px -5px;}
.flag32 {background-position: -3785px -5px;}
.flag33 {background-position: -3827px -5px;}
.flag34 {background-position: -3869px -5px;}
.flag35 {background-position: -3911px -5px;}
.flag36 {background-position: -3953px -5px;}
.flag37 {background-position: -3995px -5px;}
.flag38 {background-position: -4037px -5px;}
.flag39 {background-position: -4079px -5px;}
.flag4  {background-position: -4121px -5px;}
.flag40 {background-position: -4163px -5px;}
.flag41 {background-position: -4205px -5px;}
.flag42 {background-position: -4247px -5px;}
.flag43 {background-position: -4289px -5px;}
.flag44 {background-position: -4331px -5px;}
.flag45 {background-position: -4373px -5px;}
.flag46 {background-position: -4415px -5px;}
.flag47 {background-position: -4457px -5px;}
.flag48 {background-position: -4499px -5px;}
.flag49 {background-position: -4541px -5px;}
.flag5  {background-position: -4583px -5px;}
.flag50 {background-position: -4625px -5px;}
.flag51 {background-position: -4667px -5px;}
.flag52 {background-position: -4709px -5px;}
.flag53 {background-position: -4751px -5px;}
.flag54 {background-position: -4793px -5px;}
.flag55 {background-position: -4835px -5px;}
.flag56 {background-position: -4877px -5px;}
.flag57 {background-position: -4919px -5px;}
.flag58 {background-position: -4961px -5px;}
.flag59 {background-position: -5003px -5px;}
.flag6  {background-position: -5045px -5px;}
.flag60 {background-position: -5087px -5px;}
.flag61 {background-position: -5129px -5px;}
.flag62 {background-position: -5171px -5px;}
.flag63 {background-position: -5213px -5px;}
.flag64 {background-position: -5255px -5px;}
.flag65 {background-position: -5297px -5px;}
.flag66 {background-position: -5339px -5px;}
.flag67 {background-position: -5381px -5px;}
.flag68 {background-position: -5423px -5px;}
.flag69 {background-position: -5465px -5px;}
.flag7  {background-position: -5507px -5px;}
.flag70 {background-position: -5549px -5px;}
.flag71 {background-position: -5591px -5px;}
.flag72 {background-position: -5633px -5px;}
.flag73 {background-position: -5675px -5px;}
.flag74 {background-position: -5717px -5px;}
.flag75 {background-position: -5759px -5px;}
.flag76 {background-position: -5801px -5px;}
.flag77 {background-position: -5843px -5px;}
.flag78 {background-position: -5885px -5px;}
.flag79 {background-position: -5927px -5px;}
.flag8  {background-position: -5969px -5px;}
.flag80 {background-position: -6011px -5px;}
.flag81 {background-position: -6053px -5px;}
.flag82 {background-position: -6095px -5px;}
.flag83 {background-position: -6137px -5px;}
.flag84 {background-position: -6179px -5px;}
.flag85 {background-position: -6221px -5px;}
.flag86 {background-position: -6263px -5px;}
.flag87 {background-position: -6305px -5px;}
.flag88 {background-position: -6347px -5px;}
.flag89 {background-position: -6389px -5px;}
.flag9  {background-position: -6431px -5px;}
.flag90 {background-position: -6473px -5px;}
.flag901{background-position: -6515px -5px;}
.flag902{background-position: -6557px -5px;}
.flag903{background-position: -6599px -5px;}
.flag904{background-position: -6641px -5px;}
.flag905{background-position: -6683px -5px;}
.flag906{background-position: -6725px -5px;}
.flag91 {background-position: -6767px -5px;}
.flag92 {background-position: -6809px -5px;}
.flag93 {background-position: -6851px -5px;}
.flag94 {background-position: -6893px -5px;}
.flag95 {background-position: -6935px -5px;}
.flag96 {background-position: -6977px -5px;}
.flag97 {background-position: -7019px -5px;}
.flag98 {background-position: -7061px -5px;}
.flag99 {background-position: -7103px -5px;}

.ddTitleText .flag{width:18px;height:18px;}

.ddTitleText .flag1  {background-position: -12px -42px;}
.ddTitleText .flag10 {background-position: -54px -42px;}
.ddTitleText .flag100{background-position: -96px -42px;}
.ddTitleText .flag101{background-position: -138px -42px;}
.ddTitleText .flag102{background-position: -180px -42px;}
.ddTitleText .flag103{background-position: -222px -42px;}
.ddTitleText .flag104{background-position: -264px -42px;}
.ddTitleText .flag105{background-position: -306px -42px;}
.ddTitleText .flag106{background-position: -348px -42px;}
.ddTitleText .flag107{background-position: -390px -42px;}
.ddTitleText .flag108{background-position: -432px -42px;}
.ddTitleText .flag109{background-position: -474px -42px;}
.ddTitleText .flag11 {background-position: -516px -42px;}
.ddTitleText .flag110{background-position: -558px -42px;}
.ddTitleText .flag111{background-position: -600px -42px;}
.ddTitleText .flag112{background-position: -642px -42px;}
.ddTitleText .flag113{background-position: -684px -42px;}
.ddTitleText .flag114{background-position: -726px -42px;}
.ddTitleText .flag115{background-position: -768px -42px;}
.ddTitleText .flag116{background-position: -810px -42px;}
.ddTitleText .flag117{background-position: -852px -42px;}
.ddTitleText .flag118{background-position: -894px -42px;}
.ddTitleText .flag119{background-position: -936px -42px;}
.ddTitleText .flag12 {background-position: -978px -42px;}
.ddTitleText .flag120{background-position: -1020px -42px;}
.ddTitleText .flag121{background-position: -1062px -42px;}
.ddTitleText .flag122{background-position: -1104px -42px;}
.ddTitleText .flag123{background-position: -1146px -42px;}
.ddTitleText .flag124{background-position: -1188px -42px;}
.ddTitleText .flag125{background-position: -1230px -42px;}
.ddTitleText .flag126{background-position: -1272px -42px;}
.ddTitleText .flag127{background-position: -1314px -42px;}
.ddTitleText .flag128{background-position: -1356px -42px;}
.ddTitleText .flag129{background-position: -1398px -42px;}
.ddTitleText .flag13 {background-position: -1440px -42px;}
.ddTitleText .flag130{background-position: -1482px -42px;}
.ddTitleText .flag131{background-position: -1524px -42px;}
.ddTitleText .flag132{background-position: -1566px -42px;}
.ddTitleText .flag133{background-position: -1608px -42px;}
.ddTitleText .flag134{background-position: -1650px -42px;}
.ddTitleText .flag135{background-position: -1692px -42px;}
.ddTitleText .flag136{background-position: -1734px -42px;}
.ddTitleText .flag137{background-position: -1776px -42px;}
.ddTitleText .flag138{background-position: -1818px -42px;}
.ddTitleText .flag139{background-position: -1860px -42px;}
.ddTitleText .flag14 {background-position: -1902px -42px;}
.ddTitleText .flag140{background-position: -1944px -42px;}
.ddTitleText .flag141{background-position: -1986px -42px;}
.ddTitleText .flag142{background-position: -2028px -42px;}
.ddTitleText .flag143{background-position: -2070px -42px;}
.ddTitleText .flag144{background-position: -2112px -42px;}
.ddTitleText .flag145{background-position: -2154px -42px;}
.ddTitleText .flag146{background-position: -2196px -42px;}
.ddTitleText .flag147{background-position: -2238px -42px;}
.ddTitleText .flag148{background-position: -2280px -42px;}
.ddTitleText .flag149{background-position: -2322px -42px;}
.ddTitleText .flag15 {background-position: -2364px -42px;}
.ddTitleText .flag150{background-position: -2406px -42px;}
.ddTitleText .flag151{background-position: -2448px -42px;}
.ddTitleText .flag152{background-position: -2490px -42px;}
.ddTitleText .flag153{background-position: -2532px -42px;}
.ddTitleText .flag154{background-position: -2574px -42px;}
.ddTitleText .flag155{background-position: -2616px -42px;}
.ddTitleText .flag156{background-position: -2658px -42px;}
.ddTitleText .flag157{background-position: -2700px -42px;}
.ddTitleText .flag158{background-position: -2742px -42px;}
.ddTitleText .flag159{background-position: -2784px -42px;}
.ddTitleText .flag16 {background-position: -2826px -42px;}
.ddTitleText .flag169{background-position: -2868px -42px;}
.ddTitleText .flag17 {background-position: -2910px -42px;}
.ddTitleText .flag170{background-position: -2952px -42px;}
.ddTitleText .flag171{background-position: -2994px -42px;}
.ddTitleText .flag172{background-position: -3036px -42px;}
.ddTitleText .flag173{background-position: -3078px -42px;}
.ddTitleText .flag18 {background-position: -3120px -42px;}
.ddTitleText .flag19 {background-position: -3162px -42px;}
.ddTitleText .flag2  {background-position: -3204px -42px;}
.ddTitleText .flag20 {background-position: -3246px -42px;}
.ddTitleText .flag21 {background-position: -3288px -42px;}
.ddTitleText .flag22 {background-position: -3330px -42px;}
.ddTitleText .flag23 {background-position: -3372px -42px;}
.ddTitleText .flag24 {background-position: -3414px -42px;}
.ddTitleText .flag25 {background-position: -3456px -42px;}
.ddTitleText .flag26 {background-position: -3498px -42px;}
.ddTitleText .flag27 {background-position: -3540px -42px;}
.ddTitleText .flag28 {background-position: -3582px -42px;}
.ddTitleText .flag29 {background-position: -3624px -42px;}
.ddTitleText .flag3  {background-position: -3666px -42px;}
.ddTitleText .flag30 {background-position: -3708px -42px;}
.ddTitleText .flag31 {background-position: -3750px -42px;}
.ddTitleText .flag32 {background-position: -3792px -42px;}
.ddTitleText .flag33 {background-position: -3834px -42px;}
.ddTitleText .flag34 {background-position: -3876px -42px;}
.ddTitleText .flag35 {background-position: -3918px -42px;}
.ddTitleText .flag36 {background-position: -3960px -42px;}
.ddTitleText .flag37 {background-position: -4002px -42px;}
.ddTitleText .flag38 {background-position: -4044px -42px;}
.ddTitleText .flag39 {background-position: -4086px -42px;}
.ddTitleText .flag4  {background-position: -4128px -42px;}
.ddTitleText .flag40 {background-position: -4170px -42px;}
.ddTitleText .flag41 {background-position: -4212px -42px;}
.ddTitleText .flag42 {background-position: -4254px -42px;}
.ddTitleText .flag43 {background-position: -4296px -42px;}
.ddTitleText .flag44 {background-position: -4338px -42px;}
.ddTitleText .flag45 {background-position: -4380px -42px;}
.ddTitleText .flag46 {background-position: -4422px -42px;}
.ddTitleText .flag47 {background-position: -4464px -42px;}
.ddTitleText .flag48 {background-position: -4506px -42px;}
.ddTitleText .flag49 {background-position: -4548px -42px;}
.ddTitleText .flag5  {background-position: -4590px -42px;}
.ddTitleText .flag50 {background-position: -4632px -42px;}
.ddTitleText .flag51 {background-position: -4674px -42px;}
.ddTitleText .flag52 {background-position: -4716px -42px;}
.ddTitleText .flag53 {background-position: -4758px -42px;}
.ddTitleText .flag54 {background-position: -4800px -42px;}
.ddTitleText .flag55 {background-position: -4842px -42px;}
.ddTitleText .flag56 {background-position: -4884px -42px;}
.ddTitleText .flag57 {background-position: -4926px -42px;}
.ddTitleText .flag58 {background-position: -4968px -42px;}
.ddTitleText .flag59 {background-position: -5010px -42px;}
.ddTitleText .flag6  {background-position: -5052px -42px;}
.ddTitleText .flag60 {background-position: -5094px -42px;}
.ddTitleText .flag61 {background-position: -5136px -42px;}
.ddTitleText .flag62 {background-position: -5178px -42px;}
.ddTitleText .flag63 {background-position: -5220px -42px;}
.ddTitleText .flag64 {background-position: -5262px -42px;}
.ddTitleText .flag65 {background-position: -5304px -42px;}
.ddTitleText .flag66 {background-position: -5346px -42px;}
.ddTitleText .flag67 {background-position: -5388px -42px;}
.ddTitleText .flag68 {background-position: -5430px -42px;}
.ddTitleText .flag69 {background-position: -5472px -42px;}
.ddTitleText .flag7  {background-position: -5514px -42px;}
.ddTitleText .flag70 {background-position: -5556px -42px;}
.ddTitleText .flag71 {background-position: -5598px -42px;}
.ddTitleText .flag72 {background-position: -5640px -42px;}
.ddTitleText .flag73 {background-position: -5682px -42px;}
.ddTitleText .flag74 {background-position: -5724px -42px;}
.ddTitleText .flag75 {background-position: -5766px -42px;}
.ddTitleText .flag76 {background-position: -5808px -42px;}
.ddTitleText .flag77 {background-position: -5850px -42px;}
.ddTitleText .flag78 {background-position: -5892px -42px;}
.ddTitleText .flag79 {background-position: -5934px -42px;}
.ddTitleText .flag8  {background-position: -5976px -42px;}
.ddTitleText .flag80 {background-position: -6018px -42px;}
.ddTitleText .flag81 {background-position: -6060px -42px;}
.ddTitleText .flag82 {background-position: -6102px -42px;}
.ddTitleText .flag83 {background-position: -6144px -42px;}
.ddTitleText .flag84 {background-position: -6186px -42px;}
.ddTitleText .flag85 {background-position: -6228px -42px;}
.ddTitleText .flag86 {background-position: -6270px -42px;}
.ddTitleText .flag87 {background-position: -6312px -42px;}
.ddTitleText .flag88 {background-position: -6354px -42px;}
.ddTitleText .flag89 {background-position: -6396px -42px;}
.ddTitleText .flag9  {background-position: -6438px -42px;}
.ddTitleText .flag90 {background-position: -6480px -42px;}
.ddTitleText .flag901{background-position: -6522px -42px;}
.ddTitleText .flag902{background-position: -6564px -42px;}
.ddTitleText .flag903{background-position: -6606px -42px;}
.ddTitleText .flag904{background-position: -6648px -42px;}
.ddTitleText .flag905{background-position: -6690px -42px;}
.ddTitleText .flag906{background-position: -6732px -42px;}
.ddTitleText .flag91 {background-position: -6774px -42px;}
.ddTitleText .flag92 {background-position: -6816px -42px;}
.ddTitleText .flag93 {background-position: -6858px -42px;}
.ddTitleText .flag94 {background-position: -6900px -42px;}
.ddTitleText .flag95 {background-position: -6942px -42px;}
.ddTitleText .flag96 {background-position: -6984px -42px;}
.ddTitleText .flag97 {background-position: -7026px -42px;}
.ddTitleText .flag98 {background-position: -7068px -42px;}
.ddTitleText .flag99 {background-position: -7110px -42px;}
/*---- END sptites flags ----*/

/* cart start */
.cart {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 200px;
  padding: 5px;
  border: 1px solid #ccc;
  background: #f7f7f7;
  color: darkgreen;
  text-align: left;
  cursor: pointer;
  z-index: 9999;
}
.cart img{
  float: right;
  width: 16px;
  height: 16px;
}
/* cart end */

/*----------------Pop Up-------------------*/
.white-popup .for-man{
  position: relative;
  z-index: 3;
}
.white-popup.modal{
  max-width: 970px;
  width: inherit;
  margin-left: -485px;
  overflow: hidden;
}
.white-popup .for-man:after{
  content: "";
  position: absolute;
  width: 769px;
  height: 466px;
  background: url(../images/man.png) no-repeat;
  right: -40px;
  bottom: -40px;
  z-index: 1;
}
.white-popup .logo-pu{
  display: block;
  margin-top: 180px;
}
.white-popup .green-txt{
  color: #7dc343;
  font-weight: 800;
}
.white-popup form{
  max-width: 970px;
  margin: 0 auto 30px auto;
}
.white-popup .form-control{
  position: relative;
  width: 436px;
  height: 65px;
  border: 1px solid #464646;
  border-radius: 5px;
  font-size: 42px;
  font-weight: 300;
  z-index: 2;
}

.white-popup h1{
  color: rgb(66, 66, 66);
  font-size: 55px;
  font-weight: bold;
}

.white-popup .row-fluid{
  margin-top: 20px;
}

.white-popup .close{
  display: block;
  position: absolute;
  width: 22px;
  height: 22px;
  background: url(../images/icn-close.png) no-repeat!important;
  opacity: 1;
  right: 20px;
  top: 10px;
  z-index: 1000;
}
.white-popup .close:hover{
  opacity: 0.5;
  right: 20px;
  top: 10px;
  z-index: 1000;
}

.white-popup .btn-all-light{
  display: block;
  position: relative;
  width: 100%;
  height: 67px;
  line-height: 67px;
  font-size: 39px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 300;
  border-radius: 5px;
  color: #fff;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.white-popup .btn-all-light:hover{
  color: #fff;
}

.white-popup .btn-green-light{
  position: relative;
  width: 150px;
  background-color: #7dc343;
  webkit-box-shadow: 0px 7px 0px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 7px 0px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 7px 0px 0px rgba(0,0,0,0.5);
  z-index: 2;
}

.white-popup .btn-green-light:hover{
  background-color: #92e54e;
  webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.2);
}
/* end popup */

/* avatar start */
.avatar{
  float: right;
  position: relative;
  display: inline-block;
}
.avatar .profile-pic {
  border: 1px solid gray;
}

.avatar:hover .edit {
  display: block;
  background-color: lightgray;
}

.avatar .edit {
  margin-top: 7px;
  margin-right: 30px;
  padding: 5px;
  position: absolute;
  right: 0;
  bottom: 10px;
  display: none;
}

.avatar .edit a {
  color: #1976d2;
  text-decoration: underline;
}
/* avatar end */

.imageBox
{
  position: relative;
  height: 400px;
  width: 400px;
  border:1px solid #aaa;
  background: #fff;
  overflow: hidden;
  background-repeat: no-repeat;
  cursor:move;
}

.imageBox .thumbBox
{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 140px;
  height: 160px;
  margin-top: -80px;
  margin-left: -70px;
  box-sizing: border-box;
  border: 1px solid rgb(102, 102, 102);
  box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.5);
  background: none repeat scroll 0% 0% transparent;
}

.imageBox .spinner
{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  line-height: 400px;
  background: rgba(0,0,0,0.7);
}
.image_container
{
  position: relative;
  display: inline-block;
}
.image_container .action
{
  width: 400px;
  height: 30px;
  margin: 10px 0;
}
.image_container .cropped>img
{
  margin-right: 10px;
}


.can-enjoy {
    color: #727272;
    margin-bottom: 7%;margin-top: 1%;
    font-size: 30px;

}

.logo-header {
    width: 14%;
    position: absolute;
}

.form-login {
    margin: auto;
    font-size: 14px;
    text-align: center;
    align-content: center;
    padding: 2%;
    text-align: center:
}



.form-login button {
    color: #fff;
    width: 200px;
    padding: 0;
    font-size: 14px;
    padding: 1%;
    border-radius: 2px;
}
.form-login input, .form-login select {
    color: #848484;
    margin: auto;
    width: 250px;
    padding: 0;
    text-align: left;
    font-size: 14px;
    padding: 0.5%;
    border-radius:2px;
}

.form-login select option {
    padding: 1.2%;
    -webkit-transition:all 500ms ease;
    -o-transition:all 500ms ease;
    transition:all 500ms ease; 
}

.form-login p {
    padding: 2%;
    text-align:left;
    color: #fff;
    font-size: 15px;
        
}


 .form-login .btn-green{
    background-color: #119016;
  }
    .form-login .btn-green:hover{
      color: #fff;
      background-color: #10a716;
    }


.container-body {
    z-index: 99999;
    background: #fff;
}

.how-does{
 -webkit-transition:all 500ms ease;
-o-transition:all 500ms ease;
transition:all 500ms ease; 
}