@import 'bootstrap.min.css';
@import 'font-awesome.css';
@import 'hover.css';
@import 'animate.css';
@import 'login.css';

.glyphicon { margin-right:10px; }

.panel-body { padding:0px; }

.panel-title{ color: #2c3e50; font-weight: bold;}

.panel-body span{ color: #26D2BB;}

.panel-body a{ color: #2c3e50; font-weight: bold;}

.panel-body table tr td { padding-left: 15px }

.panel-body .table {margin-bottom: 0px; }

.panel-body .table a.active{color: orange !important;}

.login{
	background: #F2F2F2;
	border: 2px solid #ddd;
	border-radius: 1em 0em 1em 0em;
	padding: 2em;
}

.title{
    margin-top: 0px;
	background: #eee;
	border-bottom: 5px solid #26D2BB;
	text-align: center;
	padding: .5em;
}

#lb_informacion_beneficiario, #lb_informacion_pagador{
	font-weight: bold;
}

.center-block {
	float: none;
	margin-left: auto;
	margin-right: auto;
}

.input-group .icon-addon .form-control {
	border-radius: 0;
}

.icon-addon {
	position: relative;
	color: #555;
	display: block;
}

.icon-addon:after,
.icon-addon:before {
	display: table;
	content: " ";
}

.icon-addon:after {
	clear: both;
}

.icon-addon.addon-md .glyphicon,
.icon-addon .glyphicon, 
.icon-addon.addon-md .fa,
.icon-addon .fa {
	position: absolute;
	z-index: 2;
	left: 10px;
	font-size: 14px;
	width: 20px;
	margin-left: -2.5px;
	text-align: center;
	padding: 5px 0;
	top: 1px
}

.icon-addon.addon-lg .form-control {
	line-height: 1.33;
	font-size: 12px;
	padding: 10px 16px 10px 40px;
}

.icon-addon.addon-sm .form-control {
	height: 30px;
	padding: 5px 10px 5px 28px;
	font-size: 12px;
	line-height: 1.5;
}

.icon-addon.addon-lg .fa,
.icon-addon.addon-lg .glyphicon {
	font-size: 18px;
	margin-left: 0;
	left: 11px;
	top: 4px;
}

.icon-addon.addon-md .form-control,
.icon-addon .form-control {
	padding-left: 30px;
	float: left;
	font-weight: normal;
}

.icon-addon.addon-sm .fa,
.icon-addon.addon-sm .glyphicon {
	margin-left: 0;
	font-size: 12px;
	left: 5px;
	top: -1px
}

.icon-addon .form-control:focus + .glyphicon,
.icon-addon:hover .glyphicon,
.icon-addon .form-control:focus + .fa,
.icon-addon:hover .fa {
	color: #2580db;
}

.icono i{
	background: #DDD;
}
