<footer>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-4">
				<a href="/" class="logo-footer">
					<img width="120px" src="/images/content/LOGO_ILLUSTARTOR_Edit.png" alt="">
				</a><!-- logo-footer -->
			</div><!-- col-md-4 -->
			<div class="col-md-4">
				<div class="priv-policy">
					<p> &copy; 2016</p>
					<p> &middot; </p>
					<a href="/terms" target="_blank">Terms of Conditions</a>
					<p> &middot; </p>
					<a href="#">Privacy Policy</a>
				</div><!-- priv-policy -->
			</div><!-- col-md-4 -->
			<div class="col-md-4">
				<ul>
					<li><a href="#"><img src="/images/content/visa.png" alt=""></a></li>
					<li><a href="#"><img src="/images/content/ae.png" alt=""></a></li>
					<li><a href="#"><img src="/images/content/master.png" alt=""></a></li>
					<li><a href="#"><img src="/images/content/paypal.png" alt=""></a></li>
					<li><a href="#"><img src="/images/content/ssl-s.png" alt=""></a></li>
				</ul>
			</div><!-- col-md-4 -->
		</div><!-- row -->
	</div><!-- container-fluid -->
</footer>
</div><!-- wrapper -->