<header>
		<div class="container-fluid">
			<nav class=" navbar-default" role="navigation">
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle offcanvas-toggle" data-toggle="offcanvas" data-target="#js-bootstrap-offcanvas">
		            <span class="sr-only">Toggle navigation</span>
		            <span>
			            <span class="icon-bar"></span>
			            <span class="icon-bar"></span>
			            <span class="icon-bar"></span>
		            </span>
		          </button>
		      <a class="navbar-brand pull-left" href="/"><img class="logo-header" src="/images/content/LOGO_ILLUSTARTOR_Edit.png" alt=""></a>
		    </div><!-- navbar-header -->
		    <div class="navbar-offcanvas navbar-offcanvas-touch" id="js-bootstrap-offcanvas">
		      <ul class="nav navbar-nav">
		        <?php if(false){ ?> 
            <li class="dropdown">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown">About</a>
		          <ul class="dropdown-menu">
		            <li><a href="#">How does it work?</a></li>
		            <li class="divider"></li>
		            <li><a href="#">What we do?</a></li>
		            <li class="divider"></li>
		            <li><a href="#">News & Updates</a></li>
		            <li class="divider"></li>
		            <li><a href="#">Our advantages</a></li>
		          </ul><!-- dropdown-menu -->
		        </li><!-- dropdown -->
		         <li class="dropdown">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Services</a>
		          <ul class="dropdown-menu">
		            <li><a href="#">Work with us</a></li>
		            <li class="divider"></li>
		            <li><a href="#">Professional Translation</a></li>
		            <li class="divider"></li>
		            <li><a href="#">Proof-Reading</a></li>
		            <li class="divider"></li>
		            <li><a href="#">Project Manager</a></li>
		            <li class="divider"></li>
		            <li><a href="#">Transcription</a></li>
		          </ul><!-- dropdown-menu -->
		        </li><!-- dropdown -->
		         <li class="dropdown">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Support</a>
		          <ul class="dropdown-menu">
		            <li><a href="#">Translators FAQ</a></li>
		            <li class="divider"></li>
		            <li><a href="#">Customers FAQ</a></li>
		            <li class="divider"></li>
		            <li><a href="#">Contact</a></li>
		          </ul><!-- dropdown-menu -->
		        </li><!-- dropdown -->
            <?php } ?>
            <?php
                $inst = Zend_Auth::getInstance();
                $is_logged = $inst->hasIdentity();
             if (!$is_logged) { ?>
		        <li><a href="/#register-table" class="btn-all btn-blue register">REGISTER NOW</a></li>
            <li><a href="/#login-table" class="btn-all btn-green login">LOGIN</a></li>
            <?php } else { ?>
            <li><a href="/translator/logout" class="btn-all btn-green login">LOGOUT</a></li>
            <?php } ?>
		      </ul><!-- nav -->
		    </div><!-- /.navbar-collapse -->
			</nav>
		</div><!-- container-fluid -->
</header>