<?php $templates = $this->TemplateDB(); ?>
<div class="modal fade" id="mod_about" tabindex="-1" role="dialog" aria-labelledby="jobType" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" style="display: block;" data-dismiss="modal" aria-hidden="true">&times;</button>
        
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <?=$templates->getData('modal1','About')?>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a href="/upload" class="btn btn-default"><?=$templates->getData('modal1_order','Order now')?></a> 
        <button type="button" class="btn btn-default" data-dismiss="modal"><?=$templates->getData('modal1_close','Close')?></button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="mod_faq" tabindex="-1" role="dialog" aria-labelledby="jobType" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" style="display: block;" data-dismiss="modal" aria-hidden="true">&times;</button>
        
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <?=$templates->getData('modal2','F.A.Q')?>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a href="/upload" class="btn btn-default"><?=$templates->getData('modal2_order','Order now')?></a> 
        <button type="button" class="btn btn-default" data-dismiss="modal"><?=$templates->getData('modal2_close','Close')?></button>
      </div>
    </div>
  </div>
</div>
    
<div class="modal fade" id="mod_how" tabindex="-1" role="dialog" aria-labelledby="jobType" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" style="display: block;" data-dismiss="modal" aria-hidden="true">&times;</button>
        
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <?=$templates->getData('modal3','How does it work')?>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a href="/upload" class="btn btn-default"><?=$templates->getData('modal3_order','Order now')?></a> 
        <button type="button" class="btn btn-default" data-dismiss="modal"><?=$templates->getData('modal3_close','Close')?></button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="mod_projman" tabindex="-1" role="dialog" aria-labelledby="jobType" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" style="display: block;" data-dismiss="modal" aria-hidden="true">&times;</button>
        
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <?=$templates->getData('modal4','Project Manager')?>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a href="/upload" class="btn btn-default"><?=$templates->getData('modal4_order','Order now')?></a> 
        <button type="button" class="btn btn-default" data-dismiss="modal"><?=$templates->getData('modal4_close','Close')?></button>
      </div>
    </div>
  </div>
</div>