<div class="wrapper-in">
  <section class="top-info">
  <div class="container-fluid">
  		<div class="row">
  			<div class="col-md-12">               
  		     <div class="form-login text-center">
            <?php if(isset($this->result)){ ?>
              <p style="color: #000;text-align: center;">Password recovery instructions were sent to your email</p>
            <?php } ?>
             <form action="" method="post" role="form">
              <label for="email">Your email</label>
              <br />
              <input type="email" placeholder="" class="form-control" id="email" name="email" required>
              <br />
              <button class=" btn-blue login" name="login" type="submit">Restore password</button>
            </form>
           </div>
        </div>
      </div>
  </div>
  </section>
</div>
