<div class="wrapper-in">
  <section class="top-info">
  <div class="container-fluid">
  		<div class="row">
  			<div class="col-md-12">               
  		     <div class="form-login text-center">
            <a href="/">Home</a>
            <?php if($this->result == false){ ?>
              <p style="color: #000;text-align: center;">There is no such account</p>
            <?php } else { ?>
              <?php if(isset($this->text)) { ?>
                <p style="color: #000;text-align: center;"><?=$this->text?></p>
              <?php } ?>
             <form action="" method="post" role="form">
              <input type="hidden" name="id" value="<?=$this->id?>">
              <label for="pass">New password</label>
              <br />
              <input type="password" class="form-control" id="pass" name="pass" required>
              <br />
              <label for="confpass">Confirm password</label>
              <br />
              <input type="password" class="form-control" id="confpass" name="confpass" required>
              <br />
              <button class=" btn-blue login" name="login" type="submit">Change password</button>
            </form>
            <?php } ?>
           </div>
        </div>
      </div>
  </div>
  </section>
</div>
