<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Smart Lation</title>
		<link rel="icon" type="image/vnd.microsoft.icon" href="favicon.ico">
		<!--Style-->
		<link rel="stylesheet" href="css/bootstrap.css">
		<link rel="stylesheet" href="css/bootstrap.offcanvas.css">
		<link rel="stylesheet" href="css/style.css">
		<!--JS-->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<!-- JS for Animate -->
		<script src="js/animate.js"></script>
		<script src="js/veg3230.js"></script>
		<!-- JS for bootstrap -->
		<script src="js/bootstrap.js"></script>
		<script src="js/jquery.min.js"></script>
		<script src="js/main.js"></script>
		<!-- JS for load page -->
		<script>
			$(window).on('load', function () {
				var $preloader = $('#page-preloader'),
					$spinner   = $preloader.find('.spinner');
					$spinner.fadeOut();
					$preloader.delay(350).fadeOut('slow');
			});
		</script>
	</head>
	<body class="clfx">
        <div style="max-width: 70%;width:100%;margin:auto;">
        <center><b>Terms and Conditions for Translator’s own Agency</b></center>
        <br><br>
        <p style="text-align:justify;">
        This website is operated by Smartlation. Throughout the site, the terms “we”, “us” and “our”
        refer to Smartlation. Smartlation offers this website, including all information, tools and
        services available from this site to you, the user, conditioned upon your acceptance of all
        terms, conditions, policies and notices stated here.
        </p>
        <br><br>
        <p style="text-align:justify;">
        By visiting our site and/ or purchasing something from us, you engage in our “Service” and
        agree to be bound by the following terms and conditions, including those additional terms and
        conditions. These Terms of Service apply to all users who will create their own website as an
        agency through our system.
        </p>
        <br><br>
        <p style="text-align:justify;">
        A breach or violation of any of the Terms will result in an immediate termination of your
        services.
        </p>
        <br><br>
        <b>Section I: Terms of Service</b>
        <br><br>
        <p style="text-align:justify;">
        1. These terms and conditions shall govern your use of the services provided by
        Smartlation.
        </p>
        <br><br>
        <p style="text-align:justify;">
        2. By using the services of Smartlation, you accept these terms and conditions in full;
        accordingly, if you disagree with these terms and conditions, or any part of these
        terms and conditions, you must not create your own agency through Smartlation.
        </p>
        <br><br>
        2. By using the services of Smartlation, you accept these terms and conditions in full;

        <p style="text-align:justify;">
        3. If you wish to open your own agency through Smartlation, we will ask you to expressly
        agree to these terms and conditions.
        </p>
        <br><br>
        4. By agreeing to these Terms of Service, you represent that you are at least the age of
        majority in your state or province of residence.

        <br><br>
        <b>Section II: Online Terms</b>
        <br><br>


        <p style="text-align:justify;">
        5. You may not use our services for any illegal or unauthorized purpose nor may you, in
        the use of the Service, violate any laws in your jurisdiction (including but not limited to
        copyright laws).
        </p>
        <br><br>
        <p style="text-align:justify;">
        6. You must not transmit any worms or viruses or any code of a destructive nature.
        </p>
        <br><br>
        <p style="text-align:justify;">
        7. We reserve the right to refuse service to anyone for any reason at any time.
        </p>
        <br><br>
        <p style="text-align:justify;">
        8. You understand that your content (not including credit card information), may be
        transferred unencrypted and involve
        - Transmissions over various networks;
        - Changes to conform and adapt to technical requirements of connecting networks
        or devices.
        </p>
        <br><br>
        <p style="text-align:justify;">
        9. You agree not to reproduce, duplicate, copy, sell, resell or exploit any portion of the
        Service, use of the Service, or access to the Service or any contact on the website
        through which the service is provided, without express written permission by us.
        </p>
        <br><br>
        <b>Section III: Accuracy, Completeness And Timeliness Of Information</b>
        <br><br>

        <p style="text-align:justify;">
        10. We are not responsible if the information provided on your website is not accurate,
        complete or current.
        </p>
        <br><br>
        <p style="text-align:justify;">
        11. The material on your site of your own translation agency will be provided by you and
        we will not be responsible for the content, working and processing of your site. Any
        reliance on the material on this site is at your own risk.
        </p>
        <br><br>
        <p style="text-align:justify;">
        12. You agree that it is your responsibility to monitor changes to our site.
        </p>
        <br><br>
        <b>Section IV: Modifications To The Service And Prices</b>
        <br><br>

        <p style="text-align:justify;">
        13. Prices for our products are subject to change without notice.
        </p>
        <br><br>
        <p style="text-align:justify;">
        14. We reserve the right at any time to modify or discontinue the Service (or any part or
        content thereof) without notice at any time.
        </p>
        <br><br>
        <p style="text-align:justify;">
        15. We shall not be liable to you or to any third-party for any modification, price change,
        suspension or discontinuance of the Service.
        </p>
        <br><br>
        <b>Section V: Services Provided by your Agency</b>
        <br><br>

        <p style="text-align:justify;">
        16. Any offer for any service made on your site is your own responsibility
        </p>
        <br><br>
        <p style="text-align:justify;">
        17. We do not warrant that the quality of any services, information, or other material
        provided by your agency.
        </p>
        <br><br>
        <b>Section VI: Accuracy Of Billing And Account Information</b>
        <br><br>

        <p style="text-align:justify;">
        18. We will not be responsible for the accuracy of account information and billing of the
        customers on your website.
        </p>
        <br><br>
        <p style="text-align:justify;">
        19. We will provide services to you as a third-party tool over which we will neither monitor
        nor have any control nor input.
        </p>
        <br><br>
        <p style="text-align:justify;">
        20. You acknowledge and agree that we provide access to such tools ”as is” and “as
        available” without any warranties, representations or conditions of any kind and
        without any endorsement. We shall have no liability whatsoever arising from or
        relating to your use of this option.
        </p>
        <br><br>
        <b>Section VII: Optional Tools</b>
        <br><br>

        <p style="text-align:justify;">
        21. Any use by you of optional tools offered through the site is entirely at your own risk
        and discretion and you should ensure that you are familiar with and approve of the
        terms on which tools are provided.
        </p>
        <br><br>
        <p style="text-align:justify;">
        22. We may also, in the future, offer new services and/or features through the website
        (including, the release of new tools and resources). Such new features and/or services
        shall also be subject to these Terms of Service.
        </p>
        <br><br>
        <b>Section IX: User Comments, Feedback And Other Submissions</b>
        <br><br>

        <p style="text-align:justify;">
        23. We are and shall be under no obligation
        - To maintain any comments in confidence;
        - To pay compensation for any comments; or
        - To respond to any comments.
        </p>
        <br><br>
        <p style="text-align:justify;">
        24. We may, but have no obligation to, monitor, edit or remove content of your website
        containing information regarding your agency that we determine in our sole discretion
        are unlawful, offensive, threatening, libellous, defamatory, pornographic, obscene or
        otherwise objectionable or violates any party’s intellectual property.
        </p>
        <br><br>
        <p style="text-align:justify;">
        25. We take no responsibility and assume no liability for any comments posted on your
        website
        </p>
        <br><br>
        </div>
    </body>
</html>
