<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Minisites</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/css/estilos.css">
	<link rel="stylesheet" type="text/css" href="/css/form.css">
	<link rel="stylesheet" type="text/css" href="/css/jquery.dataTables.min.css">

	<script type="text/javascript" charset="utf8" src="/js/jquery.js"></script>
	<script type="text/javascript" charset="utf8" src="/js/bootstrap.min.js"></script>
	<script type="text/javascript" charset="utf8" src="/js/form.js"></script>
	<script type="text/javascript" charset="utf8" src="/js/jquery.dataTables.min.js"></script>
  
  <link rel="icon" type="image/vnd.microsoft.icon" href="/images/favicon.ico">

	<script type="text/javascript">
		$(document).ready(function(){
			$('#myTable').DataTable( {
			"language": {
				"url": "js/Spanish.json"
			}
			});

		});
		</script>
</head>
<body>
	<div class="row" style="margin-right: 0px;">
		<div class="col-sm-3 col-md-3">
			<div class="panel-group" id="accordion">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span class="glyphicon glyphicon-home">
							</span>Records</a>
						</h4>
					</div>
					<div id="collapseOne" class="panel-collapse collapse in">
						<div class="panel-body">
							<table class="table">
								<tr>
									<td>
										<span class="glyphicon glyphicon-home"></span><a href="/admin">Home</a>
									</td>
								</tr>
								<tr>
									<td>
										<span class="glyphicon glyphicon-pencil"></span><a href="/admin/translators">Translators</a>
									</td>
								</tr>
								<tr>
									<td>
										<span class="glyphicon glyphicon-flash"></span><a href="/admin/agencys">Agencys</a>
									</td>
								</tr>
								<tr>
									<td>
										<span class="glyphicon glyphicon-list-alt"></span><a href="/admin/plans">Plans</a>
									</td>
								</tr>
								<tr>
									<td>
										<span class="glyphicon glyphicon-flash"></span><a href="/admin/expertises">Expertises</a>
									</td>
								</tr>
								<tr>
									<td>
										<span class="glyphicon glyphicon-home"></span><a href="/admin/domains">Domains</a>
									</td>
								</tr>
                <tr>
									<td>
										<span class="glyphicon glyphicon-home"></span><a href="/admin/extension">Extension</a>
									</td>
								</tr>
								<tr>
									<td>
										<span class="glyphicon glyphicon-home"></span><a href="/admin/languages">Languages</a>
									</td>
								</tr>
								<tr>
									<td>
										<span class="glyphicon glyphicon-home"></span><a href="/admin/groups">Group of Languages </a>
									</td>
								</tr>
								<tr>
									<td>
										<span class="glyphicon glyphicon-home"></span><a href="/admin#orders">Orders</a>
									</td>
								</tr>
                <tr>
									<td>
										<span class="glyphicon glyphicon-home"></span><a href="/admin/code">Code</a>
									</td>
								</tr>
                <tr>
									<td>
										<span class="glyphicon glyphicon-home"></span><a href="/admin/macros">Macros</a>
									</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"><span class="glyphicon glyphicon-user">
                            </span><?php echo Zend_Auth::getInstance()->getIdentity()->nomb_adm;?></a>
						</h4>
					</div>
					<div id="collapseThree" class="panel-collapse collapse">
						<div class="panel-body">
							<table class="table">
								<tr>
									<td>
										<a href="">Change Password</a>
									</td>
								</tr>
								<tr>
									<td>
										<span class="glyphicon glyphicon-log-out text-danger"></span><a href="/admin/logout" class="text-danger">
											Logout</a>
									</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-9 col-md-9">
	        <?php echo $this->layout()->content; ?>
		</div>
	</div>

<script type="text/javascript">

</script>
</body>
</html>