<!DOCTYPE html>
<html lang="en">
  <head>
  	<meta charset="UTF-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<title>Translated.co | Be part of the Translation Industry?s elite.</title>
  	<link rel="icon" type="image/vnd.microsoft.icon" href="/images/favicon.ico">
  	<!--Style-->
  	<link rel="stylesheet" href="/css/bootstrap.css">
  	<link rel="stylesheet" href="/css/bootstrap.offcanvas.css">
  	<link rel="stylesheet" href="/css/style.css">
  	<!--JS-->
  	<script src="/js/jquery.min.js"></script>
  	<!-- JS for Animate -->
  	<script src="/js/animate.js"></script>
  	<script src="/js/veg3230.js"></script>
  	<!-- JS for bootstrap -->
  	<script src="/js/bootstrap.js"></script>
  	<script src="/js/main.js"></script>
  	<!-- JS for load page -->
  	<script>
  		$(window).on('load', function () {
  			var $preloader = $('#page-preloader'),
  				$spinner   = $preloader.find('.spinner');
  				$spinner.fadeOut();
  				$preloader.delay(350).fadeOut('slow');
  		});
  	</script>
  </head>
<body class="clfx">
  <?php if(false){ ?><!--<div id="page-preloader"><span class="spinner"></span></div> page-preloader --><?php } ?>

  <?php echo $this->render("blocks/header.phtml");?>
  <div class="wrapper">
  <?php echo $this->layout()->content; ?>
  <?php echo $this->render("blocks/footer.phtml");?>
  
  <?//$this->render("blocks/modal.phtml");?>
  </div><!-- wrapper -->
<!-- Designer by Goch A. / Layout by Perepelytca S. -->
</body>
</html>