<!DOCTYPE html>
<html xml:lang="en-en" lang="en-en" >
    <head>
      <meta charset="utf-8">
      <title>Minisites</title>
      <meta http-equiv="content-language" content="en" />       
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
      <link rel="stylesheet" type="text/css" href="/css/bootstrap.offcanvas.css">
      <link rel="stylesheet" type="text/css" href="/css/style.css">
      <link rel="stylesheet" type="text/css" href="/css/sideNav.css">
      <link rel="stylesheet" type="text/css" href="/css/form.css">
      <link rel="stylesheet" type="text/css" href="/css/jquery.dataTables.min.css">
      
      <link rel="icon" type="image/vnd.microsoft.icon" href="/images/favicon.ico">

      <!--Adaptation-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />

      <!--JS-->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
      <!-- JS for Animate -->
      <script src="/js/animate.js"></script>
      <script src="/js/veg3230.js"></script>
      <!-- JS for bootstrap -->
      <script src="/js/bootstrap.js"></script>
      <script src="/js/main.js"></script>
      <script src="/js/side-nav.js"></script>
      <!-- JS for load page -->

      <script type="text/javascript" charset="utf8" src="/js/form.js"></script>
	    <script type="text/javascript" charset="utf8" src="/js/jquery.dataTables.min.js"></script>

        <script type="text/javascript">
            $(document).ready(function(){
                $('#myTable').DataTable( {
                "language": {
                    "url": "js/Spanish.json"
                }
                });

            });
            </script>
    </head>
    <body class="clfx">
      <?php echo $this->render("blocks/header.phtml");?>
      <div class="wrapper">
        <div class="wrapper-in">
          <div class="cont-minisite">
            <div class="row">
              <div class="col-md-3 scroll-nav">
                <div class="sideNav">
                  <!--  <div class="search" contenteditable="true"> <div ><i class="material-icons">search</i>Search</div>   </div> -->
                  <br>
                  <div  class="item-sideNav agency-btn" onclick="window.location='/translator/';">
                    <div class="help-tip">
                      <p>Here You Can Agency Profile Update.</p>
                    </div>
                    <i class="material-icons">account_balance</i>My Agency
                  </div>

                  <div  class="item-sideNav plan-btn" onclick="window.location='/translator/myplan/?step=1';">
                    <div class="help-tip">
                      <p>Upgrade Your Plan And Get More Benefits And Features.</p>
                    </div>
                    <i class="material-icons">assignment</i>My Plan
                  </div>

                  <div  class="item-sideNav website-btn" onclick="window.location='/translator/mywebsite/';">
                    <div class="help-tip">
                      <p>Design And Customizer Your Website Enjoying The Last Technology.</p>
                    </div>
                    <i class="material-icons">tab</i>My Website
                  </div>

                  <div  class="item-sideNav my-domain" onclick="window.location='/translator/orderdomain/';">
                    <div class="help-tip">
                      <p>Choose Or Upgrade Your  Domain Name !</p>
                    </div>
                    <i class="material-icons">domain</i>My Domains
                  </div>

                  <div  class="item-sideNav">
                    <div class="help-tip">
                      <p></p>
                    </div>
                    <i class="material-icons">euro_symbol</i>Payments & Finaces
                  </div>

                  <div  class="item-sideNav" onclick="window.location='/translator/order/';">
                    <div class="help-tip">
                      <p>Check Your Order History!.</p>
                    </div>
                    <i class="material-icons">add_shopping_cart</i>
                    Order
                  </div>

                  <div  class="item-sideNav btn-account" onclick="window.location='/translator/settings/';">
                    <div class="help-tip">
                      <p>Here You Can Agency Profile Update.</p>
                    </div>
                    <i class="material-icons">show_chart</i>Account settings
                  </div>

                  <div  class="item-sideNav">
                    <div class="help-tip">
                      <p>Social Marketing.</p>
                    </div>
                    <i class="material-icons">web</i>Social Marketing
                  </div>
                  
                  <div  class="item-sideNav" onclick="window.location='/translator/email/';">
                    <div class="help-tip">
                      <p>E-Mail Marketing</p>
                    </div>
                    <i class="material-icons">email</i>E-Mail Marketing
                  </div>

                </div>
              </div>
              <div class="col-sm-9 col-md-9">
                  <?php echo $this->layout()->content; ?>
              </div>
            </div>
          </div>
        </div>
      </div>
    </body>
</html>