<div class="cont-form my-agency" style="display:block;">
  <div class="bar-form"><i class="material-icons">assignment</i>Customers
    <div class="close-form"><i class="material-icons">close</i></div>
  </div>
  
  <div class="row form-margin">
    <div class="col-md-10 col-md-offset-1">
      <div class="row">
        <a href="/translator/email/" class="btn send" style="margin-top: 0;width:200px">Add Customer</a>
        <br />
        <br />
        <table class="table">
          <tr>
            <th>Customer ID</th>
            <th>Customer name</th>
            <th>Customer email</th>
            <th>Customer secont email</th>
          </tr>
          <?php if(!empty($this->customers)) { ?>
            <?php foreach($this->customers as $customer){ ?>
              <tr>
                <td><?=$customer['cus_id']?></td>
                <td><?=$customer['name_cus']?></td>
                <td><?=$customer['email_cus']?></td>
                <td><?=$customer['email_cus_sec']?></td>
              </tr>
            <?php } ?>
          <?php } else { ?>
            <tr>
              <td colspan="4">No customers</td>
            </tr>
          <?php } ?>
        </table>
      </div>
    </div>
  </div>
</div>