<div class="cont-form my-agency" style="display:block;">
  <div class="bar-form"><i class="material-icons">assignment</i>E-Mail Marketing
    <div class="close-form"><i class="material-icons">close</i></div>
  </div>
  
  <div class="row form-margin">
    <div class="col-md-10 col-md-offset-1">
      <div class="row">
        <div class="col-lg-12">
          
          <?php if(isset($this->error)) { ?>
          <p style="color: #900;padding-bottom: 15px;"><?=$this->error?></p>
          <?php } ?>
          
          <?php if(isset($this->resultAdd)) { ?>
             <?php if($this->resultAdd !== false) { ?>
             <p style="color: #090;padding-bottom: 15px;">The client added</p>
             <?php if(count($this->resultAdd)>0) { ?>
               <p style="color: #900;padding-bottom: 15px;">The following users have been added<br>
               <?php foreach($this->resultAdd as $row){ ?>
               <?=$row?><br>
               <?php } ?> 
               </p>
             <?php } ?>
             <?php } else { ?>
             <p style="color: #900;padding-bottom: 15px;">An error occurred while loading file</p>
             <?php } ?>
          <?php } ?>
          
          <?php if(isset($this->result)) { ?>
          <p style="color: #090;padding-bottom: 15px;">The client added</p>
          <?php } ?>
          
          <p>Dear <?=$this->trans['name_tran']?> <?=$this->trans['last_tran']?>:</p>
          <p>We invite you to upload your customers to your panel in order to help you by creating and executing e-mail campaigns for you. Translated.co aims to execute more tasks as possible for you, in order to provide you an automatized and autonomous business. Translated.co is committed no to use your customers information except to market your business and to prevent other Translated.co affiliated companies to work with the same customers, keeping your exclusivity on them.</p>
          <br />
          <a href="/translator/email-list/" class="btn send" style="margin-top: 0;width:200px">List of clients</a>
        <br />
        <br />
        </div>
      </div>
      <br />
      
      <div class="row">
        <div class="col-lg-12">
          <form action="" method="post">
            <label for="name_cus">Name</label>
            <input class="form-control" name="name_cus" id="name_cus" value="" />
            <br />
            
            <label for="email_cus">E-mail</label>
            <input class="form-control" name="email_cus" id="email_cus" value="" />
            <br />
            
            <label for="email_cus_sec">Second E-mail</label>
            <input class="form-control" name="email_cus_sec" id="email_cus_sec" value="" />
            
            <input type="submit" class="send" value="Add" />
          </form>
        </div>
      </div>
      <br />
      <hr />
      
      <div class="row">
        <div class="col-lg-12">
          <p>Upload customer list file Excel</p>
          
        </div>
      </div>
       <br />
       
      <div class="row">
        <div class="col-lg-12">
          <form action="" method="post" enctype="multipart/form-data">
            <label for="fileexcel" class="form-control labelblock">File</label>
            <input type="file" name="fileexcel" id="fileexcel" accept=".xlsx" value="" />
            <p class="text_label hide">File</p>
            
            <input type="submit" class="send" value="Upload" />
          </form>
        </div>
      </div>
      
    </div>
  </div>
</div>