<style>
 .reg_block{
   position: relative;
 }
 .error_mess{
   position: absolute;
   background: #fff;
   color: #f00;
    top: 0;
    right: 0;
    border: 1px solid #faa;
    border-radius: 6px;
    padding: 5px 14px;
    width: 240px;
 }
</style>
<div class="cont-form my-agency" style="display:block;">
  <div class="bar-form"><i class="material-icons">account_balance</i>Sep Up My Agency
    <div class="close-form"><i class="material-icons">close</i></div>
  </div>
  <div class="row form-margin">
    <div class="col-md-10 col-md-offset-1">
        <div class="row">
            <form action="/translator" method="POST" id="form_agensy">
                <div class="col-md-6">
                    <?php
                        if($this->agens){
                            echo "<input type='hidden' name='ida' value='".htmlspecialchars($this->agens['agency_id'])."'>";
                            echo "<label>Agency id: ".htmlspecialchars($this->agens['agency_id'])."</label>";
                            echo "<br><br>";
                        }
                    ?>
                    <label>Agency Name</label>
                    <br>
                    <div class="form-group">
                        <div class="icon-addon addon-lg reg_block" id="block_name">
                            <input type="text" class="form-control chek_field" data-check="required" data-min="5" data-max="50" data-id="block_name" name="nam" placeholder="Name" value="<?php echo htmlspecialchars($this->agens['name_agen']);?>">
                            <label class="fa fa-edit"></label>
                        </div>
                    </div>

                    <label>Agency address</label>
                    <br>
                    <div class="form-group">
                        <div class="icon-addon addon-lg">
                            <textarea class="form-control" name="add" placeholder="Anegcy address"><?php echo $this->agens['addr_agen'];?></textarea>
                            <label class="fa fa-edit"></label>
                        </div>
                    </div>

                    <label>Phone number °1</label>
                    <br>
                    <div class="form-group">
                        <div class="icon-addon addon-lg reg_block" id="block_ph1">
                            <input type="text" class="form-control chek_field" name="ph1" data-check="" data-min="5" data-max="15" data-id="block_ph1" placeholder="Phone number °1"  value="<?php echo htmlspecialchars($this->agens['phon_agen']);?>">
                            <label class="fa fa-edit"></label>
                        </div>
                    </div>

                    <label>Phone number °2</label>
                    <br>
                    <div class="form-group">
                        <div class="icon-addon addon-lg reg_block" id="block_ph2">
                            <input type="text" class="form-control chek_field" name="ph2" data-check="" data-min="5" data-max="15" data-id="block_ph2" placeholder="Phone number °2" value="<?php echo htmlspecialchars($this->agens['pho2_agen']);?>">
                            <label class="fa fa-edit"></label>
                        </div>
                    </div>

                </div>
                <div class="col-md-6">
                    <label>Scan Id</label>
                    <br>
                    <div class="form-group">
                        <div class="icon-addon addon-lg reg_block" id="block_sca">
                            <input type="text" class="form-control chek_field" name="sca" data-check="" data-min="4" data-max="25" data-id="block_sca" placeholder="Scan Id" value="<?php echo htmlspecialchars($this->agens['id_scan_agen']);?>">
                            <label class="fa fa-edit"></label>
                        </div>
                    </div>

                    <label>Translate Certificate</label>
                    <br>
                    <div class="form-group">
                        <div class="icon-addon addon-lg reg_block" id="block_cer">
                            <input type="text" class="form-control chek_field" name="cer" data-check="" data-min="4" data-max="25" data-id="block_cer" placeholder="Translate Certificate"  value="<?php echo htmlspecialchars($this->agens['tran_cert_agen']);?>">
                            <label class="fa fa-edit"></label>
                        </div>
                    </div>

                    <label>Payment Method</label>
                    <br>
                    <div class="form-group">
                        <div class="icon-addon addon-lg">
                            <select name="pay" class="form-control">
                                <option value="">----</option>
                                <option <?php if($this->agens['way_pay_agen'] == 'Paypal') echo 'selected';?> value="Paypal">Paypal</option>
                                <option <?php if($this->agens['way_pay_agen'] == 'Payoneer') echo 'selected';?> value="Payoneer">Payoneer</option>
                                <option <?php if($this->agens['way_pay_agen'] == 'Skrill') echo 'selected';?> value="Skrill">Skrill</option>
                            </select>
                            <label class="fa fa-edit"></label>
                        </div>
                    </div>

                    <label>Email To Receive Payments</label>
                    <br>
                    <div class="form-group">
                        <div class="icon-addon addon-lg reg_block" id="block_ema">
                            <input type="text" class="form-control chek_field" name="ema" data-check="required" data-min="4" data-max="25" data-id="block_ema" data-type="email" placeholder="Email To Receive Payments"  value="<?php echo htmlspecialchars($this->agens['email_pay_agen']);?>">
                            <label class="fa fa-edit"></label>
                        </div>
                    </div>
                    <label>Country</label>
                    <br>
                    <div class="form-group">
                        <div class="icon-addon addon-lg reg_block" id="block_ema">
                            <select name="country_id">
                            <option value="0">----</option>
                            <?php foreach($this->counts as $count){ ?>
                            <option <?=($count['id'] == $this->tran['country_id'])?'selected="selected"':''?> value="<?=$count['id']?>"><?=$count['nicename']?></option>
                            <?php } ?>
                            </select>
                            
                            <label class="fa fa-edit"></label>
                        </div>
                    </div>
                    <?php
                        if($this->agens){
                            echo "<br>";
                            echo "<label>Agency Status: ".htmlspecialchars($this->agens['stat_agen'])."</label>";
                        }
                    ?>
                </div>

        </div>
        <hr>
          <div class="row">
            
              <div class="col-md-2" ></div>
              <div class="col-md-8" >
                <center>
                  <div class="row">
                    <div class="col-md-6">
                        <label>Logo (137px*35px)</label>
                    <br><br>
                    <?php $logo = $this->getLogo() ?>
                    <div id="imagePreview" <?=$logo?>>
                        <div class="preview">
                          <?php if(is_null($logo)) {  ?>
                          <i class="material-icons">photo_camera</i>
                          <?php } ?>
                        </div>
                    </div>
                    <p class="error img_err hide" style="width: 290px;position: absolute;">Incorrect type of file - only images</p>
                    <input id="uploadFile" type="file" name="image" class="img" accept="image/*" />
                            
                            
                      </div>
                        <div  class="col-md-6">
                        
                        
                                                      <br><br>
                        <div class="row">
                             <a href="#" id="uploadlogo" class="btn-btonera">
                            
                               <i class="material-icons">save</i> upload Logo
                          </a>
                          <p class="error img_err_but hide" style="width: 290px;position: absolute;">Select a file to upload</p>
                        
                            
                            <br><br>
                    
                             <a class="btn-btonera">
                            
                               <i class="material-icons">shopping_cart</i> Buy Logo
                          </a>
                        
              
                        </div>
                        
                        
                        </div>
                        
                    </div>
                    
                    <br />
                    <div class="row">
                      <div class="col-md-6">
                        <label>Favicon (16px*16px)</label>
                        <br><br>
                        <?php $ico = $this->getFavicon() ?>
                        <div id="imagePreview2" <?=$ico?> >
                          <div class="preview">
                            <?php if(is_null($ico)){ ?>
                            <i class="material-icons">photo_camera</i>
                            <?php } ?>
                          </div>
                        </div>
                        <p class="error img_err hide" style="width: 290px;position: absolute;">Incorrect type of file - only images</p>
                        <input id="uploadfavicon" type="file" name="favicon" class="img" accept=".ico" />
                      </div>
                      
                      <div  class="col-md-6">
                        <br>
                        <br>
                        <div class="row">
                          <a href="#" id="uploadIco" class="btn-btonera"><i class="material-icons">save</i> upload favicon</a>
                          <p class="error img_err_but hide" style="width: 290px;position: absolute;">Select a file to upload</p>
                        </div>
                      </div>
                    </div>
                  <br>
                  <br />

                  <?php
                      if(!$this->agens){
                  ?>
                  <input type="submit" class="send" name="btg" value="Send Information">
                  <?php
                      }else{
                    ?>
                  <input type="submit" class="send" name="btc" value="Update Information">
                  <?php
                      }
                    ?>
                </center>
              </div>
              <div class="col-md-2" ></div>
            </form>
          </div>
      </div>
  </div>
</div>