<div class="row">
	<div class="col-md-10 col-md-offset-1">
        <div class="row">
            <h2 class="title">MY DOMAINS</h2>
            
            <table class="display table table-bordered table-stripted" id="myTable" >
		        <thead>
                    <tr class="info">
                        <th>#</th>
                        <th>ORDER ID</th>
                        <th>ORDER DATE</th>
                        <th>MY DOMAIN</th>
                        <th>TYPE</th>
                    </tr>
                </thead>
                <tbody>
                <?php
                   /* $i = 1;
                    while($row = $ORDER_DOMAINS->fetch_array()){
                        echo "<tr>";
                        echo "<td>".$i."</td>";
                        echo "<td>".htmlspecialchars($row[0])."</td>";
                        echo "<td>".htmlspecialchars($row[3])."</td>";
                        echo "<td>".htmlspecialchars($row[2])."</td>";
                        if($row[4] == "sub")
                            echo "<td>Free Subdomain</td>";
                        else if($row[4] == "own")
                            echo "<td>Own Domain</td>";
                        else if($row[4] == "rent")
                            echo "<td>Premium Domain Rented</td>";
                        echo "</tr>";
                        $i++;

                        if($row[4] == "rent"){
                            echo "<tr class='warning'>";
                            echo "<th colspan='5' style='text-align:center'>CORPORATE E-MAILS OF ".htmlspecialchars($row[2])."</th>";
                            echo "</tr>";

                            $sql = "SELECT * FROM emails_order_domain WHERE order_domain_id='".$row[0]."';";
                            $r2 = $orm->consultaPersonalizada($sql);
                            $i2 = 1;
                            while($row2 = $r2->fetch_array()){
                                echo "<tr>";
                                echo "<td>&nbsp;</td>";
                                echo "<td>&nbsp;</td>";
                                echo "<td>#".$i2."</td>";
                                echo "<td colspan='2' class='success'>".htmlspecialchars($row2[2])."</td>";
                                echo "</tr>";
                                $i2++;
                            }
                        }
                    }*/
                ?>
                <?php $i = 1; ?>
                <?php foreach($this->ORDER_DOMAINS as $ord_dom) { ?>
                  <tr>
                    <td><?php echo $i ?></td>
                    <td><?php echo htmlspecialchars($ord_dom['order_domain_id']) ?></td>
                    <td><?php echo htmlspecialchars($ord_dom['date_order']) ?></td>
                    <td><?php echo htmlspecialchars($ord_dom['domain']) ?></td>
                    <?php if($ord_dom['type_order']=='sub') { ?>
                      <td>Free Subdomain</td>
                    <?php } else if($ord_dom['type_order'] == "own") { ?>
                      <td>Own Domain</td>
                    <?php } else if($ord_dom['type_order'] == "rent") { ?>
                      <td>Premium Domain Rented</td>
                    <?php } ?>
                    <?php $i++ ?>
                  </tr>
                  
                  <?php if($ord_dom['type_order']=='rent') { ?>
                    <tr class='warning'>
                      <th colspan='5' style='text-align:center'>CORPORATE E-MAILS OF <?php echo htmlspecialchars($ord_dom['domain'])?></th>
                    </tr>
                    <?php $i2=1 ?>
                    <?php $em_doms = $this->emailDomains($ord_dom['order_domain_id']) ?>
                    <?php foreach($em_doms as $em_dom){ ?>
                      <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>#<?php echo $i2 ?></td>
                        <td colspan='2' class='success'><?php echo htmlspecialchars($em_dom['email_order'])?></td>
                      </tr>
                    <?php } ?>
                  <?php } ?>
                <?php } ?>
                </tbody>
            </table>
        </div>
    </div>
</div>