<?php if(isset($_GET['step']) && $_GET['step'] == 1 && !$this->EXISTS){ ?>
<div class="cont-form my-agency" style="display:block;">
  <div class="bar-form"><i class="material-icons">assignment</i>Choose A Plan
    <div class="close-form"><i class="material-icons">close</i></div>
  </div>
  <div class="row form-margin">
    <div class="col-md-12">
      <form action="/translator/myplan" method="POST">
          <div class="row">
                <center>
                  <table class="table table-hover">
                    <thead>
                      <tr>
                          <th>Plan Name</th>
                          <th>Description</th>
                          <th>Combiations</th>
                          <th>Expertises</th>
                          <th>Price</th>
                          <th>N°</th>
                      </tr>
                    </thead>
                    <tbody>
                      <?php foreach($this->PLANS as $row) { ?>

                        <tr>
                          <td><?php echo htmlspecialchars($row['name_plan']) ?></td>
                          <td><?php echo htmlspecialchars($row['desc_plan']) ?></td>
                          <td><?php echo htmlspecialchars($row['quan_plan']) ?></td>
                          <td><?php echo htmlspecialchars($row['expe_plan']) ?></td>
                          <td><?php echo htmlspecialchars($row['price_plan']) ?></td>
                          <td><input type="radio" name="idp" class='control control--radio' value="<?php echo htmlspecialchars($row['plan_id']) ?>" required></td>
                        </tr>
                      <?php } ?>
                      <?php
                          /*while($row = $PLANS->fetch_array()){
                              echo "<tr>";
                              echo "<td>".htmlspecialchars($row[1])."</td>";
                              echo "<td>".htmlspecialchars($row[2])."</td>";
                              echo "<td>".htmlspecialchars($row[3])."</td>";
                              echo "<td>".htmlspecialchars($row[5])."</td>";
                              echo "<td>".htmlspecialchars($row[4])."</td>";
                              echo "<td><input type='radio' name='idp' class='control control--radio' value='".htmlspecialchars($row[0])."' required></td>";
                              echo "</tr>";
                          }*/
                      ?>
                    </tbody>
                  </table>
                </center>
          </div>
          <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
              <input type="submit" name="step1" value="NEXT STEP" class="send">
            </div>
            <div class="col-md-4"></div>
          </div>
      </form>
      </div>
  </div>
  <?php
      }else if($this->EXISTS){
  ?>
  <div class="cont-form my-agency" style="display:block;">
    <div class="bar-form"><i class="material-icons">assignment</i>Selected Plan
      <div class="close-form"><i class="material-icons">close</i></div>
    </div>
    <div class="row form-margin">
      <div class="col-md-12">
            <div class="row">
                <table class="table table-bordered table-striped">
                    <tr>
                        <th>Plan Id</th>
                        <th>Plan Name</th>
                        <th>Combinations</th>
                        <th>Expertises</th>
                        <th>Price</th>
                    </tr>
                    <tr>
                        <td><?php echo htmlspecialchars($this->EXISTS['plan_id']);?></td>
                        <td><?php echo htmlspecialchars($this->EXISTS['name_plan']);?></td>
                        <td><?php echo htmlspecialchars($this->EXISTS['quan_plan'] );?></td>
                        <td><?php echo htmlspecialchars($this->EXISTS['expe_plan'] );?></td>
                        <td><?php echo htmlspecialchars($this->EXISTS['price_plan']);?></td>
                    </tr>
                    <tr>
                        <th colspan="3">Selected Combinations</th>
                        <th colspan="2">Selected Expertises</th>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <table class="table table-bordered table-striped">

                            <?php
                                /*$sql = "SELECT * FROM details_language_order_plan D, languages L1, languages L2 WHERE D.order_plan_id=".$this->EXISTS['order_plan_id']." AND D.leng_id_1=L1.lenguage_id AND D.leng_id_2=L2.lenguage_id;";

                                $r1 = $orm->consultaPersonalizada($sql);

                                while($row = $r1->fetch_array()){
                                    echo "<tr>";
                                    echo "<td>".htmlspecialchars($row['name_leng'])."</td>";
                                    echo "<td>Translate To</td>";
                                    echo "<td>".htmlspecialchars($row[7])."</td>";
                                    echo "</tr>";
                                }*/
                            ?>

                            <?php foreach($this->order_plan_id as $orp){ ?>
                              <tr>
                                <td><?php echo htmlspecialchars($orp['name_leng']) ?></td>
                                <td>Translate To</td>
                                <td><?php echo htmlspecialchars($orp['name_leng2']) ?></td>
                                <td><?php echo htmlspecialchars($orp['price']) ?></td>
                              </tr>
                            <?php } ?>
                            </table>
                        </td>
                        <td colspan="2">
                            <table class="table table-bordered table-striped">

                            <?php
                                /*$sql = "select * from details_expertise_order_plan D, expertises E WHERE order_plan_id=".$this->EXISTS['order_plan_id']." AND D.expe_id=E.expertise_id;";

                                $r1 = $orm->consultaPersonalizada($sql);

                                while($row = $r1->fetch_array()){
                                    echo "<tr>";
                                    echo "<td>".htmlspecialchars($row[4])."</td>";
                                    echo "</tr>";
                                }*/
                            ?>
                            <?php foreach($this->order_plan_id2 as $orp2){ ?>
                              <tr>
                                <td><?php echo htmlspecialchars($orp2['desc_expe']) ?></td>
                              </tr>
                            <?php } ?>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
  </div>

  <?php
      }else if($this->PLAN){
  ?>
  <div class="cont-form my-agency" style="display:block;">
    <div class="bar-form"><i class="material-icons">assignment</i>Selected Plan
      <div class="close-form"><i class="material-icons">close</i></div>
    </div>
    <div class="row form-margin">
      <div class="col-md-11">
          <div class="row">
              <form action="/translator/myplan" method="POST">
                  <input type="hidden" name="idp" value="<?php echo htmlspecialchars($this->PLAN['plan_id']);?>">
                  <h3 class="title">SELECTED PLAN (<?php echo htmlspecialchars($this->PLAN['name_plan']);?>)</h3>
                  <div class="row">
                      <div class="col-md-6">
                          <label>DESCRIPTION</label>
                          <br>
                          <div class="form-group">
                              <div class="icon-addon addon-lg">
                                  <textarea class="form-control" name="add" placeholder="" readonly><?php echo htmlspecialchars($this->PLAN['desc_plan']);?></textarea>
                                  <label class="fa fa-edit"></label>
                              </div>
                          </div>
                          <label>PRICE</label>
                          <br>
                          <div class="form-group">
                              <div class="icon-addon addon-lg">
                                  <input type="text" class="form-control" name="pri" minlength="5" placeholder="NAME" maxlength="50" required value="<?php echo htmlspecialchars($this->PLAN['price_plan']);?>" readonly>
                                  <label class="fa fa-edit"></label>
                              </div>
                          </div>
                      </div>


                      <div class="col-md-6">
                          <label>LANGUAGES COMBINATIONS</label>
                          <br>
                          <div class="form-group">
                              <div class="icon-addon addon-lg">
                                  <input type="text" class="form-control" id="combinations" name="pri" minlength="5" placeholder="name" maxlength="50" required value="<?php echo ($this->PLAN['quan_plan']==0)?'unlimited':htmlspecialchars($this->PLAN['quan_plan']);?>" readonly>
                                  <label class="fa fa-edit"></label>
                              </div>
                          </div>

                          <label>EXPERTISES</label>
                          <br>
                          <div class="form-group">
                              <div class="icon-addon addon-lg">
                                  <input type="text" class="form-control" id="expertises" name="pri" minlength="5" placeholder="name" maxlength="50" required value="<?php echo htmlspecialchars($this->PLAN['expe_plan']);?>" readonly>
                                  <label class="fa fa-edit"></label>
                              </div>
                          </div>
                      </div>
                  </div>

                  <br><br>
                  <div class="row">
                      <div class="col-md-8">
                          <h5 class="title">Select Languages To Combinations ( <?php echo htmlspecialchars($this->PLAN['quan_plan']);?> )</h5>
                          <div class="col-md-3">
                              <select id="len1" class="form-control">
                                  <option value="">---</option>
                                  <?php foreach($this->langs as $lang ) { ?>
                                    <option value="<?php echo htmlspecialchars($lang['lenguage_id'])?>"><?php echo htmlspecialchars($lang['name_leng'])?></option>
                                 <?php } ?>
                              </select>
                          </div>

                          <div class="col-md-1">
                              <b>TO</b>
                          </div>
                          <div class="col-md-3">
                              <select id="len2" class="form-control">
                                  <option value="">---</option>
                                 <?php foreach($this->langs as $lang ) { ?>
                                    <option value="<?php echo htmlspecialchars($lang['lenguage_id'])?>"><?php echo htmlspecialchars($lang['name_leng'])?></option>
                                 <?php } ?>
                              </select>
                          </div>
                          <div class="col-md-3">
                              <input type="text" class="form-control" value="" placeholder="Price" id="lang_price">
                          </div>
                          <div class="col-md-2">
                              <input type="button" class="send" value="Add" id="bt_selec">
                          </div>

                          <div class="col-md-12">
                              <hr>
                              <h5 class="title">Selected Combinations <b id="txt">0/<?php echo htmlspecialchars($this->PLAN['quan_plan']);?></b></h5>
                              <table class="table table-bordered">
                                  <tr>
                                      <th>------</th>
                                      <th>Translate To</th>
                                      <th>------</th>
                                      <th>PRICE</th>
                                      <th>-</th>
                                  </tr>
                                  <tbody id="combinations_selected">
                                  </tbody>
                              </table>
                          </div>

                      </div>
                      <div class="col-md-4">
                          <h5 class="title">Select Expertises ( <?php echo htmlspecialchars($this->PLAN['expe_plan']);?> )</h5>
                          <div class="col-md-8">
                              <select id="expertise" class="form-control">
                                  <option value="">---</option>
                                  <?php foreach($this->experts as $expert ) { ?>
                                    <option value="<?php echo htmlspecialchars($expert['expertise_id'])?>"><?php echo htmlspecialchars($expert['desc_expe'])?></option>
                                 <?php } ?>
                              </select>
                          </div>
                          <div class="col-md-4">
                              <input type="button" class="send" value="Add" id="bt_selec_expertise">
                          </div>
                          <div class="col-md-12">
                              <hr>
                              <h5 class="title">Selected Items <b id="txt_expertises">0/<?php echo htmlspecialchars($this->PLAN['expe_plan']);?></b></h5>
                              <table class="table table-bordered">
                                  <tr>
                                      <th>Selected Expertise</th>
                                      <th>-</th>
                                  </tr>
                                  <tbody id="expertises_selected">
                                  </body>
                              </table>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                      <input type="submit" value="Send My Plan Information" name="btgp" class="send">
                    </div>
                    <div class="col-md-4"></div>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>
</div>
<?php
    }
?>

<script>
    $(document).on('ready', function(){

        $("#bt_selec").on('click', function(){

            var len1 = $("#len1 option:selected").val().trim();
            var lent1 = $("#len1 option:selected").text().trim();
            

            if(len1 == ""){
                alert("You have to select one language.");
                return;
            }

            var len2 = $("#len2 option:selected").val().trim();
            var lent2 = $("#len2 option:selected").text().trim();

            if(len2 == ""){
                alert("You have to select one language.");
                return;
            }

            if(len1 == len2){
                alert("You have to choose different langueges.");
                return;
            }
            
            var lang_price = $("#lang_price").val();
            
            if(lang_price == 0 || lang_price == ''){
                alert("You must specify the price.");
                return;
            }
            
            var html = "<tr class='row_selected'>";
            html+= "<td >" + lent1 + "</td>";
            html+= "<td style='text-align:center'><i class='fa fa-mail-forward'></i></td>";
            html+= "<td>" + lent2 + "</td>";
            html+= "<td>" + lang_price + "</td>";
            html+= "<td><input type='button' class='drop bt_delete' value=' X '>";
            html+= "<input type='hidden' class='id1' name='len1[]' value='"+len1+"'>";
            html+= "<input type='hidden' class='id2' name='len2[]' value='"+len2+"'></td>";
            html+= "<input type='hidden' class='prl' name='pric[]' value='"+lang_price+"'></td>";
            html+= "</tr>";

            var total = $("#combinations").val();
            var n = $(".row_selected").length;

            if(n < total){
                var value = true;
                $(".row_selected").each(function(){
                    var id1 = $(this).find("input.id1").val();
                    var id2 = $(this).find("input.id2").val();
                    if(len1 == id1 && len2 == id2){
                        alert("This combination already exists.");
                        value = false;
                    }
                });
                if(value){
                    $("#txt").text((n+1)+"/"+total);
                    $("#combinations_selected").append(html);
                 }
            }else{
                alert("You have only "+total+" combinations.");
                return;
            }
        });

        $(document).on('click', '.bt_delete', function(){
            if(confirm('Are you sure?')){
                $(this).parent().parent().remove();
                var total = $("#combinations").val();
                var n = $(".row_selected").length;
                $("#txt").text(n+"/"+total);
            }
        });


        $("#bt_selec_expertise").on('click', function() {
            var exp = $("#expertise option:selected").val().trim();
            var expt = $("#expertise option:selected").text().trim();

            if(exp == ""){
                alert("You have to select one expertise.");
                return;
            }

            var html = "<tr class='row_selected_expertise' id='row_"+exp+"'>";
            html+= "<td >" + expt + "</td>";
            html+= "<td><input type='button' class='drop bt_delete_expertise' value=' X '>";
            html+= "<input type='hidden' class='' name='expe[]' value='"+exp+"'>";
            html+= "</tr>";

            var total = $("#expertises").val();
            var n = $(".row_selected_expertise").length;

            if(n < total){
                if($("#row_"+exp).length == 1){
                    alert("This expertise already exists");
                    return;
                }
                $("#txt_expertises").text((n+1)+"/"+total);
                $("#expertises_selected").append(html);
            }else{
                alert("You have only "+total+" expertises.");
                return;
            }
        });

        $(document).on('click', '.bt_delete_expertise', function(){
            if(confirm('Are you sure?')){
                $(this).parent().parent().remove();
                var total = $("#expertises").val();
                var n = $(".row_selected_expertise").length;
                $("#txt_expertises").text(n+"/"+total);
            }
        });
    });

</script>