<div class="cont-form my-agency" style="display:block;">
  <div class="bar-form"><i class="material-icons">tab</i>Set Up My Website
    <div class="close-form"><i class="material-icons">close</i></div>
  </div>
  <div class="row form-margin">
    <form id="change_template" method="post" action="" >
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <label class="control control--radio">
            Template 1
            <input type="radio" <?=($this->trans['templ_id'] == 1)?'checked="checked"':''?>  id="temp_1" name="temp" required value="1"/>
            <div class="control__indicator"></div><br><br>
            <img src="/images/temp_1.jpg" width="100%">
          </label>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <label class="control control--radio">Template 2
            <input type="radio" <?=($this->trans['templ_id'] == 2)?'checked="checked"':''?> id="temp_2" name="temp" required value="2"/>
            <div class="control__indicator"></div><br><br>
            <img src="/images/temp_2.jpg" width="100%">
          </label>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <label class="control control--radio">Template 3
            <input type="radio" <?=($this->trans['templ_id'] == 3)?'checked="checked"':''?> id="temp_2" name="temp" value="3"/>
            <div class="control__indicator"></div><br><br>
            <img src="/images/temp_3.jpg" width="100%">
          </label>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <br><br>
          <input type="submit" class="send" value="Save" />
        </div>
        <div class="col-md-4"></div>
      </div>
    </form>

<br><br>
    <?php if($this->checkTempId()) { ?>
      <div class="row section-visit">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <a href="/translator/look-site/">
            <div class="blue"> <i class="material-icons">language</i> <div class="detall">Visit My Website</div> </div>
          </a>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <a href="/translator/look-site/?edit=1">
            <div class="red"> <div class="detall"><i class="material-icons">home</i>Edit Homepage </div> </div>
          </a>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <a href="/translator/look-site/?edit=1&temp_id=3">
            <div  class="green"><i class="material-icons">shopping_cart</i>  <div class="detall"> Edit Order Page </div></div>
          </a>
        </div>
      </div>
    <?php } else { ?>
      <p>You did not select a template - make your choice</p>
    <?php } ?>

    <br><br>
    <form action="" method="post" id="edit_meta">
      <center>
        <div class="col">
          <h1>Keep Your SEO Optimized</h1>
        </div>
        <div class="col">
          <label for="temp_1">Title</label>
          <br />
          <input type="text" id="title" name="title" value="<?php echo $this->templates('getMeta','title'); ?>"><br />
        </div>
        <div class="col">
          <label for="temp_1">Meta Description</label>
          <br />
          <input type="text" id="meta_desc" name="meta_desc" value="<?php echo $this->templates('getMeta', 'meta_desc') ?>"><br />
        </div>
        <div class="col">
          <label for="temp_1">Meta Keywords</label>
          <br />
          <input type="text" id="meta_key" name="meta_key" value="<?php echo $this->templates('getMeta', 'meta_key') ?>"><br />
          <p class="res"></p>
        </div>
      </center>
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4"><br><input type="submit" class="send" value="Save" /></div>
        <div class="col-md-4"></div>
      </div>
    </form>
    
    <form action="" method="post">
      <center>
        <div class="col">
          <h1>Language site</h1>
        </div>
        
        <div class="col">
          <select name="lang_id">
            <?php foreach($this->langs as $lang){ ?>
            <option <?=($lang['lenguage_id'] == $this->trans['site_lang_id']) ? 'selected="selected"' : ''?> value="<?=$lang['lenguage_id']?>"><?=$lang['name_leng']?></option>
            <?php } ?>
          </select> 
        </div>
        
      </center>
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4"><br><input type="submit" name="save_lang" class="send" value="Save" /></div>
        <div class="col-md-4"></div>
      </div>
    </form>
    
    <hr />
    
    <h3>Lightbox</h3>
    
    <form action="/translator/save-lightbox" method="post">
      <div class="row">
        <div class="col-lg-12">
          <label for="modal1">About</label>
          <textarea id="modal1" rows="5" style="height:100px" name="modal1"><?=$this->checkData($this->metaData,'modal1','About')?></textarea>
          <div class="col-lg-6">
          <label for="modal1_close">Close</label>
          <input type="text" name="modal1_close" id="modal1_close" value="<?=$this->checkData($this->metaData,'modal1_close','Close')?>" />
          </div>
          <div class="col-lg-6">
            <label for="modal1_order">Order now</label>
            <input type="text" name="modal1_order" id="modal1_order" value="<?=$this->checkData($this->metaData,'modal1_order','Order now')?>" />
          </div>
        </div>
      </div>
      
      <hr />
      <div class="row">
        <div class="col-lg-12">
          <label for="modal2">F.A.Q</label>
          <textarea id="modal2" rows="5" style="height:100px" name="modal2"><?=$this->checkData($this->metaData,'modal2','F.A.Q')?></textarea>
          <div class="col-lg-6">
          <label for="modal2_close">Close button</label>
          <input type="text" name="modal2_close" id="modal2_close" value="<?=$this->checkData($this->metaData,'modal2_close','Close')?>" />
          </div>
          <div class="col-lg-6">
          <label for="modal2_order">Order now</label>
          <input type="text" name="modal2_order" id="modal2_order" value="<?=$this->checkData($this->metaData,'modal2_order','Order now')?>" />
          </div>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-lg-12">
          <label for="modal3">How does it work</label>
          <textarea id="modal3" rows="5" style="height:100px" name="modal3"><?=$this->checkData($this->metaData,'modal3','How does it work')?></textarea>
          <div class="col-lg-6">
          <label for="modal3_close">Close button</label>
          <input type="text" name="modal3_close" id="modal3_close" value="<?=$this->checkData($this->metaData,'modal3_close','Close')?>" />
          </div>
          <div class="col-lg-6">
          <label for="modal3_order">Order now</label>
          <input type="text" name="modal3_order" id="modal3_order" value="<?=$this->checkData($this->metaData,'modal3_order','Order now')?>" />
          </div>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-lg-12">
          <label for="modal4">Project Manager</label>
          <textarea id="modal4" rows="5" style="height:100px" name="modal4"><?=$this->checkData($this->metaData,'modal4','Project Manager')?></textarea>
          <div class="col-lg-6">
          <label for="modal4_close">Close button</label>
          <input type="text" name="modal4_close" id="modal4_close" value="<?=$this->checkData($this->metaData,'modal4_close','Close')?>" />
          </div>
          <div class="col-lg-6">
          <label for="modal4_order">Order now</label>
          <input type="text" name="modal4_order" id="modal4_order" value="<?=$this->checkData($this->metaData,'modal4_order','Order now')?>" />
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4"><br><input type="submit" class="send" value="Save" /></div>
        <div class="col-md-4"></div>
      </div>
      
    </form>
      
    </div>

  </div>
</div>
<script>
$(document).ready(function(){
  $('#change_template').submit(function(){
    var data = $(this).serialize();
    $.post('/translator/change-templ', data, function(json){
        if(json.result == true)
        {
            location.reload(true);
        }
    },  'json');
    return false;
  });
  
  $('#edit_meta').submit(function(){
    var data = $(this).serialize();
    $.post('/translator/change-meta', data, function(json){
        if(json.result == true)
        {
          $('.res').text('Data saved');
            //location.reload(true);
        }
    },  'json');
    return false;
  });
  
});
</script>