<div class="cont-form my-agency" style="display:block;">
  <div class="bar-form"><i class="material-icons">assignment</i>Order
    <div class="close-form"><i class="material-icons">close</i></div>
  </div>
  
  <div class="row form-margin">
    <div class="col-md-10 col-md-offset-1">
      <div class="row">
        <table class="table">
          <tr>
            <th><?=$this->orders['sourse']?></th>
            <th>-></th>
            <th><?=$this->orders['dest']?></th>
          </tr>
        </table>
      </div>
    </div>
  </div>
  
  <div class="row form-margin">
    <div class="col-md-10 col-md-offset-1">
      <div class="row">
        <table class="table">
          <tr>
            <th>Files name</th>
            <th></th>
          </tr>
          <?php if(!empty($this->files)) { ?>
            <?php foreach($this->files as $file){ ?>
              <tr>
                <td><?=$file['last_name']?></td>
                <td><a href="/uploads/<?=$this->trans_id?>/<?=$file['name_file']?>" download >Download</a></td>
              </tr>
            <?php } ?>
          <?php } else { ?>
            <tr>
              <td colspan="4">No files</td>
            </tr>
          <?php } ?>
        </table>
      </div>
    </div>
  </div>
</div>