<div class="cont-form my-agency" style="display:block;">
  <div class="bar-form"><i class="material-icons">assignment</i>My Domains
    <div class="close-form"><i class="material-icons">close</i></div>
  </div>
  
  <div class="row form-margin">
    <div class="col-md-10 col-md-offset-1">
      <div class="row">

        <table class="table table-hover" >
          <thead>
            <tr>
              <th>N°</th>
              <th>Order Id</th>
              <th>Order Date</th>
              <th>My Domain</th>
              <th>Type</th>
            </tr>
          </thead>
        
        <tbody>
        
          <?php $i = 1; ?>
          <?php foreach($this->ORDER_DOMAINS as $ord_dom) { ?>
          
          <tr>
            <td><?php echo $i ?></td>
            <td><?php echo htmlspecialchars($ord_dom['order_domain_id']) ?></td>
            <td><?php echo htmlspecialchars($ord_dom['date_order']) ?></td>
            <td><?php echo htmlspecialchars($ord_dom['domain']) ?></td>
            
            <?php if($ord_dom['type_order']=='sub') { ?>
              <td>Free Subdomain</td>
            <?php } else if($ord_dom['type_order'] == "own") { ?>
              <td>Own Domain</td>
            <?php } else if($ord_dom['type_order'] == "rent") { ?>
              <td>Premium Domain Rented</td>
            <?php } ?>
            
            <?php $i++ ?>
          </tr>
  
          <?php if($ord_dom['type_order']=='rent') { ?>
            <tr class='warning'>
              <th colspan='5' style='text-align:center'>Corporate Emails Of <?php echo htmlspecialchars($ord_dom['domain'])?></th>
            </tr>
            <?php $i2=1 ?>
            <?php $em_doms = $this->emailDomains($ord_dom['order_domain_id']) ?>
            
            <?php foreach($em_doms as $em_dom){ ?>
              <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>#<?php echo $i2 ?></td>
                <td colspan='2' class='success'><?php echo htmlspecialchars($em_dom['email_order'])?> <a href="/translator/domain-email-edit?id=<?=$em_dom['email_order_id']?>">(Edit)</a></td>
              </tr>
            <?php } ?>
            
          <?php } ?>
          
        <?php } ?>
        </tbody>
        
      </table>
    </div>
    <br>
    <br>
    
    <div class="row">
      <form action="/translator/orderdomain" method="POST">
        <h1>Order Domain</h1>
        
        <label>Options</label>
        <input type="hidden" name="type" id="set_type" />
        <select id="type" class="form-control" required >
          <option value="">----</option>
          <option value="sub">Free Subdomain</option>
          <option value="rent">Rent a Domain</option>
          <option value="own">Use my Own Domain</option>
        </select>
        
        <br><br>
                
          <div id="cont_sub" style="display:none;">
            <label>Write your subdomain</label>
            <input type="text" name="dom_sub" class="form-control" required minlength="4" maxlength="300" placeholder="Write your subdomain">
            <br>
            <label>Write your Email</label>
            <input type="email" name="ema_sub" class="form-control" required minlength="5" maxlength="200" placeholder="Write your email">
          </div>
        
          <div id="cont_rent" style="display:none;">
            <label>Select your Premium Domain</label>
            <select name="dom_rent" id="dom_rent" required class="form-control">
              <option value="">----</option>
          
              <?php foreach($this->domains as $domain) { ?>
                <option value="<?php echo $domain['domain_id'] ?>"><?php echo $domain['name_dom'] ?></option>
              <?php } ?>
          
            </select>
            <br>
          
            <label>Write yours Corporate E-Mails</label>
            <div class="row" id="cont_email_rented" style="margin:0px;">
              <div class="row">
                <div class="col-md-5">
                  <input type="text" name="ema_rent[]" required minlength="2" maxlength="50" placeholder="Example: info" class="form-control">
                </div>
                <div class="col-md-7">
                  <span class="txt_email"></span>
                </div>
              </div>
              <br>
              
              <input type="button" id="bt_add_email" value="Add New Email" class="send">
            </div>
          </div>
        
          <div id="cont_own" style="display:none;">
            <label>Write your Own Domain</label>
            <input type="text" name="dom_own" class="form-control" required minlength="4" maxlength="300" placeholder="Write your subdomain">
            <br>
            
            <label>Write your Email</label>
            <input type="email" name="emasub" class="form-control" required minlength="5" maxlength="200" placeholder="Write your email">
          </div>
        
          <center>
            <br><br>
            <input type="submit" name="btg" value="Send Domain Information" class="send">
          </center>
          
        </form>
      </div>
    </div>
  </div>
</div>

<script>
    $(document).on('ready', function(){

        $("#type").on('change', function(){
            var type = $("#type option:selected").val();
            $(this).attr('disabled', true);
            $("#set_type").val(type); 

            if(type == "sub"){
                $("#cont_own").remove(); 
                $("#cont_rent").remove(); 
                $("#cont_sub").show();
            }else if(type =="own"){
                $("#cont_sub").remove(); 
                $("#cont_rent").remove(); 
                $("#cont_own").show();
            }else if(type =="rent"){
                $("#cont_sub").remove(); 
                $("#cont_own").remove(); 
                $("#cont_rent").show();
            }
        });

        $("#dom_rent").on('change', function(){
            var dom = $("#dom_rent option:selected").val();
            var domt = $("#dom_rent option:selected").text();

            $(".txt_email").each(function(){
                $(this).text('@'+domt);
            });
        });

        $("#bt_add_email").on('click', function(){
            var domt = $("#dom_rent option:selected").text();
            var html = "";
            html+= "<div class='row'>";
            html+= "    <div class='col-md-5'>";
            html+= "        <input type='text' name='ema_rent[]' required minlength='2' maxlength='50' placeholder='Example: thenameofmyagency' class='form-control'>";
            html+= "    </div>";
            html+= "    <div class='col-md-5'>";
            html+= "        <span class='txt_email'>@"+domt+"</span>";
            html+= "    </div>";
            html+= "    <div class='col-md-2'>";
            html+= "       <input type='button' class='btn btn-danger bt_remove' value='Remove'>";
            html+= "    </div>";
            html+= "</div><hr>";
            $("#cont_email_rented").prepend(html);
        });

        $(document).on('click', '.bt_remove', function(){
            $(this).parent().parent().remove();
        });
    });

</script>