<div class="cont-form my-agency" style="display:block;">
  <div class="bar-form"><i class="material-icons">assignment</i>Orders
    <div class="close-form"><i class="material-icons">close</i></div>
  </div>
  
  <div class="row form-margin">
    <div class="col-md-10 col-md-offset-1">
      <div class="row">
        <table class="table">
          <tr>
            <th>Order ID</th>
            <th>Customer name</th>
            <th>Customer email</th>
            <th>Price paid by Customer</th>
          </tr>
          <?php if(!empty($this->orders)) { ?>
            <?php foreach($this->orders as $order){ ?>
              <tr>
                <td><a href="/translator/order/?id=<?=$order['id']?>"><?=$order['id']?></a></td>
                <td><?=$order['name_cus']?></td>
                <td><?=$order['email_cus']?></td>
                <td><?=$order['price']?></td>
              </tr>
            <?php } ?>
          <?php } else { ?>
            <tr>
              <td colspan="4">No orders</td>
            </tr>
          <?php } ?>
        </table>
      </div>
    </div>
  </div>
</div>