<div class="cont-form my-agency" style="display:block;">
  <div class="bar-form"><i class="material-icons">assignment</i>Settings
    <div class="close-form"><i class="material-icons">close</i></div>
  </div>
  
  <div class="row form-margin">
    <div class="col-md-10 col-md-offset-1">
      <div class="row">
        <form action="" method="post">
          <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
              <?php if(isset($this->error)){ ?>
                <p style="text-align: center;color: #f00;"><?=$this->error?></p>
              <?php } ?>
              <?php if(isset($this->res)){ ?>
                <p style="text-align: center;color: #080;"><?=$this->res?></p>
              <?php } ?>
            
              <div class="row">
                <label for="pswd">Old password</label>
                <input type="password" class="form-control" id="pswd" name="pswd" />
              </div>
              <div class="row">
                <label for="newpswd">New password</label>
                <input type="password" class="form-control" id="newpswd" name="newpswd" />
              </div>
              <div class="row">
                <label for="conwpswd">Confirm password</label>
                <input type="password" class="form-control" id="conwpswd" name="conwpswd" />
              </div>
              
              <div class="row">
                <div class="col-lg-12">
                  <input type="submit" class="send" value="Save" />
                </div>
                
              </div>
            </div>
            <div class="col-lg-4"></div>
          </div>
          
        </form>
      </div>
    </div>
  </div>
</div>