<div class="col-sm-3"></div>
<div class="col-sm-6">
  <div class="bgcg">
    
    <div class="panel-tittle">
      <h4>Change Password</h4>
    </div>
    
    <div class="panel-txt">
      <form action="" method="post">
        <label for="lastpass">Old password</label>
        <input type="password" class="form-control" name="lastpass" id="lastpass" />
        <br>
        <label for="newpass">New password</label>
        <input type="password" class="form-control" name="newpass" id="newpass" />
        <br>
        <label for="confpass">Confirm password</label>
        <input type="password" class="form-control" name="confpass" id="confpass" />
        <br>
        <input type="submit" class="btn btn-block btn-success" value="Change" />
      </form>
    </div>
    
  </div>
</div>
<div class="col-sm-3"></div>