<div class="col-sm-3"></div>
<div class="col-sm-6">
  <div class="bgcg">
    
    <div class="panel-tittle">
      <h4>Personal Details</h4>
    </div>
    
    <div class="panel-txt">
      <p>Full name: <span><?=$this->custData['name_cus']?> <?=$this->custData['last_name_cus']?></span></p>
      <p>E-mail: <span><?=$this->custData['email_cus']?></span></p>
      <p>Password: <span><a href="/user/changepassword/" class="che-pass">Click to change password</a></span></p>
    </div>
    
  </div>
</div>
<div class="col-sm-3"></div>
 
 
  