<div class="col-sm-3"></div>
<div class="col-sm-6">
  <div class="bgcg">
    
    <div class="panel-tittle">
      <h4>Authorisation form</h4>
    </div>
    
    <div class="panel-txt">
      <?php if(isset($this->error)) { ?>
				<b>The Login or Password is invalid.</b>
			<?php } ?>
      <form action="/user/login" method="post">
        <label for="login">Login</label>
        <input type="text" class="form-control" name="login" id="login" />
        <br>
        <label for="password">Password</label>
        <input type="password" class="form-control" name="password" id="password" />
        <br>
        <input type="submit" class="btn btn-block btn-success" value="Login" />
      </form>
    </div>
    
  </div>
</div>
<div class="col-sm-3"></div>