<div class="col-sm-3"></div>
<div class="col-sm-6">
  <div class="bgcg">
    <div class="panel-tittle">
      <h4>No such order</h4>
    </div><!-- panel-tittle -->
    <div class="panel-txt">
              
      <p>On such request is not orders</p>
                
    </div><!-- panel-txt -->
  </div>
</div>
<div class="col-sm-3"></div>
 
 
  