<div class="col-sm-3"></div>
<div class="col-sm-6">
  <div class="bgcg">
    <div class="panel-tittle">
      <h4>Work ID: <?=$this->order['id']?></h4>
    </div><!-- panel-tittle -->
    <div class="panel-txt">
              
      <p>Submission Date: <span><?=$this->setDateFormat($this->order['date_order'],'d/n/Y')?></span></p>
      <p>Due Date: <span><?=$this->setDateFormat($this->order['due_date'],'d/n/Y')?></span></p>
      <p>Language: <span>from <?=$this->order['sourse']?> to <?=$this->order['dest']?></span></p>
  
      <p>Price: <span><?=$this->order['price']?> USD</span></p>
      <p>Status: <span><?=$this->order['work_status'];?>%</span></p>
      <p>Original Files:</p>
      
      <ul>
        <?php foreach($this->files as $file) { ?>
          
          <li>
          <?php if($file['name_file'] != 0) { ?>
            <a class="file-text" target="_blank" href="/uploads/<?=$this->order['trans_id'];?>/<?=$file['name_file']?>" download><?=$file['last_name']?></a>
          <?php } else { ?>
            <b><?=$file['last_name']?></b> - in processing
          <?php } ?>
          </li>
          
        <?php } ?>
      </ul>

      <?php
        $relative_path = '/translated/'.($this->order['id']);
        $translated_files_dir = getcwd().$relative_path;
        if (is_dir($translated_files_dir)) {
          echo "<p>Returned Files (from translator):</p>";

          echo "<ul>";
          if ($handle = opendir($translated_files_dir)) {
              while (false !== ($entry = readdir($handle))) {
                 if ($entry != '..' && $entry != '.')
                   echo "<li><a class='file-text' target='_blank' href='$relative_path/$entry' download>$entry</a></li> ";
              }
          }
          echo "</ul>";
        }
      ?>
                
    </div><!-- panel-txt -->
  </div>
</div>
<div class="col-sm-3"></div>
 
 
  