<div class="bgcg">
    <div class="panel-tittle">
      <h4>Open jobs</h4>
    </div><!-- panel-tittle -->
    <div class="panel-txt">
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
          <tr>
            <th>ID</th>
            <th>Submission Date</th>
            <th>Acknowledge</th>
            <th>DUE Date</th>
            <th>SRC Lang</th>
            <th>DST Lang</th>
            <th>Price</th>
          </tr>
          </thead>
          <tbody>
            <?php foreach($this->orders as $order) {?>
            <tr>
              <td>
                <a href="/user/orders/?id=<?=$order['id']?>" class="id-job"><?=$order['id']?></a>
              </td>
              <td>
                <span><?=$this->setDateFormat($order['date_order'],'d/n/Y H:i:s')?></span>
              </td>
              <td>
                <span>N/A</span>
              </td>
              <td>
                <span><?=$this->setDateFormat($order['due_date'],'d/n/Y')?></span>
              </td>
              <td>
                <span><?=$order['sourse']?></span>
              </td>
              <td>
                <span><?=$order['dest']?></span>
              </td>
              <td>
                <span><?=$order['price']?> USD</span>
              </td>
            </tr>
            <?php } ?> 
          </tbody>
        </table>
      </div><!-- table-responsive -->
    </div><!-- panel-txt -->
  </div>