<?php if(isset($_GET['form'])){ ?>

<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<form action="?op=translators" method="POST">
			<div class="row">
		        <h2 class="title">Module of Agencys</h2>
                    <div class="col-md-6">
                        <a href="/admin/agensy-clients?id=<?=$this->ag['agency_id']?>" class="btn btn-info">Export a list of clients</a><br />
                        <?php
                            if(isset($this->ag)){
                                echo "<input type='hidden' name='ida' value='".htmlspecialchars($this->ag['agency_id'])."'>";
                                echo "<label>AGENCY ID: ".htmlspecialchars($this->ag['agency_id'])."</label>";
                                echo "<br>";
                            }
                        ?>
                        <label>AGENCY NAME</label>
                        <br>
                        <div class="form-group">
                            <div class="icon-addon addon-lg">
                                <input type="text" class="form-control" name="nam" minlength="5" placeholder="NAME" maxlength="50" required value="<?php echo htmlspecialchars($this->ag['name_agen']);?>">
                                <label class="fa fa-edit"></label>
                            </div>
                        </div>

                        <label>ADDRESS AGENCY</label>
                        <br>
                        <div class="form-group">
                            <div class="icon-addon addon-lg">
                                <textarea class="form-control" name="add" placeholder="ADDRESS ANGENCY"><?php echo $this->ag['addr_agen'];?></textarea>
                                <label class="fa fa-edit"></label>
                            </div>
                        </div>

                        <label>PHONE NUMBER (1)</label>
                        <br>
                        <div class="form-group">
                            <div class="icon-addon addon-lg">
                                <input type="text" class="form-control" name="ph1" minlength="5" placeholder="PHONE NUMBER (1)" maxlength="15" required value="<?php echo htmlspecialchars($this->ag['phon_agen']);?>">
                                <label class="fa fa-edit"></label>
                            </div>
                        </div>

                        <label>PHONE NUMBER (2)</label>
                        <br>
                        <div class="form-group">
                            <div class="icon-addon addon-lg">
                                <input type="text" class="form-control" name="ph2" minlength="5" placeholder="PHONE NUMBER (2)" maxlength="15" value="<?php echo htmlspecialchars($this->ag['pho2_agen']);?>">
                                <label class="fa fa-edit"></label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label>SCAN ID</label>
                        <br>
                        <div class="form-group">
                            <div class="icon-addon addon-lg">
                                <input type="text" class="form-control" name="sca" minlength="4" placeholder="SCAN ID" maxlength="25" required value="<?php echo htmlspecialchars($this->ag['id_scan_agen']);?>">
                                <label class="fa fa-edit"></label>
                            </div>
                        </div>

                        <label>TRANSLATE CERTIFICATE</label>
                        <br>
                        <div class="form-group">
                            <div class="icon-addon addon-lg">
                                <input type="text" class="form-control" name="cer" minlength="4" placeholder="TRANSLATE CERTIFICATE" maxlength="25" required value="<?php echo htmlspecialchars($this->ag['tran_cert_agen']);?>">
                                <label class="fa fa-edit"></label>
                            </div>
                        </div>

                        <label>PAYMENT METHOD</label>
                        <br>
                        <div class="form-group">
                            <div class="icon-addon addon-lg">
                                <select name="pay" class="form-control">
                                    <option value="">----</option>
                                    <option <?php if($this->ag['way_pay_agen'] == 'Paypal') echo 'selected';?>>Paypal</option>
                                    <option <?php if($this->ag['way_pay_agen'] == 'Payoneer') echo 'selected';?>>Payoneer</option>
                                    <option <?php if($this->ag['way_pay_agen'] == 'Skrill') echo 'selected';?>>Skrill</option>
                                </select>
                                <label class="fa fa-edit"></label>
                            </div>
                        </div>

                        <label>EMAIL TO RECEIVE PAYMENT</label>
                        <br>
                        <div class="form-group">
                            <div class="icon-addon addon-lg">
                                <input type="email" class="form-control" name="ema" minlength="4" placeholder="EMAIL TO RECEIVE PAYMENT" maxlength="25" required value="<?php echo htmlspecialchars($this->ag['email_pay_agen']);?>">
                                <label class="fa fa-edit"></label>
                            </div>
                        </div>
                        <?php
                            if(isset($this->ag)){
                                echo "<br>";
                                echo "<label>STATUS AGENCY: ".htmlspecialchars($this->ag['stat_agen'])."</label>";
                                echo "<br><label>OWNER:".htmlspecialchars($this->ag['email_r'])." </label>";
                            }
                        ?>
                    </div>

			</div>
		</form>
	</div>
</div>
<?php
    }else{
?>
	<h2 class="title">List of Agencys</h2>

	<table id="myTable" class="display table ">
		<thead>
			<tr>
				<th>#</th> 
				<th>OWNER EMAIL</th> 
				<th>AGENCY NAME</th> 
				<th>PHONE NUMBER</th> 
				<th>STATUS AGENCY</th> 
				<th>WAY TO PAYMENT</th> 
				<th>---</th> 
			</tr>
		</thead>
		<tbody>

    <?php $i=1 ?>
    <?php foreach($this->ag as $ag) { ?>
      <tr>
        <td><?= $i ?></td>
        <td><a href="/admin/translators?form&ver=<?php echo htmlspecialchars($ag['email_r'])?> " class="btn btn-info fa fa-eye"><?php echo htmlspecialchars($ag['email_r']) ?></a></td>
        <td><?php echo htmlspecialchars($ag['name_agen']) ?></td>
        <td><?php echo htmlspecialchars($ag['phon_agen']) ?></td>
        <td><?php echo htmlspecialchars($ag['stat_agen']) ?></td>
        <td><?php echo htmlspecialchars($ag['way_pay_agen']) ?></td>
        <td><a href="/admin/agencys?form&ver=<?php echo htmlspecialchars($ag['agency_id'])?> " class="btn btn-info fa fa-eye">VIEW</a></td>
      </tr>
      <?php $i++ ?>
    <?php } ?>
		</tbody>
	</table>

<?php

    }

?>