<div class="row">
  <div class="col-lg-3"></div>
  <div class="col-lg-6">
    <form action="/admin/code" method="post">
      <div class="row">
        <div class="col-lg-12">
          <label for="code">Code</label>
          <input type="text" class="form-control" name="code" id="code" value="<?=$this->code?>" />
        </div>
      </div>
      <br />
      
      <div class="row">
        <div class="col-lg-12">
          <input type="radio" checked="checked" name="status" id="status_1" value="1" />
          <label for="status_1">Active</label>
        </div>
      </div>
      
      <div class="row">
        <div class="col-lg-12">
          <input type="radio" name="status" id="status_0" value="0" />
          <label for="status_0">Not active</label>
        </div>
      </div>
      <br />
      
      <div class="row">
        <div class="col-lg-12">
          <input type="submit" class="btn btn-block btn-primary" value="Save" />
        </div>
      </div>
    </form>
  </div>
  <div class="col-lg-3"></div>
</div>