<div class="row">
  <div class="col-lg-12">
    <div class="row">
      <div class="col-lg-12">
        <a href="/admin/code?generate=1" class="btn btn-primary">Generate code</a>
      </div>
    </div>
    <br />
    <table class="table">
      <tr>
        <th>ID</th>
        <th>CODE</th>
        <th>STATUS</th>
        <th></th>
      </tr>
      <?php if(!empty($this->codes)){ ?>
      <?php foreach($this->codes as $code){ ?>
        <tr>
          <td><?=$code['id']?></td>
          <td><?=$code['code']?></td>
          <td style="color: <?=($code['status']==1)?'':'#f00'?>;"><?=($code['status']==1)?'Active':'not active'?></td>
          <td><a href="/admin/code?id=<?=$code['id']?>">Edit</a></td>
        </tr>
      <?php } ?>
      <?php }else{ ?>
      <tr>
        <td colspan="4">No code for registration</td>
      </tr>
      <?php } ?>
    </table>
  </div>
</div>