<?php if(isset($_GET['form'])){ ?>
		<form action="/admin/domains" method="POST">
			<div class="row">
        <h2>Module of Domains</h2>
				<section>
						<div class="">
							<div class="tab-pane" role="tabpanel" id="complete">
								<div class="step1">
									<div >
										<?php
											if($this->dom){
										?>
										<label>DOMAIN ID</label>
										<br>
										<div class="form-group">
											<div class="icon-addon addon-lg">
												<input type="text" class="form-control" name="id" minlength="2" placeholder="" maxlength="10" value="<?php echo htmlspecialchars($this->dom['domain_id']);?>" required <?php echo ($this->dom)?'readonly':'';?>>
											</div>
										</div>
										<?php
										}
										?>
                    <label>DOMAIN</label>
                    <br>
                    <div class="form-group">
                        <div class="icon-addon addon-lg">
                            <input type="text" class="form-control" name="nam" minlength="3" placeholder="DOMAIN" maxlength="" required value="<?php echo htmlspecialchars($this->dom['name_dom']);?>">
                        </div>
                    </div>
									</div>
								</div>

								<div class="step44">
									<label>PRICE OF YEAR</label>
									<br>
									<div class="form-group">
										<div class="icon-addon addon-lg">
											<input type="number" class="form-control" name="pri" minlength="3" placeholder="PRICE" maxlength="3" required value="<?php echo htmlspecialchars($this->dom['price_dom']);?>">
										</div>
									</div>

									<label>STATUS</label>
									<br>
									<div class="form-group">
										<div class="icon-addon addon-lg">
                    <select name="sta" class="form-control" required>
                        <option value="">---</option>
                        <option <?php if($this->dom['stat_dom'] == "AVAILABLE") echo "selected";?> value="AVAILABLE">AVAILABLE</option>
                        <option <?php if($this->dom['stat_dom'] == "RENTED") echo "selected";?> value="RENTED">RENTED</option>
                    </select>
										</div>
									</div>
								</div>
								<center>
									<?php
										if(isset($this->dom)){
									?>
									<input type="submit" name="btc" class="btn btn-success fa fa-save" value="SAVE CHANGES">
									<a href="/admin/domains?ele=<?php echo htmlspecialchars($this->dom['domain_id']);?>" class="btn btn-danger fa fa-trash-o" onclick="return confirm('Are you sure?');">DELETE</a>
									<?php
										}else{
									?>
									<button type="submit" class="btn btn-success fa fa-save" name="btg"> SUBMIT INFORMATION</button>
									<?php
										}
									?>
									<a href="/admin/domains" class="btn btn-info fa fa-eye">SHOW LIST</a>
								</center>
							</div>
						</div>
					</section>
				</div>
			</form>
<?php
    }else{
?>
	<a href="/admin/domains?form" class="btn btn-success fa fa-plus">New Domain</a>
	<a href="#set_price" class="btn btn-success fa fa-plus">SET PRICE</a>
  <a href="/admin/domains?setlang" class="btn btn-success fa ">SET LANUAGES</a>
  <a href="/admin/domains-import" class="btn btn-success fa fa-plus">Import Domain</a>
    <br>
    <br>
	<h5 class="title">List of Domains</h5>

	<table id="myTable" class="display table ">
		<thead>
			<tr>
				<th>#</th> 
				<th>DOMAIN ID</th> 
				<th>NAME</th> 
				<th>PRICE</th> 
				<th>STATUS</th> 
				<th>---</th> 
			</tr>
		</thead>
		<tbody>
    <?php $i=1 ?>
    <?php foreach($this->dom as $dom) { ?>
      <tr>
        <td><?= $i ?></td>
        <td><?php echo htmlspecialchars($dom['domain_id']) ?></td>
        <td><?php echo htmlspecialchars($dom['name_dom']) ?></td>
        <td><?php echo htmlspecialchars($dom['price_dom']) ?></td>
        <td><?php echo htmlspecialchars($dom['stat_dom']) ?></td>
        <td><a href="/admin/domains?form&ver=<?php echo htmlspecialchars($dom['domain_id'])?> " class="btn btn-info fa fa-eye">VIEW</a></td>
      </tr>
      <?php $i++ ?>
    <?php } ?>
		</tbody>
	</table>
    <br>
	<h5 class="title">SET PRICES</h5>
    <div id="set_price">
		<form action="/admin/domains" method="GET">
			<div class="row">
                <div class="col-md-5">
                    <label>Select Domain's Tpye</label>
                    <select class="form-control" name="type" required>
                        <option value="">-----</option>
                        <option value=".com">.com</option>
                        <option value=".net">.net</option>
                        <option value=".io">.io</option>
                        <option value=".co">.co</option>
                        <option value=".us">.us</option>
                        <option value=".co.uk">.co.uk</option>
                    </select>
                </div>
                <div class="col-md-5">
                    <label>NEW PRICE</label>
                    <input type="text" name="price" class="form-control" placeholder="WRITE PRICE">
                </div>
                <div class="col-md-2">
                    <label></label>
                    <input type="submit" name="bt_set_price" class="btn btn-success btn-block" value="SET PRICE">
                </div>
            </div>
                <br><br><br>
        </form>
    </div>
    
<?php
    }
?>
