<form action="/admin/domains-import" method="POST" enctype="multipart/form-data" >
			<div class="row">
        <h2>Module of Domains</h2>
				<section>
						<div class="">
							<div class="tab-pane" role="tabpanel" id="complete">
								<div class="step1">
									<div >

                    <label>File</label>
                    <br>
                    <div class="form-group">
                        <div class="icon-addon addon-lg">
                            <input type="file" class="form-control" name="file" placeholder="TXT FILE" required >
                        </div>
                    </div>
									</div>
								</div>


								<center>

									<input type="submit" name="btc" class="btn btn-success fa fa-save" value="IMPORT">
								
									<a href="/admin/domains" class="btn btn-info fa fa-eye">SHOW LIST</a>
								</center>
							</div>
						</div>
					</section>
				</div>
			</form>