<h5 class="title">Set lang of Domains</h5>
<form method="post" action="/admin/domains">
	<table id="myTable" class="display table ">
		<thead>
			<tr>
				<th>#</th> 
				<th>DOMAIN ID</th> 
				<th>NAME</th> 
				<th>PRICE</th> 

				<th>---</th> 
			</tr>
		</thead>
		<tbody>
    <?php $i=1 ?>
    <?php foreach($this->doms as $dom) { ?>
      <tr>
        <td><?= $i ?></td>
        <td><?php echo htmlspecialchars($dom['domain_id']) ?></td>
        <td><?php echo htmlspecialchars($dom['name_dom']) ?></td>
        <td><?php echo htmlspecialchars($dom['price_dom']) ?></td>

        <td><input type="checkbox" name="id[]" value="<?=$dom['domain_id']?>" /></td>
      </tr>
      <?php $i++ ?>
    <?php } ?>
		</tbody>
	</table>
  
  <div class="row">
      <div class="col-md-12">
          <label>Select Language</label>
          <select class="form-control" name="lang" required>
              <option value="">---</option>
              <?php foreach($this->langs as $lang){ ?>
              <option value="<?=$lang['lenguage_id']?>"><?=$lang['name_leng']?></option>
              <?php } ?>
          </select>
      </div>
      <div class="col-md-12">
          <label></label>
          <input type="submit" name="set_lang" class="btn btn-success btn-block" value="SET LANGUAGE">
      </div>
  </div>
</form>