<?php if(isset($_GET['form'])){ ?>

		<form action="/admin/expertises" method="POST">
			<div class="row">
                <h2>Module of Expertise</h2>
				<section>
						<div class="">
							<div class="tab-pane" role="tabpanel" id="complete">
								<div class="step1">
									<div >
										<?php
											if($this->exp){
										?>
										<label>EXPERTISE ID</label>
										<br>
										<div class="form-group">
											<div class="icon-addon addon-lg">
												<input type="text" class="form-control" name="id" minlength="2" placeholder="" maxlength="10" value="<?php echo htmlspecialchars($this->exp['expertise_id']);?>" required <?php echo ($this->exp)?'readonly':'';?>>
											</div>
										</div>
										<?php
										}
										?>
                      <label>EXPERTISE DESCRIPTION</label>
                      <br>
                      <div class="form-group">
                          <div class="icon-addon addon-lg">
                              <input type="text" class="form-control" name="nam" minlength="3" placeholder="EXPERTISE" maxlength="" required value="<?php echo htmlspecialchars($this->exp['desc_expe']);?>">
                          </div>
                      </div>
									</div>
								</div>
								<center>
									<?php
										if($this->exp){
									?>
									<input type="submit" name="btc" class="btn btn-success fa fa-save" value="SAVE CHANGES">
									<a href="/admin/expertises?ele=<?php echo htmlspecialchars($this->exp['expertise_id']);?>" class="btn btn-danger fa fa-trash-o" onclick="return confirm('Are you sure?');">DELETE</a>
									<?php
										}else{

									?>
									<button type="submit" class="btn btn-success fa fa-save" name="btg"> SUBMIT INFORMATION</button>
									<?php
										}
									?>
									<a href="/admin/expertises" class="btn btn-info fa fa-eye">SHOW LIST</a>
								</center>
							</div>
						</div>
					</section>
				</div>
			</form>


<?php
    }else{
?>

	<a href="/admin/expertises?form" class="btn btn-success fa fa-plus">New Expertise</a>
	<h2 class="title">List of Expertises</h2>

	<table id="myTable" class="display table ">
		<thead>
			<tr>
				<th>#</th> 
				<th>EXPERTISE ID</th> 
				<th>EXPERTISE DESCRIPTION</th> 
				<th>---</th> 
			</tr>
		</thead>
		<tbody>

    <?php $i=1 ?>
    <?php foreach($this->exp as $exp) { ?>
      <tr>
        <td><?= $i ?></td>
        <td><?php echo htmlspecialchars($exp['expertise_id']) ?></td>
        <td><?php echo htmlspecialchars($exp['desc_expe']) ?></td>
        <td><a href="/admin/expertises?form&ver=<?php echo htmlspecialchars($exp['expertise_id'])?> " class="btn btn-info fa fa-eye">VIEW</a></td>
      </tr>
      <?php $i++ ?>
    <?php } ?>
		</tbody>
	</table>

<?php

    }

?>
