<?php if(isset($_GET['form'])){ ?>

		<form action="/admin/extension" method="POST">
			<div class="row">
                <h2>Module of Expertise</h2>
				<section>
						<div class="">
							<div class="tab-pane" role="tabpanel" id="complete">
								<div class="step1">
									<div >
										<?php
											if(isset($this->ext)){
										?>
										<label>Extension ID</label>
										<br>
										<div class="form-group">
											<div class="icon-addon addon-lg">
												<input type="text" class="form-control" name="id" minlength="2" placeholder="" maxlength="10" value="<?php echo htmlspecialchars($this->ext['id']);?>" required <?php echo (isset($this->ext))?'readonly':'';?>>
											</div>
										</div>
										<?php
										}
										?>
                      <label>Extension</label>
                      <br>
                      <div class="form-group">
                          <div class="icon-addon addon-lg">
                              <input type="text" class="form-control" name="extension" minlength="3" placeholder="Extension" maxlength="" required value="<?php echo htmlspecialchars($this->ext['extension']);?>">
                          </div>
                      </div>
                      
                      <label>Price Extension</label>
                      <br>
                      <div class="form-group">
                          <div class="icon-addon addon-lg">
                              <input type="text" class="form-control" name="price" minlength="1" placeholder="Price" maxlength="" required value="<?php echo htmlspecialchars($this->ext['price']);?>">
                          </div>
                      </div>
                      
                      <label>Description Extension</label>
                      <br>
                      <div class="form-group">
                          <div class="icon-addon addon-lg">
                              <input type="text" class="form-control" name="ext_desc" minlength="3" placeholder="Description" maxlength="" required value="<?php echo htmlspecialchars($this->ext['ext_desc']);?>">
                          </div>
                      </div>
									</div>
								</div>
								<center>
									<?php
										if(isset($this->ext)){
									?>
									<input type="submit" name="update" class="btn btn-success fa fa-save" value="SAVE CHANGES">
                  
									<a href="/admin/extension?ele=<?php echo htmlspecialchars($this->ext['id']);?>" class="btn btn-danger fa fa-trash-o" onclick="return confirm('Are you sure?');">DELETE</a>
									<?php
										}else{

									?>
									<button type="submit" class="btn btn-success fa fa-save" name="btg"> SUBMIT INFORMATION</button>
									<?php
										}
									?>
									<a href="/admin/extension" class="btn btn-info fa fa-eye">SHOW LIST</a>
								</center>
							</div>
						</div>
					</section>
				</div>
			</form>


<?php
    }else{
?>

	<a href="/admin/extension?form" class="btn btn-success fa fa-plus">New Extension</a>
	<h2 class="title">List of Domains Extensions </h2>

	<table id="myTable" class="display table ">
		<thead>
			<tr>
				<th>#</th> 
				<th>Extension ID</th> 
        <th>Extension</th> 
				<th>Price</th> 
        <th>Description</th> 
				<th>---</th> 
			</tr>
		</thead>
		<tbody>
		<?php
			/*$sql = "SELECT * FROM expertises ORDER BY expertise_id DESC;";  
			$r = $orm->consultaPersonalizada($sql);
			$i = 0;
			while($f = $r->fetch_array()){
				$i++;
				echo "<tr>";
				echo "<td>$i</td>";
				echo "<td>".htmlspecialchars($f[0])."</td>";
				echo "<td>".htmlspecialchars($f[1])."</td>";
				echo "<td><a href='?op=expertises&form&ver=".htmlspecialchars($f[0])."' class='btn btn-info fa fa-eye'>VIEW</a></td>";
				echo "</tr>";
			}*/
		?>
    <?php $i=1 ?>
    <?php foreach($this->exts as $ext) { ?>
      <tr>
        <td><?= $i ?></td>
        <td><?php echo htmlspecialchars($ext['id']) ?></td>
        <td><?php echo htmlspecialchars($ext['extension']) ?></td>
        <td><?php echo htmlspecialchars($ext['price']) ?></td>
        <td><?php echo htmlspecialchars($ext['ext_desc']) ?></td>
        <td><a href="/admin/extension?form&ver=<?php echo htmlspecialchars($ext['id'])?> " class="btn btn-info fa fa-eye">VIEW</a></td>
      </tr>
      <?php $i++ ?>
    <?php } ?>
		</tbody>
	</table>

<?php

    }

?>
