<?php if(isset($_GET['form'])){ ?>

		<form action="/admin/groups" method="POST">
			<div class="row">
                <h2>Module of Groups</h2>
				<section>
						<div class="">
							<div class="tab-pane" role="tabpanel" id="complete">
								<div class="step1">
									<div >
										<?php
											if(isset($this->grl)){
										?>
										<label>GROUP ID</label>
										<br>
										<div class="form-group">
											<div class="icon-addon addon-lg">
												<input type="text" class="form-control" name="id" minlength="2" placeholder="" maxlength="10" value="<?php echo htmlspecialchars($this->grl['group_id']);?>" required <?php echo (isset($this->grl))?'readonly':'';?>>
											</div>
										</div>
										<?php
										}
										?>
                      <label>GROUP DESCRIPTION</label>
                      <br>
                      <div class="form-group">
                          <div class="icon-addon addon-lg">
                              <input type="text" class="form-control" name="nam" minlength="3" placeholder="DESCRIPTION" maxlength="" required value="<?php echo htmlspecialchars($this->grl['name_group']);?>">
                          </div>
                      </div>
                      <br>
                      <label>PRICE FOR LANGUAGES IN THIS GROUP</label>
                      <br>
                      <div class="form-group">
                          <div class="icon-addon addon-lg">
                              <input type="text" class="form-control" name="pri" minlength="1" placeholder="PRICE" maxlength="" required value="<?php echo htmlspecialchars($this->grl['price_group']);?>">
                          </div>
                      </div>
									</div>
								</div>
								<center>
									<?php
										if(isset($this->grl)){
									?>
									<input type="submit" name="btc" class="btn btn-success fa fa-save" value="SAVE CHANGES">
									<a href="/admin/groups?ele=<?php echo htmlspecialchars($this->grl['group_id']);?>" class="btn btn-danger fa fa-trash-o" onclick="return confirm('Are you sure?');">DELETE</a>
									<?php
										}else{

									?>
									<button type="submit" class="btn btn-success fa fa-save" name="btg"> SUBMIT INFORMATION</button>
									<?php
										}
									?>
									<a href="/admin/groups" class="btn btn-info fa fa-eye">SHOW LIST</a>
								</center>
							</div>
						</div>
					</section>
				</div>
			</form>

<?php }else{ ?>

	<a href="/admin/groups?form" class="btn btn-success fa fa-plus">New Group</a>
	<h2 class="title">List of Groups</h2>

	<table id="myTable" class="display table ">
		<thead>
			<tr>
				<th>#</th> 
				<th>GROUP ID</th> 
				<th>DESCRIPTION</th> 
				<th>PRICE</th> 
				<th>---</th> 
			</tr>
		</thead>
		<tbody>
    <?php $i=1 ?>
    <?php foreach($this->gr_lang as $grLang) { ?>
      <tr>
        <td><?= $i ?></td>
        <td><?php echo htmlspecialchars($grLang['group_id']) ?></td>
        <td><?php echo htmlspecialchars($grLang['name_group']) ?></td>
        <td><?php echo htmlspecialchars($grLang['price_group']) ?></td>
        <td><a href="/admin/groups?form&ver=<?php echo htmlspecialchars($grLang['group_id'])?> " class="btn btn-info fa fa-eye">VIEW</a></td>
      </tr>
      <?php $i++ ?>
    <?php } ?>
		</tbody>
	</table>
  <br>
<h5 class="title">SET PRICES</h5>
    <div id="set_price">
		<form action="/admin/groups" method="POST">
			<div class="row">
                <div class="col-md-5">
                    <label>Select Type Price</label>
                    <select class="form-control" name="type" required>
                        <option value="">-----</option>
                        <option value="plus">"+" (plus)</option>
                        <option value="minus">"-" (minus)</option>
                    </select>
                </div>
                <div class="col-md-5">
                    <label>NEW PRICE</label>
                    <input type="text" name="price" class="form-control" required placeholder="Percent price">
                </div>
                <div class="col-md-2">
                    <label></label>
                    <input type="submit" name="bt_set_price" class="btn btn-success btn-block" value="SET PRICE">
                </div>
            </div>
                <br><br><br>
        </form>
    </div>
<?php } ?>
