<div class="row">
	<div class="col-md-10 col-md-offset-1">
        <div class="row">
            <h2 class="title">Home, Welcome <?php echo Zend_Auth::getInstance()->getIdentity()->nomb_adm;?></h2>
            
            <table class="table table-bordered table-stripted">
                <tr class="info">
                    <th colspan="2" style="text-align:center;">INFORMATION PANEL</th>
                </tr>
                <tr>
                    <th>Registred Translators</th>
                    <th><?php echo $this->nt;?></th>
                </tr>
                <tr>
                    <th>Registred Agencys</th>
                    <th><?php echo $this->na;?></th>
                </tr>
                <tr>
                    <th>Registred Plans</th>
                    <th><?php echo $this->np;?></th>
                </tr>
                <tr>
                    <th>Registred Expertises</th>
                    <th><?php echo $this->ne;?></th>
                </tr>
                <tr>
                    <th>Registred Domains</th>
                    <th><?php echo $this->nd;?></th>
                </tr>
                <tr>
                    <th>Registred Languages</th>
                    <th><?php echo $this->nl;?></th>
                </tr>
                <tr>
                    <th>Orders Plans</th>
                    <th><?php echo $this->no;?></th>
                </tr>
            </table>
        </div>
    </div>
</div>