<?php if(isset($_GET['form'])){ ?>

		<form action="/admin/languages" method="POST">
			<div class="row">
                <h2>Module of Languages</h2>
				<section>
						<div class="">
							<div class="tab-pane" role="tabpanel" id="complete">
								<div class="step1">
									<div >
										<?php
											if(isset($this->lang)){
										?>
										<label>LANGUAGE ID</label>
										<br>
										<div class="form-group">
											<div class="icon-addon addon-lg">
												<input type="text" class="form-control" name="id" minlength="2" placeholder="" maxlength="10" value="<?php echo htmlspecialchars($this->lang['lenguage_id']);?>" required <?php echo (isset($this->lang))?'readonly':'';?>>
											</div>
										</div>
										<?php
										}
										?>
                      <label>LANGUAGE DESCRIPTION</label>
                      <br>
                      <div class="form-group">
                          <div class="icon-addon addon-lg">
                              <input type="text" class="form-control" name="nam" minlength="3" placeholder="LANGUAGE" maxlength="" required value="<?php echo htmlspecialchars($this->lang['name_leng']);?>">
                          </div>
                      </div>
                      <br>
                      <label>GROUP</label>
                      <br>
                      <div class="form-group">
                          <div class="icon-addon addon-lg">
                              <select name="idg" class="form-control" required>
                                  <option value="">----</option>
                                  <?php foreach($this->group as $group){ ?>
                                    <?php if(isset($this->lang) && $this->lang['group_id']==$group['group_id']) { ?>
                                    <option value="<?php echo htmlspecialchars($group['group_id']) ?>" selected="selected"><?php echo htmlspecialchars($group['name_group']) ?></option>
                                    <?php } else { ?>
                                    <option value="<?php echo htmlspecialchars($group['group_id']) ?>"><?php echo htmlspecialchars($group['name_group']) ?></option>
                                    <?php } ?>
                                  <?php } ?>
                              </select>
                          </div>
                      </div>
									</div>
								</div>
								<center>
									<?php
										if(isset($this->lang)){
									?>
									<input type="submit" name="btc" class="btn btn-success fa fa-save" value="SAVE CHANGES">
									<a href="/admin/languages?ele=<?php echo htmlspecialchars($this->lang['lenguage_id']);?>" class="btn btn-danger fa fa-trash-o" onclick="return confirm('Are you sure?');">DELETE</a>
									<?php
										}else{

									?>
									<button type="submit" class="btn btn-success fa fa-save" name="btg"> SUBMIT INFORMATION</button>
									<?php
										}
									?>
									<a href="/admin/languages" class="btn btn-info fa fa-eye">SHOW LIST</a>
								</center>
							</div>
						</div>
					</section>
				</div>
			</form>


<?php
    }else{
?>

	<a href="/admin/languages?form" class="btn btn-success fa fa-plus">New Language</a>
	<h2 class="title">List of Languages</h2>

	<table id="myTable" class="display table ">
		<thead>
			<tr>
				<th>#</th> 
				<th>LANGUAGE ID</th> 
				<th>LANGUAGE</th> 
				<th>GROUP</th> 
				<th>PRICE</th> 
				<th>---</th> 
			</tr>
		</thead>
		<tbody>
		<?php
      /*      $sql = "SELECT * FROM languages L, group_languages G WHERE G.group_id=L.group_id ORDER BY L.name_leng;";
			$r = $orm->consultaPersonalizada($sql);
			$i = 0;
			while($f = $r->fetch_array()){
				$i++;
				echo "<tr>";
				echo "<td>$i</td>";
				echo "<td>".htmlspecialchars($f[0])."</td>";
				echo "<td>".htmlspecialchars($f[1])."</td>";
				echo "<td>".htmlspecialchars($f[4])."</td>";
				echo "<td>".htmlspecialchars($f[5])."</td>";
				echo "<td><a href='?op=languages&form&ver=".htmlspecialchars($f[0])."' class='btn btn-info fa fa-eye'>VIEW</a></td>";
				echo "</tr>";
			}*/
		?>
    <?php $i=1 ?>
    <?php foreach($this->langs as $lang) { ?>
      <tr>
        <td><?= $i ?></td>
        <td><?php echo htmlspecialchars($lang['lenguage_id']) ?></td>
        <td><?php echo htmlspecialchars($lang['name_leng']) ?></td>
        <td><?php echo htmlspecialchars($lang['name_group']) ?></td>
        <td><?php echo htmlspecialchars($lang['price_group']) ?></td>
        <td><a href="/admin/languages?form&ver=<?php echo htmlspecialchars($lang['lenguage_id'])?> " class="btn btn-info fa fa-eye">VIEW</a></td>
      </tr>
      <?php $i++ ?>
    <?php } ?>
		</tbody>
	</table>

<?php

    }

?>
