<div class="row">
  <div class="col-lg-12">
    <br />
    <table class="table">
      <tr>
        <th>LANG ID</th>
        <th>NAME</th>
        <th>MACROS</th>
        <th></th>
      </tr>
      <?php foreach($this->langs as $lang){ ?>
        <tr>
          <td><?=$lang['lenguage_id']?></td>
          <td><?=$lang['name_leng']?></td>
          <td ><?=(is_null($lang['data']))?'Not macros':''?></td>
          <td><a href="/admin/macros?id=<?=$lang['lenguage_id']?>">Edit</a></td>
        </tr>
      <?php } ?>
    </table>
  </div>
</div>