<div class="row">

  <div class="col-lg-12">
    <form action="/admin/macros" method="post">
      <input type="hidden" name="lang_id" value="<?=$this->langs['lenguage_id']?>" />
      <div class="row">
        <div class="col-lg-6">
          
          <?php foreach($this->default as $dk=>$dv) { $i=false; ?>
            <label for="<?=$dk?>"><?=$dk?> </label><br>(<?=$dv?>)<br>
            <?php foreach ($this->macros as $k=>$v){?>
              <?php if($dk==$k){ $i=true; ?>
              <input class="form-control" name="macros[<?=$dk?>]" id="<?=$dk?>" value="<?=$v?>" /><br>
              <?php } ?>
            <?php } ?>
            <?php if(!$i){ ?>
            <input class="form-control" name="macros[<?=$dk?>]" id="<?=$dk?>" value="" /><br>
            <?php } ?>
          <?php } ?>
        </div>
        
        <div class="col-lg-6">
          
        </div>
        
        
      </div>
      <br />
      
      <div class="row">
        <div class="col-lg-12">
          <input type="submit" class="btn btn-block btn-primary" value="Save" />
        </div>
      </div>
    </form>
  </div>

</div>