<?php
    if(isset($_GET['form'])){
?>

<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<form action="/admin/plans" method="POST">
			<div class="row">
		        <h2 class="title">Module of Plan</h2>
				<section>
					<div class="tab-pane" role="tabpanel" id="complete">
						<div class="step1">
							<div >
								<?php
									if($this->plf){
								?>
								<label>CODIGO</label>
								<br>
								<div class="form-group">
									<div class="icon-addon addon-lg">
										<input type="text" class="form-control" name="id" minlength="2" placeholder="" maxlength="10" value="<?php echo htmlspecialchars($this->plf['plan_id']);?>" required <?php echo ($this->plf)?'readonly':'';?>>
										<label class="fa fa-list-ol"></label>
									</div>
								</div>
								<?php
								}
								?>
                  <label>NAME</label>
                  <br>
                  <div class="form-group">
                      <div class="icon-addon addon-lg">
                          <input type="text" class="form-control" name="nam" minlength="3" placeholder="NAME" maxlength="25" required value="<?php echo htmlspecialchars($this->plf['name_plan']);?>">
                          <label class="fa fa-list-ol"></label>
                      </div>
                  </div>
								<label>DESCRIPTION</label>
								<br>
								<div class="form-group">
									<div class="icon-addon addon-lg">
										<textarea name="des" class="form-control" min="3" maxlength="250" placeholder="DESCRIPTION" ><?php echo htmlspecialchars($this->plf['desc_plan']);?></textarea>
										<label class="fa fa-pencil"></label>
									</div>
								</div>
							</div>
						</div>

						<div class="step44">
							<label>COMBINATIONS</label>
							<br>
							<div class="form-group">
								<div class="icon-addon addon-lg">
									<input type="number" class="form-control" name="com" minlength="1" placeholder="COMBINATIONS" maxlength="3" required value="<?php echo htmlspecialchars($this->plf['quan_plan']);?>">
									<label class="fa fa-list-ol"></label>
								</div>
							</div>

							<label>EXPERTISES</label>
							<br>
							<div class="form-group">
								<div class="icon-addon addon-lg">
									<input type="number" class="form-control" name="exp" minlength="1" placeholder="EXPERTISES" maxlength="10" required value="<?php echo htmlspecialchars($this->plf['expe_plan']);?>">
									<label class="fa fa-list-ol"></label>
								</div>
							</div>
							
							<label>PRICE</label>
							<br>
							<div class="form-group">
								<div class="icon-addon addon-lg">
									<input type="number" class="form-control" name="pri" minlength="1" placeholder="PRICE" maxlength="10" required value="<?php echo htmlspecialchars($this->plf['price_plan']);?>">
									<label class="fa fa-list-ol"></label>
								</div>
							</div>
						</div>
						<center>
							<?php
								if($this->plf){
							?>
							<button type="submit" name="btc" class="btn btn-body fa fa-save"> SAVE CHANGES</button>
							<a href="/admin/plans?ele=<?php echo htmlspecialchars($this->plf['plan_id']);?>" class="btn btn-body fa fa-trash-o" onclick="return confirm('Are you sure?');">DELETE</a>
							<?php
								}else{

							?>
							<button type="submit" class="btn btn-body fa fa-save" name="btg"> SUBMIT INFORMATION</button>
							<?php
								}
							?>
							<a href="/admin/plans" class="btn btn-body fa fa-eye"> SHOW LIST</a>
						</center>
					</div>
				</section>
			</div>
		</form>
	</div>
</div>


<?php


    }else{


?>

	<a href="?op=plans&form" class="btn btn-success fa fa-plus">New Plan</a>
	<h2 class="title">List of Plans</h2>

	<table id="myTable" class="display table ">
		<thead>
			<tr>
				<th>#</th> 
				<th>PLAN ID</th> 
				<th>NAME</th> 
				<th>COMBINATIONS</th> 
				<th>PRICE</th> 
				<th>EXPERTISES</th> 
				<th>---</th> 
			</tr>
		</thead>
		<tbody>
		<?php
			/*$sql = "SELECT * FROM plans ORDER BY plan_id DESC;";  
			$r = $orm->consultaPersonalizada($sql);
			$i = 0;
			while($f = $r->fetch_array()){
				$i++;
				echo "<tr>";
				echo "<td>$i</td>";
				echo "<td>".htmlspecialchars($f[0])."</td>";
				echo "<td>".htmlspecialchars($f[1])."</td>";
				echo "<td>".htmlspecialchars($f[3])."</td>";
				echo "<td>".htmlspecialchars($f[4])."</td>";
				echo "<td>".htmlspecialchars($f[5])."</td>";
				echo "<td><a href='?op=plans&form&ver=".htmlspecialchars($f[0])."' class='btn btn-info fa fa-eye'>VIEW</a></td>";
				echo "</tr>";
			}*/
		?>
    <?php $i=1 ?>
    <?php foreach($this->pl as $pl) { ?>
      <tr>
        <td><?= $i ?></td>
        <td><?php echo htmlspecialchars($pl['plan_id']) ?></td>
        <td><?php echo htmlspecialchars($pl['name_plan']) ?></td>
        <td><?php echo htmlspecialchars($pl['quan_plan']) ?></td>
        <td><?php echo htmlspecialchars($pl['price_plan']) ?></td>
        <td><?php echo htmlspecialchars($pl['expe_plan']) ?></td>
        <td><a href="/admin/plans?form&ver=<?php echo htmlspecialchars($pl['plan_id'])?> " class="btn btn-info fa fa-eye">VIEW</a></td>
      </tr>
      <?php $i++ ?>
    <?php } ?>
		</tbody>
	</table>

<?php

    }

?>
