<?php if(isset($_GET['form'])){ ?>
<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<form action="/admin/translators" method="POST">
			<div class="row">
		        <h2 class="title">Module of Translators</h2>
				<section>
					<div class="tab-pane" role="tabpanel" id="complete">
						<div class="step1">
							<div >
								<?php if(isset($this->tran)){ ?>
                <label>ID</label>
								<br>
								<div class="form-group">
									<div class="icon-addon addon-lg">
										<input type="text" class="form-control" name="id" minlength="2" placeholder="ID" maxlength="" value="<?php echo htmlspecialchars($this->tran[0]['id']);?>" required <?php echo (isset($this->tran))?'readonly':'';?>>
										<label class="fa fa-list-ol"></label>
									</div>
								</div>
                <?php } ?>
                  <label>E-MAIL</label>
                  <br>
                  <div class="form-group">
                      <div class="icon-addon addon-lg">
                          <input type="text" class="form-control" name="ema" minlength="3" placeholder="E-MAIL" maxlength="25" required value="<?php echo htmlspecialchars($this->tran[0]['email']);?>">
                          <label class="fa fa-list-ol"></label>
                      </div>
                  </div>
                  
                  <label>NAME</label>
                  <br>
                  <div class="form-group">
                      <div class="icon-addon addon-lg">
                          <input type="text" class="form-control" name="nam" minlength="3" placeholder="NAME" maxlength="25" required value="<?php echo htmlspecialchars($this->tran[0]['name_tran']);?>">
                          <label class="fa fa-list-ol"></label>
                      </div>
                  </div>
                  <label>LAST NAME</label>
                  <br>
                  <div class="form-group">
                      <div class="icon-addon addon-lg">
                          <input type="text" class="form-control" name="las" minlength="3" placeholder="LAST NAME" maxlength="25" required value="<?php echo htmlspecialchars($this->tran[0]['last_tran']);?>">
                          <label class="fa fa-list-ol"></label>
                      </div>
                  </div>
                  <label>PHONE NUMBER</label>
                  <br>
                  <div class="form-group">
                      <div class="icon-addon addon-lg">
                          <input type="text" class="form-control" name="pho" minlength="3" placeholder="NAME" maxlength="25" required value="<?php echo htmlspecialchars($this->tran[0]['phon_tran']);?>">
                          <label class="fa fa-list-ol"></label>
                      </div>
                  </div>
                  <label>PASSWORD</label>
                  <br>
                  <div class="form-group">
                      <div class="icon-addon addon-lg">
                          <input type="password" class="form-control" name="pas" minlength="3" placeholder="PASSWORD" maxlength="32" value="">
                          <label class="fa fa-list-ol"></label>
                      </div>
                  </div>
							</div>
						</div>

						<center>
							<?php if(isset($this->tran)){ ?>
							<button type="submit" name="btc" class="btn btn-body fa fa-save"> SAVE CHANGES</button>
              
							<a href="/admin/translators?ele=<?php echo ($this->tran[0]['id']);?>" class="btn btn-body fa fa-trash-o" onclick="return confirm('Are you sure?');">DELETE</a>
							<?php }else{ ?>
							<button type="submit" class="btn btn-body fa fa-save" name="btg"> SUBMIT INFORMATION</button>
							<?php } ?>
							<a href="/admin/translators" class="btn btn-body fa fa-eye"> SHOW LIST</a>
						</center>
					</div>
				</section>
			</div>
		</form>
	</div>
</div>


<?php


    }else{


?>

	<a href="?op=translators&form" class="btn btn-success fa fa-plus">New Translator</a>
	<h2 class="title">List of Translators</h2>

	<table id="myTable" class="display table ">
		<thead>
			<tr>
				<th>#</th> 
				<th>EMAIL</th> 
				<th>NAME</th> 
				<th>LAST NAME</th> 
				<th>PHONE</th> 
				<th>WAY TO PAYMENT</th> 
				<th>---</th> 
			</tr>
		</thead>
		<tbody>
		<?php
			/*$sql = "SELECT * FROM translators ORDER BY name_tran DESC;";  
			$r = $orm->consultaPersonalizada($sql);
			$i = 0;
			while($f = $r->fetch_array()){
				$i++;
				echo "<tr>";
				echo "<td>$i</td>";
				echo "<td>".htmlspecialchars($f[0])."</td>";
				echo "<td>".htmlspecialchars($f[1])."</td>";
				echo "<td>".htmlspecialchars($f[2])."</td>";
				echo "<td>".htmlspecialchars($f[4])."</td>";
				echo "<td>".htmlspecialchars($f[5])."</td>";
				echo "<td><a href='?op=translators&form&ver=".htmlspecialchars($f[0])."' class='btn btn-info fa fa-eye'>VIEW</a></td>";
				echo "</tr>";
			}*/
		?>
    <?php $i=1 ?>
    <?php foreach($this->trans as $tran) { ?>
      <tr>
        <td><?= $i ?></td>
        <td><?php echo htmlspecialchars($tran['id']) ?></td>
        <td><?php echo htmlspecialchars($tran['email']) ?></td>
        <td><?php echo htmlspecialchars($tran['name_tran']) ?></td>
        <td><?php echo htmlspecialchars($tran['phon_tran']) ?></td>
        <td><?php echo htmlspecialchars($tran['way_tran']) ?></td>
        <td><a href="/admin/translators?form&ver=<?php echo htmlspecialchars($tran['id'])?> " class="btn btn-info fa fa-eye">VIEW</a></td>
      </tr>
      <?php $i++ ?>
    <?php } ?>
		</tbody>
	</table>

<?php

    }

?>